<div class="box">
           	  <div class="row-fluid">
                  <div class="span1">
                    <img src="images/tmp/dp_andrew.png" class="dp">
                    
                  </div><!--span-->
             	  <div class="span8">
                    <textarea class="input-xlarge chatbox">Say someting</textarea>
                  </div><!--span-->
                  <div class="span3 test" style="text-align:right;">
                    <a name="#" rel="tooltip" title="Mike Bartlett" class="dp-tooltip"><img src="images/tmp/dp_mike.png" class="dp"></a>
                    <a name="#" rel="tooltip" title="Matt Rees (Mobile)" class="dp-tooltip"><img src="images/tmp/dp_matt.png" class="dp mobile"></a>
                    <a name="#" rel="tooltip" title="Adam Sandler (Offline)" class="dp-tooltip"><img src="images/tmp/dp_adam.png" class="dp offline"></a>
                  </div><!--span-->
             	 
               </div><!--row-->
           
            	<div class="row-fluid">
                	<div class="span12"><hr></div>
                </div>
            
            <!-- the chat content below is an ugly ugly hack, will sort it out. Fluid rows have their downside. -->
            
            
              <div class="row-fluid">
                    <div class="span1"><img src="images/tmp/dp_spacer.png" class="dp dpspacer"></div>
                    <div class="span10 chat-bubble-containter remote">
                      <div class="chat-bubble remote"  rel="tooltip" title="Today, 12:12">This is some stuff Mike said. It wasn't very interesting.</div>
                      
                     </div>
                    <div class="span1"><a name="#" rel="tooltip" title="Mike Bartlett" class="dp-tooltip"><img src="images/tmp/dp_mike.png" class="dp"></a></div>
              </div>
          
              <div class="row-fluid">
                    <div class="span1"><img src="images/tmp/dp_andrew.png" class="dp"></div>
                    <div class="span10 chat-bubble-containter">
                      <div class="chat-bubble" rel="tooltip" title="Today, 12:10">something something something</div>
                      
                     </div>
                    <div class="span1"><img src="images/tmp/dp_spacer.png" class="dp dpspacer"></div>
              </div>
              
              <div class="row-fluid">
                    <div class="span1"><img src="images/tmp/dp_spacer.png" class="dp dpspacer"></div>
                    <div class="span10 chat-bubble-containter remote">
                      <div class="chat-bubble remote" rel="tooltip" title="Yesterday, 19:45">Blah blah blah, I'm Welsh but not really.</div>
                      
                     </div>
                    <div class="span1"><a name="#" rel="tooltip" title="Matt Rees (Mobile)" class="dp-tooltip"><img src="images/tmp/dp_matt.png" class="dp mobile"></a></div>
              </div>
              
              <div class="row-fluid">
                    <div class="span1"><img src="images/tmp/dp_spacer.png" class="dp dpspacer"></div>
                    <div class="span10 chat-bubble-containter remote">
                      <div class="chat-bubble remote" rel="tooltip" title="Yesterday, 19:44">Something Matt would say.</div>
                      
                     </div>
                    <div class="span1"><a name="#" rel="tooltip" title="Matt Rees (Mobile)" class="dp-tooltip"><img src="images/tmp/dp_matt.png" class="dp mobile"></a></div>
              </div>
              
              
             </div> <!-- box -->
            