<div class="box">
           	  <div class="row-fluid">
                  <div class="span1">
                    <img src="/avatar" class="dp">

                  </div><!--span-->
             	  <div class="span8">
                    <textarea class="input-xlarge chatbox" placeholder="Say something. Press Enter to send."></textarea>
                  </div><!--span-->
                  <div class="span3 panel-online-status" style="text-align:right;">
                    <a name="#" rel="tooltip" title="Mike Bartlett" class="dp-tooltip"><img src="images/tmp/dp_mike.png" class="dp"></a>
                    <a name="#" rel="tooltip" title="Matt Rees (Mobile)" class="dp-tooltip"><img src="images/tmp/dp_matt.png" class="dp mobile"></a>
                    <a name="#" rel="tooltip" title="Adam Sandler (Offline)" class="dp-tooltip"><img src="images/tmp/dp_adam.png" class="dp offline"></a>
                  </div><!--span-->

               </div><!--row-->

            	<div class="row-fluid">
                	<div class="span12"><hr></div>
                </div>

            <!-- the chat content below is an ugly ugly hack, will sort it out. Fluid rows have their downside. -->
              <div class="frame-chat">

                  <!--
                  <div class="row-fluid">
                        <div class="span1"><img src="images/tmp/dp_spacer.png" class="dp dpspacer"></div>
                        <div class="span10 chat-bubble-containter remote">
                          <div class="chat-bubble remote" rel="tooltip" title="Yesterday, 19:44">Something Matt would say.</div>

                         </div>
                        <div class="span1"><a name="#" rel="tooltip" title="Matt Rees (Mobile)" class="dp-tooltip"><img src="images/tmp/dp_matt.png" class="dp mobile"></a></div>
                  </div>
                   -->
              </div><!-- frame-chat -->

              <div id="loadmoreajaxloader" style="display:none">MOO</div>
             </div> <!-- box -->
