
<div class="row-fluid">
    <div class="span1">
        <img src="images/tmp/dp_andrew.png" class="dp">
    </div>
    <div class="span10 chat-bubble-containter">
        <div class="chat-bubble" rel="tooltip" title="Today, 12:10">something something something</div>
    </div>
    <div class="span1">
        <img src="images/tmp/dp_spacer.png" class="dp dpspacer">
    </div>
</div>