
<div class="row-fluid">
    <div class="span1">
        <img src="{{fromUserAvatarUrlSmall}}" class="dp">
    </div>
    <div class="span10 chat-bubble-containter">
        <div class="chat-bubble timeago" rel="tooltip" data-sent="{{sent}}">{{text}}</div>
    </div>
    <div class="span1">
        <img src="images/tmp/dp_spacer.png" class="dp dpspacer">
    </div>
</div>