
<div class="row-fluid">
    <div class="span1">
        <img src="images/tmp/dp_spacer.png" class="dp dpspacer">
    </div>
    <div class="span10 chat-bubble-containter remote">
        <div class="chat-bubble remote" rel="tooltip" title="Today, 12:12">{{text}}</div>

    </div>
    <div class="span1">
        <a name="#" rel="tooltip" title="Mike Bartlett" class="dp-tooltip"><img src="images/tmp/dp_mike.png" class="dp"></a>
    </div>
</div>
