 <div class="trpModalTitle">
    <div style="text-align: center">
      {{widget "avatar" user=user size='m'}}
    </div>
    <div style="text-align: center">
      {{user.displayName}}<br>
      {{user.email}}
    </div>
</div>

<div class="trpModalRequestForm" style="text-align: center;" >
   <a href="#!" id="request-accept-button" style="text-decoration: none">
    <div class="trpBtnGreen trpButtonMedium">
      Accept Request
    </div>
  </a>

  <a href="#!" id="request-reject-button" style="text-decoration: none">
    <div class="trpBtnRed trpButtonMedium">
      Reject Request
    </div>
  </a>
</div>
<br><Br>