<div class="trpBodyMedium">
	<div>{{user.displayName}} has requested access to this troupe.</div>
</div>

<div class="trpModalButton trpButtonBig trpButtonGreen button">
<a href="#!" id="request-accept-button">Accept Request</a>
</div>

<div class="trpModalButton trpButtonBig trpButtonGreen button">
<a href="#!" id="request-reject-button">Reject Request</a>
</div>