        </center>
      </td>
    </tr>
    <tr>
      <td>
        <br><br>
        <table class="row">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td align="center">
                    <center>
                      <p>Copyright © 2016 Troupe Technology Limited<br>All rights reserved.</p>
                    </center>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
