@import "colors";
@import "../../../../../less/components/menu/room/room-item.less";

.room-item--favourite {
  .m-room-item();
  position: relative;

  @start-icon-height: 2rem;
  &:before {
    content:     '\e803';
    display:     block;
    position:    absolute;
    top:         -.3rem;
    left:        1.8rem;
    height:      @start-icon-height;
    width:       @start-icon-height;
    font-family: fontello;
    color:       @search-message-decal-color;
    z-index:     -1;
  }

  &.temp {
    opacity: .2;
  }
}
