@import "../../../../../less/components/menu/room/empty-detail";
@import "../../../../../less/components/menu/room/empty-img";

.empty-all {
  .m-empty-container();
  position: relative;
}

.empty-all-heading {
  .m-empty-detail();
  white-space: normal;
}

.empty-all-img--primary {
  .m-empty-img();
  max-width: 80%;
  height:    auto;
  margin:    auto;
  opacity:   .2;
}

.empty-all-img--secondary {
  position: absolute;
  right:    3rem;
  bottom:   -4rem;
  height:   6rem;
  opacity:  .3;
}
