@import "trp3Vars";

.desktop {
  .room-item__title {
    font-size: 2rem;
  }
}

.room-item {
  display:        flex;
  flex-direction: row;
  height:         @header-height;
  padding-left:   @menu-left-padding;
  align-items:    center;

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
  }
}

.room-item__avatar {
  width:       auto;
  height:      2rem;
  margin-right: @menu-left-padding;

  .desktop & {
    height: 3rem;
  }

}

.room-item__title {
  font-size:   1.5rem;
  font-weight: 200;
  line-height: @header-height;
  color:       @menu-item-color;
}

.room-item__unread {
  background:    black;
  border-radius: 100%;
  height:        @menu-unread-badge-size;
  width:         @menu-unread-badge-size;
  margin-left:   auto;
  margin-right:  @menu-left-padding;
  font-size:     1.1rem;
  line-height:   @menu-unread-badge-size;
  text-align:    center;
  color:         white;
}
