<img class="empty-all-img--primary"
     src='{{cdn "images/svg/menu/empty-all-primary.svg"}}' />

<h3 class="empty-all-heading">
  You don't have any conversations yet?
</h3>

<img class="empty-all-img--secondary"
     src='{{cdn "images/svg/menu/empty-all-secondary.svg"}}' />
