<h2 class="search-message-empty-heading">Rooms &amp; People</h2>
<div class="search-message-empty-container">
<span class="search-message-empty-decal">:(</span>
  <h2 class="search-message-empty-message">
    Shucks! I got nothing.
  </h2>
</div>
