<div class="room-item__container">
  <img class="room-item__avatar" src="{{ roomAvatarUrl }}" />
  <h2 class="room-item__title">{{name}}</h2>
  <img class="room-item__options" data-component="room-item-options-toggle" src='{{cdn "images/svg/menu/room-options.svg"}}'/>
  {{#if unreadItems }}<div class="room-item__unread">{{unreadItems}}</div>{{/if}}
</div>
<ul class="room-item__options-menu">
  <li class="room-item__options-menu__item"><a>This is a List Item</a></li>
  <li class="room-item__options-menu__item"><a>This is a List Item</a></li>
</ul>
