@import "trp3Vars";
@import "../../../../../less/components/menu/room/avatar.less";
@import "../../../../../less/components/menu/room/menu-text.less";

.primary-collection {
  padding-bottom: @menu-footer-height;
}

.room-item {
  display:        flex;
  flex-direction: row;
  align-items:    center;
  height: @mobile-header-height;

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
  }

  .desktop & {
    padding-left: @desktop-menu-left-padding;
  }

  .mobile & {
    padding-left: @mobile-menu-left-padding;
  }
}

.room-item__avatar {
  .room-menu-avatar();
}

.room-item__title {
  .room-menu-text();
}

.room-item__unread {
  background:    black;
  border-radius: 100%;
  height:        @menu-unread-badge-size;
  width:         @menu-unread-badge-size;
  margin-left:   auto;
  font-size:     1.1rem;
  line-height:   @menu-unread-badge-size;
  text-align:    center;
  color:         white;

  .desktop & {
    margin-right:  @desktop-menu-left-padding;
  }

  .mobile & {
    margin-right:  @mobile-menu-left-padding;
  }
}
