.search-message-empty-container {
  display:         flex;
  flex-direction:  row;
  align-items:     center;
  justify-content: flex-start;
  padding-left:    4.5rem;
}

.search-message-empty-decal {
  margin-right: 2rem;
  color:        @search-message-decal-color;
  transform:    rotate(90deg);
  font-size:    6rem;
  user-select:  none;
}

.search-message-empty-decal-eyes {
  position: relative;
  bottom:   2px;
}

.search-message-empty-heading {
  .collection__title();
  flex-basis: 100%;
}

.search-message-empty-message {
  .room-menu-text();
  height:     auto;
  max-height: initial;
  line-height: 2rem;
}

.search-message-empty-link {
  .room-menu-text();
  height:     auto;
  max-height: initial;
  color:      @search-message-detail-color;
}
