<span class="search-message-empty-decal">:(</span>
<h2 class="search-message-empty-heading">
  Shucks! I got nothing.
  <br /> Why not <a class="search-message-empty-link" href="#createroom">create a room?</a>
</h2>
