@import "../../../../../less/components/menu/room/collection";

.primary-collection {
  .m-collection();

  .room-menu__panel.org & {
    margin-top: 0;
  }

  &.dragging {
    min-height: @menu-item-height;
    display:    block;

    .collection-list--primary {
      min-height: @menu-item-height;
    }
  }

}
