@import "trp3Vars";
@import '../../../../../less/components/menu/menu.less';
@import "../../../../../less/components/menu/room/avatar.less";
@import "../../../../../less/components/menu/room/menu-text.less";
@import "../../../../../less/components/menu/room/room-item.less";
@import "../base-collection/base-collection-view.less";
@import (inline) "../../../../../../node_modules/dragula/dist/dragula.css";

/*
TODO Seperate this better, its currently a bit of a monolith
JP 11/2/16
*/


//TODO this name is stupid, replace it JP 8/1/16
.room-item {
  .m-room-item();
}

.room-item--one2one {
  .m-room-item();

  &.active {
    max-height: @menu-item-height * 2;
    .room-item__container {
      background: rgba(255, 255, 255, .2);
    }
  }

  &.focus .room-item__container {
    .room-item-active();
  }
}

.room-item__container {
  display:         flex;
  flex-direction:  row;
  align-items:     center;
  margin-left:     (@desktop-menu-left-padding / 2);
  margin-right:    (@desktop-menu-left-padding / 2);
  padding-right:   (@desktop-menu-left-padding / 2);
  transition:      background-color .2s ease-out;

  .room-item.active & {
    .room-item-active();
  }

  &:hover,
  &.active,
  .room-item.focus &,
  .room-item:focus & {
    .room-item-active();
    outline: none;
    text-decoration: none;

    & .room-item__options {
      color: @menu-item-color;
    }
  }

  //this sucks so so much.
  & .room-item__lurk:last-child {
    margin-right: 2.1rem;
  }

}

.room-item__avatar {
  .room-menu-avatar();
  margin-left:  @desktop-menu-left-padding / 2;
}

.room-item__avatar--show-more {
 .room-menu-avatar();
  box-sizing:  border-box;
  margin-left: @desktop-menu-left-padding / 2;
  padding:     .7rem;
  background:  rgba(255, 255, 255, .3);
}

.room-item__title {
  .room-menu-text();
  flex: 1;

  &:first-child {
    margin-left: @desktop-menu-left-padding / 2;
  }
}

.room-item__title--show-more {
  .room-item__title();
  font-size:      1.2rem;
  text-transform: uppercase;
}

.unread-indicator(@size) {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: @size;
  height: @size;
  margin-left: 1rem;

  border-radius: 100%;

  color: white;
  font-size: 1.1rem;
  line-height: 1;
}

.room-item__unread-indicator-visibile-reset() {
  visibility: visible;
  transform: scale(1);
  opacity: 1;

  transition:
    visibility 0s ease 0s,
    transform .2s cubic-bezier(1, 2.5, 0.5, 0.76),
    margin-left .2s ease,
    opacity .2s ease,
    background-color .2s ease,
    border-color .2s ease;
}

.room-item__unread-indicator {
  .unread-indicator(0);
  visibility: hidden;
  transform: scale(0.5);
  margin-left: 0;
  opacity: 0;

  /* Slower transition back to hidden state
   * There is a faster transition in the reset, when they appear */
  transition:
    visibility 0s ease .4s,
    transform .4s cubic-bezier(1, 2.5, 0.5, 0.76),
    margin-left .4s ease,
    opacity .4s ease,
    background-color .2s ease,
    border-color .2s ease;

  &.has-unreads {
    .unread-indicator(@menu-unread-badge-size);
    .room-item__unread-indicator-visibile-reset();

    background-color: @caribbean;

    animation-name: unread-indicator-subtle-pulse-animation;
    animation-duration: 2s;
    animation-timing-function: ease;
  }
  &.has-activity {
    .unread-indicator(@menu-unread-badge-size / 3);
    .room-item__unread-indicator-visibile-reset();

    animation-name: unread-indicator-subtle-pulse-animation;
    animation-duration: 2s;
    animation-timing-function: ease;

    &:before {
      content: '';
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 100%;

      border: 2px solid @caribbean;
      border-radius: 100%;
    }
  }
  &.has-mentions {
    .unread-indicator(@menu-unread-badge-size);
    .room-item__unread-indicator-visibile-reset();

    background-color: @jaffa;

    animation-name: mention-indicator-subtle-pulse-animation;
    animation-duration: 2s;
    animation-timing-function: ease;

    &:before {
      content: '@';
      // The `@` character in this font is slightly not vertically centered
      transform: translateY(-0.125em);
    }
  }
}

.room-item__options {
  display: flex;
  justify-content: center;
  align-items: center;
  height: @menu-item-height;
  margin-left: 1rem;
  padding: 0;

  background-color: transparent;
  border: 0;

  color: transparent;
  cursor: pointer;

  transition: color .1s ease-out;

  &:hover {
    color: @menu-item-color;
  }
  &:focus {
    outline: none;
  }
}

.room-item__options-icon {
  .options-dots();
}


.room-item__options-menu {
  width:            ~"calc(100% - 2.6rem)";
  margin-left:      0;
  margin-left:      @desktop-menu-left-padding / 2;
  background-image: linear-gradient(rgba(255, 255, 255, .1), transparent);
  list-style:       none;
  color:            @ruby;
}

.room-item__options-menu__item {
  .room-item();
  position: relative;
  padding-left: 0;
  padding-right: 0;

  &:before {
    content:          ' ';
    display:          inline-block;
    position:         absolute;
    top:              0;
    left:             0;
    width:            100%;
    height:           100%;
    background-image: linear-gradient(transparent, rgba(255, 255, 255, .1));
    transform:        translateY(100%);
    transition:       transform .2s ease-in;
    z-index:          -1;
  }

  &:hover {
    &:before {
      transform: translateY(0);
      cursor:  pointer;
    }
  }

}

.room-item__options-menu__item__btn {
  .room-menu-text();
  width:        100%;
  border:       none;
  background:   none;
  outline:      none;
  display:      block;
  padding-left: 4.5rem;
  text-align:   left;
  &:hover {
    text-decoration: none;
  }
}
