<h3 class="empty-favourite-heading">Your favourites</h3>

<img class="empty-favourite-img--primary" src='{{cdn "images/svg/menu/empty-favourite-primary.svg"}}' />
<h4 class="empty-favourite-detail">
  Simply drag a room or person
  from a list onto the green star.
</h4>

<img class="empty-favourite-img" src='{{cdn "images/svg/menu/empty-favourite-secondary.svg"}}' />
<h4 class="empty-favourite-detail">
  You can also favourite a room
  by clicking the start icon in
  the top right corner.
</h4>

<img class="empty-favourite-img" src='{{cdn "images/svg/menu/empty-favourite-tertiary.svg"}}' />
<h4 class="empty-favourite-detail">
  Change the order of your
  favourite by dragging them.
</h4>
