@import "trp3Vars";
@import "../header/header-view";
@import "../primary-collection/primary-collection-item-view";

.empty-favourite {
  box-sizing:     border-box;
  display:        flex;
  flex-direction: column;
  padding:         0 (@desktop-menu-left-padding * 1.5) 0 @desktop-menu-left-padding;
}

.empty-favourite-heading {
  .panel-header__title();
  padding-left: 0;
  color:        white;
  line-height:  1.2;
  font-weight:  300;
}

.empty-favourite-detail {
  .room-item();
  height:      auto;
  max-height:  none;
  padding:     @desktop-menu-left-padding / 2 0;
  color:       white;
  font-weight: 200;
  line-height: 1.5;
  overflow:    visible;
}

.empty-favourite-img {
  margin: 2rem 0;
}

.empty-favourite-img--primary {
  .empty-favourite-img();
  margin-top:  4rem;
  margin-left: -3rem;
}

