.room-item {
  height: @header-height;
  padding-left: @menu-left-padding;
}

.room-item__title {
  font-size:   1.5rem;
  font-weight: 200;
  line-height: @header-height;
  color:       @menu-item-color;
}
