.menu-header {
  .trpBodyMedium;
  font-size: 16px;
  width: 92%;
  margin: 10px auto 0;
  padding: 0.3125em;
  margin-bottom: 10px;
  cursor: pointer;
  max-height: 41px;
  overflow: hidden;
  border-radius: 4px;

  .transition(200ms);

  .trpDisplayPicture {
    float: left;
  }

  .avatar-s {
    width: 32px;
    height: 32px;
  }
}

.menu-header--expanded {
  // css animations dont work for height: auto,
  // but we can use a rough max-height instead.
  max-height: 200px;
  .transition(400ms);
}

body.hover .menu-header:hover,
body.hover .menu-header--expanded {
  background-color: rgba(255, 255, 255, 0.2);
}

.menu-header__profile {
  display: flex;
  width: 100%;
  font-size: 16px;
}

.menu-header__name {
  flex-grow: 1;
  font-weight: 300;
  font-size: 16px;
  padding-left: 0.625em;
  padding-right: 0.3125em;
}

.menu-header__name p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  height: 2em;
  line-height: 2em;
}

.menu-header__avatar {
  flex-shrink: 0;
}

.menu-header__state {
  flex-shrink: 0;
  padding: 0 0.3125em;
  height: 32px;
  line-height: 32px;
  opacity: 0.6;
}

.profile-menu {
  .trpBodyMedium;
  margin: 0;
  overflow: hidden;
  width: 100%;
  margin-top: 8px;
  color: white;
  font-weight: 300;
  line-height: 24px;
}

.profile-menu__item {
  list-style: none;
}

.profile-menu__link {
  display: inline-block;
  width: 100%;
  padding-left: 5px;

  color: white;
  text-decoration: none;

  body.hover &:hover {
    border-radius: 4px;
    background-color: rgba(255,255,255,0.2);
  }
}

// .profile-menu__home {
//   .prepend-home-icon();
// }

// .profile-menu__logout {
//   .prepend-home-logout();
// }

// .profile-menu__apps {
//   .prepend-home-apps();
// }

// .profile-menu__billing {
//   .prepend-billing();
// }
