@import "trp3Vars.less";

.mobile {

  .minibar {
    background: @menu-bg;
    width: @mobile-menu-width;
    z-index: 5;
  }

  .room-menu {
    position: fixed;
    top: 0;
    left: @mobile-menu-width;
    width: @mobile-chat-app-width;
    height: 100%;
    z-index: 2;
    background: black;
    transform: translateX(-100%);
    transition: transform .5s ease-in;

    &.active {
      transform: translateX(0);
    }
  }

}
