@import "base-zindex-levels";
@import "base-transition-mixins";

/* Imports for child views */
@import "room-list";
@import "room-list-item";
@import "profileView";
@import "orgCollectionView";
@import "nanoScroller";

.wrap {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}

.selected {
  opacity: 1;
}

@menuWidth: 260px;

.menu {

  &, & * {
    box-sizing: border-box;
  }

  /* visibility */
  display: flex;
  flex-direction: column;

  /* positioning */
  position: relative;
  z-index: @l10;
  // slide menu to the left
  margin-left: -@menuWidth;
  margin-right: 0;

  /* dimensions */
  flex-shrink: 0;
  flex-grow: 0;
  width: @menuWidth;
  height: 100%;

  /* colors */
  background-color: lighten(@trpDarkBlue, 5%);
  color: white;

  /* effects */
  transition: background-color 0.3s ease-in-out,
              margin           0.2s ease-in-out;

  .nano-pane {
    left: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
  }
}

// mobile override until it uses the same left menu
// show/hide as desktop
.menu.menu--mobile {
  position: absolute;
  margin-left: 0;
  margin-right: 0;
}

body.hover .menu:hover {
  // slide menu to the right
  margin-left: 0;
  margin-right: -@menuWidth;

  background-color: @trpDarkBlue;
}

@media @mid-min {
  .menu:not(.menu--collapsed),
  body.hover .menu:hover:not(.menu--collapsed) {
    // stop menu sliding around and inline it
    margin-left: 0;
    margin-right: 0;
  }
}

@tabWidth: 25px;
@tabHeight: 30px;

.menu__hotspot {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -@tabWidth;
  width: @tabWidth;
  overflow-x: hidden;

  transition: right 0.2s ease-in-out 0.2s,
              width 0.2s ease-in-out 0.2s;
}

body.hover .menu:hover .menu__hotspot {
  // slide hotspot away when menu is hovered
  right: 0;
  width: 0;

  transition-delay: 0s;
}

@media @mid-min {
  .menu:not(.menu--collapsed) .menu__hotspot {
    // slide hotspot away when menu is inline
    right: 0;
    width: 0;

    transition-delay: 0s;
  }
}

.menu__tab {
  background-color: @troupe-green;
  top: 110px;
  right: 0;
  position: absolute;
  width: @tabWidth;
  height: @tabHeight;

  border-radius: 0 4px 4px 0;

  line-height: @tabHeight;
  text-align: center;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.menu-content {
  // vertically expand as much as possible
  flex: 1;
  height: 100%;

  &.has-scrollbar {
    max-width: 106%;
  }

  .menu-content__wrapper {
    display: inline-block;
    overflow-x: hidden;

    @media @mobile {
      width: 100%;
    }
  }

  .menu-list {

    display: inline-block;
    vertical-align: top;
    width: 100%;
    transition: 0.1s all ease-in;

    .menu-list__item {
      margin-bottom: 20px;
    }

    .menu-list__header {
      position: relative;
      text-transform: uppercase;
      margin-left: 12px;
      padding: 0 9px 2px 0;
      opacity: 0.6;
      overflow: hidden;
      clear: both;

      & .list-toggle {
        opacity: 0;
        float: right;
      }

      body.hover &:hover > .list-toggle {
        opacity: 0.8;
      }

      p {
        margin: 0;
        float: left;
      }
    }

    .menu-list__section {
      width: 100%;
    }

    .menu-list__section--fav {
      .menu-list__section;
    }

    .menu-list__section--recent {
      .menu-list__section;
    }

    .menu-list__section--orgs {
      .menu-list__section;
    }

    .menu-list__section--search {
      .menu-list__section;
    }

    @media @mobile {
      font-size: 16px;
      ul {
        margin-bottom: 0;
      }
    }
  }
}

.menu-list__header__details {
  float: right;
}

.menu-list__header__details a {
  color: white;
}

.menu-actions {
  padding: 8px;

  a {
    color: @trpDarkGrey;
  }
}

.list-favourites {
  .transition300ms(padding);
}

body.dragging .list-favourites {
  min-height: 25px;
  background-color: rgba(255,255,255,0.1);
  border-top: 1px dashed rgba(255,255,255,0.2);
  border-bottom: 1px dashed rgba(255,255,255,0.2);
  padding: 5px 0;
  .transition300ms(padding);
}

body.dragging .list-favourites li.placeholder {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nli-menu {
    &, & * {
    box-sizing: border-box;
  }

  display: flex;
  flex-grow: 0;
  flex-shrink: 0;

  height: 100%;
  width: 350px;
  padding: 20px;

  overflow-y: auto;
  align-items: center;
  justify-content: center;

  background-color: lighten(@trpDarkBlue, 5%);
  color: white;
}

.nli-menu__intro {
  max-height: 100%;

  p {
    margin-bottom: 40px;
  }
}

.nli-menu__logo {
  background-image: url('../images/logo-text-white-48@2x.png');
  background-size: contain;

  width: 244px;
  height: 48px;
  margin-bottom: 40px;

  @media @retina {
    background-image: url('../images/logo-text-white-48@2x.png');
  }
}

.ribbon {
  width: 100%;
  position: relative;
  background: #54A8BD;
  color: #fff;
  text-align: center;
  padding: 1em 2em;
  margin: 0 0 12px 0px;
  border-radius: 2px;

  img {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  a {
    color: white;
  }

  a:hover {
    text-shadow: 0px 0px 4px white;
  }
}
