@keyframes pulse_animation {
  0% { box-shadow: 0 0 0px #1bee82; color: #1bee82; }
  50% { box-shadow: 0 0 8px #1bee82; color: @trpGreen; }
  100% { box-shadow: 0 0 0px #1bee82; color: #1bee82;  }
}

.menu-list-item {
  padding-left: 4px;
  margin-left: 12px;
  cursor: pointer;
  padding-bottom: 2px;
  list-style: none;
  line-height: 26px;
}

.menu-list-item:hover, .menu-list-item.selected {
  border-radius: 4px 0 0 4px;
  background-color: rgba(255,255,255,0.2);

  @media @mobile {
    background-color: transparent;
  }

  &.chatting:after {
    display: none;
  }
}

.menu-list-item.chatting:after {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50em;
  background-color: #1dce73;
  position: relative;
  top: 13px;
  right: 13px;
  content: ' ';
  float: right
}

.menu-list-item.chatting.chatting-now:after {
  animation-name: 'pulse_animation';
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.menu-list-item .item-unread-badge {
  float: right;
  margin-right: 8px;
  display: none;
}

.menu-list-item .item-unread-badge.shown {
  display: inline;
}

.menu-list-item:hover .item-unread-badge {
  display: none;
}

.menu-list-item .item-unread-badge .trpTroupeUnreadCounter {
  border-radius: 4px;
  display: inline-block;
  padding: 0 4px;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  white-space: nowrap;
  vertical-align: middle;
  background-color: @trpGreen;
  @media @mobile {
    padding: 1px 4px 0px;
  }
}

.menu-list-item .item-unread-badge.mention .trpTroupeUnreadCounter {
  background-color: @trpRed;
  font-weight: 300;
}
