.prettyWelcome {
  h1, h2, h3, h4, blockquote p {
    position: relative;

    font-family: DP, sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
  }

  h2 {
    margin-top: 20px;
    color: #918b80;
  }

  h1 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 48px;
    color: #726c61;
  }


  h1:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;

    display: block;
    width: 60px;
    height: 3px;

    background: currentColor;
    opacity: .1;
  }

  .userhome-app__pill {
    width: 200px;
    text-align: center;
    display: inline-block;
    margin: 10px 0px;
  }

  .userhome-app__mac {
    background-image: url('../images/app-laptop.png');
    width: 156px;
    height: 92px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }


  .userhome-app__ios {
    background-image: url('../images/app-phone.png');
    width: 156px;
    height: 92px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 78px;
  }

  .userhome-app__android {
    background-image: url('../images/app-android.png');
    width: 156px;
    height: 92px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 78px;
  }

  @font-face {
    font-family: 'DP';

    /* For older versions of IE */
    src: url('../fonts/dp.eot');

    /* Standard syntax */
    src: url('../fonts/dp.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dp.woff') format('woff'),
         url('../fonts/dp.ttf') format('truetype'),
         url('../fonts/dp.svg#dp') format('svg');

    /* Apply synthetic bolding/italics */
    font-weight: normal;
    font-style: normal;
  }

  .features {
    margin: 10px 0px;
  }

  a {
    color: #2980b9;
  }

}

.trpHomePanel {
  position: absolute;
  display: block;
  text-align: left;
  text-align: center;
  height: 100%;
}

.trpHomeContainer {
  box-sizing: border-box;
  text-align: left;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 40px;
  .trpBodyText;

  @media @mobile {
    padding: 0 10px;
  }
}


.trpHomeLogo {
  margin-top: 40px;
  background-image: url('../images/logo-text-blue-pink-64.png');
  background-size: 157px 32px;
  background-repeat: no-repeat;
  height: 32px;

  @media @retina {
    background-image: url('../images/logo-text-blue-pink-64@2x.png');
  }
}

.banner-red {
  background-color: fade(@trpRed, 90%);
  border-radius: 4px;
  color: white;
  padding: 4px 6px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 8px;
}

.suggested-room-list {
  margin: 0;
}

.suggested-room-list-item {
  display: inline-block;
  margin-bottom: 8px;
  width: 300px;
  max-width: 100%;
  line-height: 22px;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.suggested-room-list-item:hover {
  background-color: rgba(150,150,150,0.2);
  @media @mobile {
    background-color: inherit;
  }
}

.suggested-room-list-item {
  img {
    margin-right: 20px;
    border-radius: 4px;
    float: left;
  }
  p {
    float: left;
    width: 70%;
    margin: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .topic {
    font-size: 12px;
    line-height: 16px;
    color: #888;
  }
  .user-count{
    font-size: 10px;
    line-height: 12px;
    color: #888;
  }
}
