@import (less, reference) "~gitter-styleguide/css/components/buttons.css";
@import "../../icons";

.m-forum-follow-button () {
  &:extend(.secondary-button-jaffa--small all);
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  cursor: pointer;
}

.m-pseudo-icon {
  content: ' ';
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin-right: .5rem;
}

.follow-button--subscribed {
  .m-forum-follow-button();
  &:before {
    &:extend(.icon-unwatch-jaffa);
    .m-pseudo-icon();
  }
}

.follow-button--unsubscribed {
  .m-forum-follow-button();
  &:before {
    &:extend(.icon-watch-jaffa);
    .m-pseudo-icon();
  }
}
