.table-control__select {
  //FIXME -> add autoprefixer
  -webkit-appearance: none;
  background:         none;
  outline:            none;

  padding:      .7rem 3rem .7rem 1rem;
  margin-left:  auto;
  border-color: white;

  //FIXME how do we handle these deffinitions
  font-family:    'Source Sans Pro', source-sans-pro, pt sans, calibri, sans-serif;
  font-size:      1.2rem;
  color:          white;
  text-transform: uppercase;
}
