.table-control {
  list-style:      none;
  display:         flex;
  align-items:     center;
  justify-content: flex-start;
  margin:          0;
  padding:         0;
}

.tabel-control__divider {
  margin-right: auto;
}
