@import "../../break-points";

.table-control {
  list-style:      none;
  display:         flex;
  align-items:     center;
  justify-content: flex-start;
  flex-wrap:       wrap;
  margin:          0;
  padding:         0;

  //Stack the controls vertically on smaller screens
  @media @only-small { flex-direction: column; }

  //Make all controls in the list full length
  //on smaller screens
  & > li {
    @media @only-small {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.tabel-control__divider {
  margin-right: auto;
}

.table-control__select {
  min-width: 13rem;
  padding:      .7rem 3rem .7rem 1rem;
  margin-left:  2rem;
  margin-top:   1.5rem;
}
