@import "../../break-points";

.topics-table {
  border-collapse: collapse;
  width:           100%;
  border-left: 1px solid @topic-table-border-color;
  border-right: 1px solid @topic-table-border-color;

  @media @only-small {
    display: block;
    width: 100%;
  }
}
