@import "../../colors.less";
@import (less, reference) "~gitter-styleguide/css/components/headings.css";

.topics-table-body {
  background:    @light;
}

.topics-table-body__row {
  border-bottom: 1px solid @topic-table-cell-border;
  &:nth-child(even) {
    background-color: @topic-table-cell-odd-bg;
  }
}

.topics-table-body__cell {
  &:extend(.h4);
  padding:    1rem;
  text-align: center;
  color:      @topic-table-header-color;

  &:first-child {
    padding-left: @panel-horiz-padding + @panel-border-width;
    text-align:   left;
    color:        @topic-table-cell-color;
  }

  &:last-child {
    padding-right: @panel-horiz-padding + @panel-border-width;
  }

}

.topics-table-body__cell--details {
  .topics-table-body__cell();
  display: flex;
}

.topics-table-body__cell__link{
  color: @dark;
  text-decoration: none;
}

.topics-table-body__cell__avatar {
  margin-right: 1rem;
  border-radius: .2rem;
}

.topics-table-body__user-list {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
}

.topics-table-body__user-list__item {
  margin-right: .2rem;
}
