@import (less, reference) "~gitter-styleguide/css/components/headings.css";
@import "../../colors";

.topics-table-header {
  background:    @light;
  border-bottom: 1px solid @topic-table-header-color;
  color:         @topic-table-header-color;
}

.topics-table-header__cell {
  &:extend(.h5);
  padding:        4rem 1rem 1rem;
  text-align:     center;
  text-transform: uppercase;

  &:first-child {
    width:        80%;
    padding-left: @panel-horiz-padding + @panel-border-width;
    text-align:   left;
  }

  &:last-child {
    padding-right: @panel-horiz-padding + @panel-border-width;
  }
}

.topics-table-header__cell--user {
  .topics-table-header__cell();
  text-align: right;
}
