<div class="well">
    <div class="row-fluid">
        <div class="span12">
            <H1>People in this Troupe</H1>
            <br>

            <!-- people content -->

            <div class="box white frame-people">
            </div>


        </div>
        <!--span-->
    </div>
    <!--row-->
</div>
<!--well-->