<div class="well">
    <div class="row-fluid">
        <div class="span12">
            <H1>People in this Troupe</H1>
            <br>

            <!-- people content -->

            <div class="box white">
                <div class="row-fluid">
                    <div class="span1">
                        <img src="images/tmp/dp_andrew.png" class="dp">
                    </div>
                    <div class="span5">
                        <h3>Andrew Newdigate</h3>
                    </div>
                    <div class="span1">
                        <img src="images/tmp/dp_mike.png" class="dp">
                    </div>
                    <div class="span5">
                        <h3>Mike Bartlett</h3>
                        <a href="#" class="btn btn-mini">Make admin</a> <a href="#removeConfirmModal" data-toggle="modal" class="btn btn-mini btn-danger">Remove</a>
                    </div>
                </div>

                <div class="row-fluid">
                    <hr>
                </div>

                <div class="row-fluid">
                    <div class="span1">
                        <img src="images/tmp/dp_matt.png" class="dp">
                    </div>
                    <div class="span5">
                        <h3>Matt Rees</h3>
                        <a href="#" class="btn btn-mini">Make admin</a> <a href="#removeConfirmModal" data-toggle="modal" class="btn btn-mini btn-danger">Remove</a>
                    </div>
                    <div class="span1">
                        <img src="images/tmp/dp_adam.png" class="dp">
                    </div>
                    <div class="span5">
                        <h3>Adam Sandler</h3>
                        <a href="#" class="btn btn-mini">Make admin</a> <a href="#removeConfirmModal" data-toggle="modal" class="btn btn-mini btn-danger">Remove</a>
                    </div>
                </div>

                <!-- end people content -->
            </div>


        </div>
        <!--span-->
    </div>
    <!--row-->
</div>
<!--well-->