<!-- BOOTSTRAP VERSION -->

<div class="trpPeopleViewHeader">
  <div class="trpPeopleHeader">Who's in the Troupe</div>
  <div class="trpPeopleTab">
    <ul class="nav nav-tabs">
      <li class="active trpTabItem"><a href="#users"data-toggle="tab" id="tab-people-users" class="trpTabItem" data-tab-id="users">Users</a></li>
      <li class="trpTabItem"><a href="#invites" data-toggle="tab" id="tab-people-invites" class="trpTabItem" data-tab-id="invites">Invites</a></li>
      <li class="trpTabItem"><a href="#requests" data-toggle="tab"id="tab-people-requests" class="trpTabItem" data-tab-id="requests">Requests</a></li>
    </ul>
  </div>
  <div class="trpPeopleAddButton right"><a href="#"><div class="trpButton">Invite People</div></a></div>
</div>

<br>

<div class="tab-content">
  <div class="tab-pane active" id="users">
    <div class="frame-people">
    </div>
  </div>
  <div class="tab-pane" id="invites">
    <p>Good description over here please: people who've been invited to join this troupe.</p>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody id="tbody-invites">
      </tbody>
    </table>

  </div>
  <div class="tab-pane" id="requests">
    <p>Good description over here please: people who've requested access to this.</p>  
  </div>
</div>
 