<div>
  {{#if previousDate}}<a href="{{previousDateLink}}">{{previousDate}}</a>{{/if}}
  {{#if nextDate}}<a href="{{nextDateLink}}">{{nextDate}}</a>{{/if}}
</div>

<div id="archive-navigation">
</div>
