<div class="trpModalBody">
  {{#if allowCreate}}
    <div id="permissions">
      <div id="perm-select-inherited" class="permission">
        <div class='permission__input'>
          <input id="radio-custom" name="roomType" type="radio" checked value="channel">
        </div>
        <label for='radio-custom'>
          <div class='permission__icon permission__icon--large'>
            <i class="icon-hash"></i>
          </div>
          <div class='permission__details'>
            <h3>Channel</h3>
            Create a custom room, you can define permissions and add people individually.
          </div>
        </label>
      </div>
      <div id="perm-select-public" class="permission">
        <div class='permission__input'>
          <input id="radio-repo" name="roomType" type="radio" value="repo-room">
        </div>
        <label for='radio-repo'>
          <div class='permission__icon permission__icon--large'>
            <i class="octicon octicon-repo"></i>
          </div>
          <div class='permission__details'>
            <h3>Repository</h3>
            Create a room from a GitHub repository.
          </div>
        </label>
      </div>
    </div>
  {{else}}
    <div class="modal--default__content__error">
      <p>{{disallowCreateReason}}</p>
    </div>
  {{/if}}
</div>
