<div class="trpModalBody">
  <div id="room-owner-and-name" class="create-room-container gtrRoomName">

    <dl class="owner">
      <dt>
        <label for="owner"><h5>Community</h5></label>
      </dt>
      <dd id="owner-region">
        <div class="gtrInput gtrOwnerDD">
        </div>
      </dd>
    </dl>

    <div class="gtrSlash">/</div>

    <dl class="owner">
      <dt>
        <label for="room"><h5>Room name</h5></label>
      </dt>
      <dd>
        <input class="gtrInput room" id="room-name" autofocus/>
        <div class="modal--default__content__info" style="margin-top: -8px; opacity: 0.5; margin-left: 1px; padding: 0">Letters and numbers. Can't contain spaces.</div>
      </dd>
    </dl>

  </div>
  <div class="permissions" id="permissions">
    <h5>Permissions</h5>
    <div id="perm-select-public" class="permission">
      <div class='permission__input'>
        <input name="permissions" id="perm-select-public-input"  type="radio" value="public" checked="true">
      </div>
      <label for='perm-select-public-input'>
        <div class='permission__icon permission__icon--large'>
          <i class="octicon octicon-globe"></i>
        </div>
        <div class='permission__details'>
          <strong>Public</strong><br>
          <div>Anyone in the world can join.</div>
        </div>
      </label>
    </div>

    <div id="perm-select-inherited-org" class="permission">
      <div class='permission__input'>
        <input name="permissions" id="perm-select-inherited-org-input"  type="radio" value="inherited">
      </div>
      <label for='perm-select-inherited-org-input'>
        <div class='permission__icon permission__icon--large'>
          <i class="octicon octicon-organization"></i>
        </div>
        <div class='permission__details'>
          <strong>Organisation</strong><br>
          Anyone in <strong id="org-name">orgName</strong> can join.
        </div>
      </label>
    </div>

    <div id="perm-select-private" class="permission">
      <div class='permission__input'>
        <input name="permissions" id="perm-select-private-input" type="radio" value="private">
      </div>
      <label for='perm-select-private-input'>
        <div class='permission__icon permission__icon--large'>
          <i class="octicon octicon-lock"></i>
        </div>
        <div class='permission__details'>
          <strong>Private</strong><br>
          Only people added to the room can join.
        </div>
      </label>
    </div>

    <div id="existing">
      <div class="permission-label">That room already exists.</div>
    </div>

  </div>
</div>
<div class="modal--default__content__error" id="modal-failure" style="display:none">
</div>
<div class="modal--default__content__error" id="premium-required" style="display:none;">
  To create this type of room, you will need a premium account.
</div>
