Doing this will:
<ul>
  <li>Clear your GitHub tokens (doesn't apply to GitLab/Twitter)</li>
  <li>Clear your email</li>
  <li>Mark your account as removed</li>
</ul>

This will <strong>NOT</strong>:
<ul>
  <li>Delete your messages</li>
</ul>

You can sign back in at any time to re-create your account.
<br>
<br>
Are you sure you want to do this?{{#if locked }} <em>(unlocking in {{secondsLeft }})</em>{{/if}}

{{#if error }}
  <br>
  <br>
  <span class="error-text">{{error}}</span>
{{/if}}
