<div class="modal-content">
 <div class="trpModalTitle trpIB">Install Troupe for Google Chrome</div>
 <div class="trpModalBody">The Troupe App for Google Chrome will keep you updated with what's happening in your Troupes, even if you don't have the webpage open.</div>
 
 <button type="button" class="trpModalButton trpButtonBig trpBtnGreen" id="button-install">Install</button>
 <button type="button" class="trpModalButton trpButtonBig trpBtnGrey" id="button-cancel">Cancel</button><br><br>
 <iframe/ id="installer-frame" style="display:none">
</div>
