<section class="login-provider-buttons">
  <a href="/login/github?action=login" class="button-github--small" target="_blank">
    <i class="icon-github-circled"></i> GitHub
  </a>
  <a href="/login/twitter" class="button-twitter--small" target="_blank">
    <i class="icon-twitter"></i> Twitter
  </a>
  <a href="/login/linkedin" class="button-linkedin--small" target="_blank">
    <i class="icon-linkedin"></i> LinkedIn
  </a>
  <a href="/login/google" class="button-google--small" target="_blank">
    <i class="icon-google"></i> Google
  </a>
</section>
