<section class="login-view__section">
  <div class="login-view__buttons">
    <a href="/login/github?action=login" class="login-view__button button-github--small" target="_blank">
      <i class="icon-github-circled"></i> Log in with GitHub
    </a>
    <a href="/login/twitter" class="login-view__button button-twitter--small" target="_blank">
      <i class="icon-twitter"></i> Log in with Twitter
    </a>
  </div>

  <div class="login-view__agree">By logging in you agree to our <a href="https://gitter.zendesk.com/hc/en-us/sections/200274872-Legal-documentation" target="_blank">Terms and Conditions</a>.</span>
</div>

{{!--
<a href="/login/linkedin" class="login-view__button button-linkedin--small" target="_blank">
  <i class="icon-linkedin"></i> Log in with LinkedIn
</a>
<a href="/login/google" class="login-view__button button-google--small" target="_blank">
  <i class="icon-google"></i> Log in with Google
</a>
--}}
