<div class="modal-content">
  <form id="troupeSettings">
    <select class="trpInput" style="width: 100%; height: 36px" id="notification-options">
      <option value="all">All: Notify me for all messages</option>
      <option value="announcement">Announcements: Notify me for mentions and announcements</option>
      <option value="mute">Mute: Notify me only when I'm directly mentioned</option>
    </select>

    <p class="u-font-smaller">Any rooms that you join will use this default setting
      and any rooms that are currently set to use the default will
      also change if you change this. If you would like to change all your rooms,
      click the "Override All" button.</p>

    <div class="u-font-smaller">
      <p>Your settings:</p>
      <div id="notify-features">
      </div>
    </div>

  </div>

  </form>
</div>
