<div class="modal-content">
  <form id="troupeSettings">
    <select class="trpInput" style="width: 100%; height: 36px" id="notification-options">
      <option value="all">All: Notify me for all messages</option>
      <option value="announcement">Announcements: Notify me for mentions and announcements</option>
      <option value="mute">Mute: Notify me only when I'm directly mentioned</option>
    </select>

    <p >
      <input id="override-all" type='checkbox' class="u-font-smaller"/>
      <label for="override-all">Override the current settings for
        all rooms and reset to default.</label>
    </p>

    <div class="u-font-smaller">
      <p>Your settings:</p>
      <div id="notify-features">
      </div>
    </div>

    <p class="u-font-smaller" style="color: #999" id="notice-no-override">
      This change will apply to any existing rooms currently set to use your
      default notification setting, as well as any new room you join in future.
    </p>
    <p class="u-font-smaller" style="color: #e74c3c; display: none" id="notice-override">
      This change will apply to all rooms.
    </p>
  </div>

  </form>
</div>
