<div class="modal-content">
  <form id="troupeSettings">
    <select class="trpInput" style="width: 100%; height: 36px" id="notification-options">
      <option value="all">All: Notify me for all messages</option>
      <option value="announcement">Announcements: Notify me for mentions and announcements</option>
      <option value="mute">Mute: Notify me only when I'm directly mentioned</option>
    </select>

    <p >
      <input id="override-all" type='checkbox' class="u-font-smaller"/>
      <label for="override-all">Override the current settings for
        all rooms and reset to default.</label>
    </p>

    <p class="u-font-smaller">Any rooms that you join will use this default setting
      and any rooms that are currently set to use the default will also change if
      you change this.</p>

    <p class="u-font-smaller">Note that changing the default to mute will
    mark all unread chats as read in applicable rooms.</p>

    <div class="u-font-smaller">
      <p>Your settings:</p>
      <div id="notify-features">
      </div>
    </div>

  </div>

  </form>
</div>
