<div>
  <input
    class="permissions-people-input js-permissions-people-input" placeholder="Search for people...">


  <div class="permissions-admin-list-root js-permissions-admin-list-root"></div>
</div>
