<div class="modal-content">
  <form>
    <p><input type="checkbox" name="github-only" id="github-only" value="checked"> <label for="github-only">Only GitHub users are allowed to join this room.</label></p>
  </form>
</div>
