<div class="modal-content">
  <form class="room-settings">
    <label class="welcome-message-label"
           id="room-welcome-message-label"
           for="room-welcome-message">
      Welcome message
    </label>
    <textarea class="welcome-message" placeholder="Add a welcome message here" id="room-welcome-message"></textarea>
    <p class="github-only-container">
      <input type="checkbox"
             class="github-only"
             name="github-only"
             id="github-only"
             value="checked">
      <label for="github-only">Only GitHub users are allowed to join this room.</label>
    </p>
  </form>
</div>
