<div class="modal-content">
  <form id="troupeSettings">

    <select class="trpInput" style="width: 306px; height: 36px" id="notification-options">
      <option value="all">Notify me for all messages</option>
      <option value="mention">Notify me when somebody mentions me</option>
      <option value="mute">Don't notify me at all</option>
    </select>
    <br>
    <br>
    <div class="u-font-smaller" style="color: #999">
      Notification settings only apply to you and not to other users.
      <br>
      {{#if notificationsBlocked}}
        Notifications have beed disabled by your browser. <a href="/apps" target="new">Download Gitter Apps</a> or change your permissions to receive notifications.
      {{else}}
        <a href="/apps" target="new">Download Gitter Apps</a> for always-on desktop notifications.
      {{/if}}
    </div>
  </div>

  </form>
</div>
<div id="request_validation" class="modal--default__content__error" style="display:none">
  <div class="modal--default__content__error" id="failure-text"></div>
</div>
