<div class="row-fluid datarow">
  <div class="span1">
    <img src="images/tmp/dp_andrew.png" class="dp">
  </div>
  <div class="span8">
    <h3>{{subject}}</h3>
    {{preview}}
  </div>
  <div class="span2 right">
    {{date}}
  </div>
  <div class="span1 right">
    <!-- when we support attachments, an icon will go here -->
    <i class="icon-gift"></i>
  </div>
</div>
   
 