<div class="row-fluid datarow">
  <div class="span1">
    <img src="images/tmp/dp_andrew.png" class="dp">
  </div>
  <div class="span8">
    <h3>{{subject}}</h3>
    {{preview}}
  </div>
  <div class="span2 right">
    <!-- the date format I get OUT of Mongo is a pile of poo, although it looks fine in MongoHub it's got some crap going on -->{{date}}
  </div>
  <div class="span1 right">
    <!-- when we support attachments, an icon will go here -->
    <i class="icon-gift"></i>
  </div>
</div>
   
 