<div class="modal-content">
 <!-- <div class="trpModalTitle trpIB">{{confirmationTitle}}</div> -->
 <div class="trpModalBody" id="confirmation">{{{body}}}</div>

 {{#each buttons}}
 <button type="button" class="trpModalButton trpButtonBig trpBtnGreen button" id="{{this.id}}">{{this.text}}</button>
 {{/each}}
 <br><br>
</div>
