<div class="modal-header">
    <div class="trpModalHeader">
    	{{^customTitle}}<div class="trpModalLogo"><img src='{{cdn "images/2/logo-green-31.png" }}' width="100" height="31"></div>{{/customTitle}}
      {{#customTitle}}<div class="trpModalTitleHeader">{{title}}</div>{{/customTitle}}
    	<div class="trpModalMenu frame-menu-items">
    		<div class="trpModalClose">
     		   {{^disableClose}}
   		     <a class="close">×</a>
   		       {{/disableClose}}
      		</div>
    	</div>
    </div>
</div>
<div class="modal-body">

</div>
<link rel="shortcut icon" href=''>