  <div class="trpChatInputContainer">
    <div class="trpChatInputButtons">
      <div class="compose-mode-toggle {{#if isComposeModeEnabled}}active{{/if}}" title="{{composeModeToggleTitle}}"></div>
      <a href="#markdown" style="text-decoration: none"><div class="md-help" title="{{showMarkdownTitle}}"></div></a>
    </div>
    <div class="trpChatInputAvatar">
	{{ widget "avatar" model=user size='s' showTooltip=false }}
    </div>
	  <form class="trpChatInputBox" name="chat">
	    <textarea class="trpChatInputBoxTextArea" name="chat" id="chat-input-textarea" placeholder="{{placeholder}}" autofocus="autofocus" maxlength="4096"></textarea>
	  </form>
	</div>
