<a class="js-toggle-compose-mode">
  {{#if isComposeModeEnabled}}
  <i class="icon-keyboard-1"></i>
  {{else}}
  <i class="icon-chat-alt"></i>
  {{/if}}
</a>
<a href="#markdown" class="js-markdown-help">
  <i class="octicon octicon-markdown"></i>
</a>
