{{#if troupe.roomMember}}
  <textarea class="chat-input__text-area"
            name="chat"
            id="chat-input-textarea"
            {{#if isMobile}}
            placeholder="Touch here to type a chat message."
            {{else}}
            placeholder="Click here to type a chat message. Supports GitHub flavoured markdown."
            autofocus
            {{/if}}
            autocomplete="off"
            maxlength="4096">{{value}}</textarea>
{{else}}
  <a href="#" class="chat-input__btn js-join-room">
    Join room
  </a>
{{/if}}
