<div class="chat-search-input">
  <div class="chat-search-input__buttons">
  </div>
  <div class="chat-search-input__avatar">
  </div>
  <form class="chat-search-input__box" name="chat">
    <textarea class="chat-search-input__textarea"
      name="chat" placeholder="{{placeholder}}" autofocus="autofocus" maxlength="128"></textarea>
  </form>
</div>
