<div>
{{ widget "avatar" user=user size='s'}}
<div class="trpChatInputBox"><textarea class="trpChatInputBoxTextArea" id="chat-input-textarea" placeholder="Click here to say something."></textarea></div>
</div>