<span style="
display: inline-block;
width: 100%;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
-moz-box-sizing: border-box;
     box-sizing: border-box;
padding-right: 50px;
">Issue {{number}}: {{title}}</span><span class="issue {{state}}" style="
position: absolute;
right: 14px;
">{{state}}</span>