<div class='chat-item__container--status'>
  <div class='chat-item__content'>
    {{#if fromUser}}
      {{ widget "avatar" user=fromUser }}
    {{/if}}
    <div class='chat-item__details'>
      <div class='chat-item__time'>{{widget "timeago" time=sent lang=lang locale=locale}}</div>
    </div>
    <div class='chat-item__text'>
      {{{html}}}
    </div>
  </div>
</div>

