.panel {
  width: 60%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.panel--home {
  .panel();
  flex-direction: column;
}

.panel--advantage {
  .panel();
}

.panel--payment {
  .panel();
  justify-content: space-around;
}
