@charset "UTF-8";
@import "base-web";
@import "base-transition-mixins";

@import "../../js/views/righttoolbar/rightToolbarView";
@import "../repo/cal-heatmap/cal-heatmap";

.gtrArchiveInfoContainer {
  width: 100%;
  overflow: hidden;
}

.gtrArchiveInfo {
  .trpBodyMedium;
  clear: both;
  padding: 20px 20px 0 20px;
}

.gtrArchiveLogo {
  padding: 20px;
  margin-bottom: 20px;
  .logo-container {
    float: left;
    background-image: url('../images/logo-text-blue-pink.png');
    width: 160px;
    height: 32px;

    @media @retina {
      background-image: url('../images/logo-text-blue-pink@2x.png');
      background-size: contain;
    }
  }
}

.gtrArchiveDate {
  margin: 16px 0;
}

.gtrArchiveHomeWrapper {
  padding-left: 50px;
  padding-top: 80px;
  overflow: auto;
}


.gtrArchiveDay {
  font-size: 60px;
  line-height: 100%;
}

.gtrArchiveMonth {
  .trpBodyEm;
}

.gtrArchiveToolbarWrapper {

}

.gtrArchiveCreateRoomButton {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
}

.gtrArchiveDateNav {
  .trpBodyEm;
  opacity: 0.6;
  .transition300ms;
}

.gtrArchivePrev {
  // .prepend-left-arrow-icon;
  color: #333;
  float: left;
  padding-top: 20px;
}

.gtrArchiveNext {
  // .prepend-right-arrow-icon;
  color: #333;
  float: right;
  padding-top: 20px;
  text-align: right;
}

.gtrArchiveNext:before {
  width: 20px;
}

.gtrArchiveToday {
  text-align: center;
}

.gtrArchiveDateNav a {
  text-decoration: none;
}

.gtrArchiveDateNav:hover {
  opacity: 1;
  }

.gtrArchiveNavigationWrapper {
  margin-bottom: 20px;
  padding: 20px;
  height: 265px;
}

.gtrArchiveCalendar {
  padding-top: 20px;
  text-align: center;
}
