/target
/node_modules
.DS_Store
/.project
/npm-debug.log
/.externalToolBuilders
/.settings
troupe.sublime-project
troupe.sublime-workspace
converter-service/converter/.classpath
converter-service/converter/.project
converter-service/converter/.settings
converter-service/converter/target
config.user-overrides.json
scripts/mongo-backup-*
public-processed/
scripts/dataupgrades/004-reverse-geocoder/data
output
test/end-to-end/casper/*.png
mongo-backup-*/
GIT_COMMIT
VERSION
ghostdriver.log
finished.png
chromedriver
chromedriver.log
coverage
output/coverage.html
cobertura-coverage.xml
html-report
*.pyc
.ackrc
/deployment/config/roles/geckoconnector/files/opt/geckoconnector/node_modules
test/end-to-end/ios/ios-driver.log
test/end-to-end/ios/ios-driver.log.lck
v8.log
*.swp
*.swo
.idea
npm-debug.log
docker_build
dump.rdb
heapdump-*.heapsnapshot
ASSET_TAG
public-compile-cache
public/styles
chats.json
public/dist
scripts/graphs/chats.dot
scripts/graphs/chats2.dot
scripts/graphs/d.dot
scripts/graphs/neato3d.png
scripts/graphs/prod.dot
scripts/graphs/prod2.dot
config.user-overrides-not.json
redis-lua/unread/tests/luacov.report.out
redis-lua/unread/tests/luacov.stats.out
test/redis-lua/luacov.report.out
test/redis-lua/luacov.stats.out
luacov.report.out
sentinel.dev.conf
numbers.csv
