/target
/node_modules
/.DS_Store
**/.DS_Store
/.project
public/.DS_Store
public/bootstrap/.DS_Store
public/js/.DS_Store
public/js/libs/.DS_Store
public/js/views/.DS_Store
public/templates/.DS_Store
public/bootstrap/less/.DS_Store
/npm-debug.log
public/bootstrap/less/responsive.css
/.externalToolBuilders
/.settings
troupe.sublime-project
troupe.sublime-workspace
converter-service/converter/.classpath
converter-service/converter/.project
converter-service/converter/.settings
converter-service/converter/target
scripts/populate-geonames/data/admin1CodesASCII.txt
scripts/populate-geonames/data/cities15000.txt
scripts/populate-geonames/data/cities15000.zip
scripts/populate-geonames/data/countryInfo.txt
public/bootstrap/less/mtrp.css
public/bootstrap/less/trpColours.css
public/bootstrap/less/trpFonts.css
scripts/populate-geonames/data/GB.txt
scripts/populate-geonames/data/GB.zip
scripts/populate-geonames/data/ZA.txt
scripts/populate-geonames/data/ZA.zip
scripts/populate-geonames/data/readme.txt
config.user-overrides.json
scripts/mongo-backup-*
