//TODO THIS IS BASICALLY A CUT&PASTE OF secondary-collection-view.less
//SORT IT OUT WITH MIXINS ETC JP 27/1/16

@import "../../../../../less/components/menu/room/menu-text";

.tertiary-collection {
  display: none;
  transition: opacity .2s ease-in-out;

  &.active {
    display: block;
  }
}

.tertiary-collection__title {
  .room-menu-text();
  box-sizing:     border-box;
  padding-left:   @desktop-menu-left-padding;
  color:          @org-bg;
  text-transform: uppercase;

  &.search {
    color: @jaffa;
  }
}

.tertiary-collection-list {
  margin-left: 0;
}
