@import "../../../../../less/components/menu/room/empty-detail";
@import "../../../../../less/components/menu/room/empty-detail";

.empty-search {
  .m-empty-container();
  position: relative;
}

.empty-search-heading {
  .m-empty-detail();
  margin-bottom: 2rem;
  white-space:   normal;
}

.empty-search-img--primary {
  position:  absolute;
  bottom:    0;
  max-width: 20rem;
}
