@import 'trp3Vars';
@import "../../../../../less/components/menu/room/avatar.less";
@import "../../../../../less/components/menu/room/menu-text.less";

.profile-menu {
  margin-left: 0;
  margin-bottom: 0;
  background: #262525;

  max-height: 0;
  transition: all .2s linear;
  overflow:   hidden;

  &.active {
    max-height: 40rem;
  }
}

.profile-menu__item {
  height: @menu-item-height;
  .desktop & {
    padding-left: @desktop-menu-left-padding;
  }
  .mobile {
    padding-left: @mobile-menu-left-padding;
  }
}

.profile-menu__item__title {
  .room-menu-text();
  a {
    display: block;
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}
