.create-room-container {
  display: flex;

  .gtrSlash {
    margin-top: 20px;
    margin-right: 10px;
    font-size: 2.5rem;
  }
}

.modal-backdrop + .dropdown.selectable {
  max-height: 350px;
  overflow: auto;
}

