.login-view__buttons {
 padding: 1.5rem 20% 0 20%;
}
.login-view__button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.login-view__agree {
  text-align: center;
}

.modal--default__empty-header {
  background-image: url(../images/svg/logo-black-small.svg);
}

