// TODO: should this be a component of sorts?
.login-view__buttons {
 padding: 18px 20% 0 20%;
}
.login-view__button {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

// TODO: what do I do about colours? Should this be something in ui-components?
.login-view__agree {
  text-align: center;
  font-size: 13px;
  color: grey;
  padding: 0 18px 9px 18px;
}
.login-view__agree a {
  color: grey;
  text-decoration: underline;
}

// TODO: where should I move this? ui-components, sure, but what about the svg?
.modal--default__empty-header {
  background-image: url(../images/svg/logo-black-small.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px 21px;
}

