@import "trp3Vars.less";
@import "../header/header-view";
@import "../primary-collection/primary-collection-item-view";
@import "../profile/profile-menu-view";
@import "../panel/panel-view";
@import "../../../../../less/nanoScroller";
@import "../footer/footer-view";
@import "../search-input/search-input-view";
@import "../minibar/minibar-view.less";

@import "../base-collection/base-collection-view";
@import "../primary-collection/primary-collection-view";
@import "../secondary-collection/secondary-collection-view";
@import "../tertiary-collection/tertiary-collection-view";

.nano {
  width:          100%;
  height:         100%;
}

.panel-content {
  padding-bottom: 6rem;
}
