<aside id="room-menu-container" class="room-menu-container">
  <section class="room-menu">
    <nav id="minibar" class="minibar">
      <ul class="room-menu-options">

        <li data-state-change="all" class="room-menu-options__item--home">
          <a>H</a>
        </li>

        <li data-state-change="search" class="room-menu-options__item--search">
          <a>S</a>
        </li>

        <li data-state-change="favourite" class="room-menu-options__item--favourite">
          <a>F</a>
        </li>

        <li data-state-change="people" class="room-menu-options__item--people">
          <a>P</a>
        </li>

        {{#each orgs}}
        <li data-state-change="org"
            data-room-id="{{id}}"
            data-org-name="{{name}}"
            class="room-menu-options__item--org">
              <a><img class="room-menu-options__item__avatar"  src="{{avatar_url}}"/></a>
          </li>
        {{/each}}

      </ul>
    </nav>
    <div id="room-menu__panel">
      <section class="room-menu__panel">
        <header class="panel-header" id="panel-header"></header>
        <div id="profile-menu"></div>
        <div class="nano">
          <div class="nano-content">
            <div id="search"></div>
            <section class="primary-collection" id="primary-collection"></section>
            <section class="secondary-collection" id="secondary-collection"></section>
          </div>
        </div>
      </section>
    </div>
  </section>
</aside>
