<aside id="room-menu-container" class="room-menu-container">
  <section class="room-menu">
    <nav id="minibar" class="minibar">
      <ul class="room-menu-options">

        <li data-state-change="all" class="room-menu-options__item--home">
          <a>H</a>
        </li>

        <li data-state-change="search" class="room-menu-options__item--search">
          <a>S</a>
        </li>

        <li data-state-change="favourite" class="room-menu-options__item--favourite">
          <a>F</a>
        </li>

        <li data-state-change="people" class="room-menu-options__item--people">
          <a>P</a>
        </li>

      </ul>
    </nav>
    <div id="room-menu__panel">
      <section class="room-menu__panel">
        <header class="panel-header" id="panel-header"></header>
        <div class="search" id="search"></div>
        <ul class="profile-menu" id="profile-menu">

          <li class="profile-menu__item">
            <h2 class="profile-menu__item__title">
              <a href="#">Home</a>
            </h2>
          </li>

          <li class="profile-menu__item">
            <h2 class="profile-menu__item__title">
              <a href="#">Billing</a>
            </h2>
          </li>

          <li class="profile-menu__item">
            <h2 class="profile-menu__item__title">
              <a href="#">Get Gitter Apps</a>
            </h2>
          </li>

          <li class="profile-menu__item">
            <h2 class="profile-menu__item__title">
              <a href="#">Sign Out</a>
            </h2>
          </li>

        </ul>
        <section class="primary-collection" id="primary-collection"></section>
      </section>
    </div>
  </section>
</aside>
