@import "trp3Vars.less";
@import "../header/header-view";
@import "../primary-collection/primary-collection-item-view";
@import "../profile/profile-menu-view";
@import "../secondary-collection/secondary-collection-view";
@import "../panel/panel-view";
@import "../../../../../less/nanoScroller";
@import "../footer/footer-view";
@import "../search-input/search-input-view";
@import "../search-results/search-results-view";

//TODO FIGURE OUT WHY THIS IS NEEDED:
html {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.room-menu-container {
  position:   relative;
  height:     100%;
  background: @menu-bg;
  z-index:    101;

  .mobile & {
    width: @mobile-menu-width;
    min-width: @mobile-header-height;
  }

  .desktop & {
    width: @desktop-menu-width;;
  }

}

.room-menu {
  height:   100%;
  position: relative;
  z-index:  2;
}

.minibar {
  position:   relative;
  width:      100%;
  height:     100%;
  z-index:    1;
  background: @menu-bg;
}

.room-menu__panel {
  box-sizing:   border-box;
  position:     absolute;
  top:          0;
  left:         0;
  height:       100%;
  padding-left: 100%;
  background:   @menu-panel-bg;
  transform:    translateX(-100%);
  transition:   all .2s linear .1s;

  &.active {
    transform: translateX(0);
  }

  &:after {

    content:         ' ';
    display:         flex;
    justify-content: center;
    align-items:     center;
    position:        absolute;
    top:             0;
    left:            0;
    width:           100%;
    height:          100%;
    background:      @menu-panel-bg;
    color:           @menu-item-color;
    pointer-events:  none;
    transition:      opacity .2s ease-in-out;
    opacity:         0;

  }

  &.loading {
    &:after {
      opacity: 1;
    }
  }

  .mobile & {
    width: @menu-panel-mobile-width;
    padding-bottom: @mobile-header-height;
  }

  .desktop & {
    width: @menu-panel-desktop-width;
    padding-bottom: @desktop-header-height;
  }
}

.room-menu-options {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 0;
}

.sudo-panel() {
  content:    ' ';
  display:    inline-block;
  position:   absolute;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  transform:  translateX(-100%);
  transition: transform .2s linear;

}

.room-menu-options__item() {
  position:   relative;
  color:      white;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  //TODO REPLACE WITH CLASS
  & a {
    display:         flex;
    position:        relative;
    z-index:         1;
    width:           100%;
    height:          100%;
    justify-content: center;
    align-items:     center;
    color:           inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .mobile & {
    line-height: @mobile-header-height;
    height:      @mobile-header-height;
  }

  .desktop & {
    line-height: @desktop-header-height;
    height:      @desktop-header-height;
  }

  &:before {
    .sudo-panel();
  }

  &:after {
    .sudo-panel();
  }

  &:hover {
    &:before {
      transform: translateX(0);
    }
  }

}

.room-menu-options__item--home {
  .room-menu-options__item();
  background: black;

  &.active {
    background: @ruby;
  }

  &:before {
    background: @ruby;
  }
}

.room-menu-options__item--search {
  .room-menu-options__item();
  background: #131314;

  &.active {
    background: @jaffa;
  }

  &:before {
    background: @jaffa;
  }
}

.room-menu-options__item--people {
  .room-menu-options__item();
  background: #1f1f1f;

  &.active {
    background: @people-bg;
  }

  &:before {
    background: @people-bg;
  }
}

.room-menu-options__item--favourite {
  .room-menu-options__item();
  background: #1a191b;

  //Replace with class
  & img {
    transition: transform .2s linear;
  }

  &.dropped {
    background: @caribbean;
    & img {
      transform: rotate(90deg) scale(1.5);
    }
  }

  &.active {
    background: @caribbean;
  }

  & .room-item {
    display:  none;
  }

  &:before {
    background: @caribbean;
  }

  &:after {
    background: @caribbean;
  }

  &.drag-start {
    &:after {
      transform: translateX(0);
    }
  }
}

.room-menu-options__item--org {
  .room-menu-options__item();

  a {
    display:         flex;
    justify-content: center;
    align-items:     center;
    width:           100%;
    height:          100%;
  }

  &.active {
    background: @org-bg;
  }

  &:before {
    background: @org-bg;
  }
}

.room-menu-options__item--close {
  .room-menu-options__item();
  margin-top: auto;
}

.menu-close-button {
  transition: transform .2s linear;
  &.active {
    transform: rotate(90deg);
  }
}

.room-menu-options__item__avatar  {
  width:         2.34rem;
  height:        2.34rem;
  border-radius: .2rem;

  .mobile & {
    width: 1.4rem;
    height: 1.4rem;
  }
}


.nano {
  width: 100%;
  height: 100%;
}
