@import "trp3Vars.less";
@import "../../../../../less/nanoScroller";

@import "../panel/panel-view";
@import "../minibar/minibar-view";

@import "../header/header-view";
@import "../profile/profile-menu-view";
@import "../search-input/search-input-view";

@import "../base-collection/base-collection-view";

@import "../primary-collection/primary-collection-view";
@import "../primary-collection/primary-collection-item-view";
@import "../primary-collection/primary-collection-item-search-empty-view";
@import "../primary-collection/primary-collection-item-favourite-empty-view";

@import "../secondary-collection/secondary-collection-view";
@import "../secondary-collection/secondary-collection-item-search-view";


@import "../tertiary-collection/tertiary-collection-view";

@import "../footer/footer-view";


//Fixes https://github.com/troupe/gitter-webapp/issues/1035
html {
  position: fixed;
  top:      0;
  left:     0;
  width:    100%;
  height:   100%;
}

.nano {
  width:          100%;
  height:         100%;
}

.panel-content {
  padding-bottom: 6rem;
}
