@import "../../colors";
@import (less, reference) "~gitter-styleguide/css/components/buttons.css";

.editable-content__editor {
  display: flex;
  flex-direction: column;
  width: 200%;
  height: 100%;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid @input-border-color;
  background-color: white;

  .editor {
    width: 100%;
    height: 100%;
    min-height: 12rem;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }
}

.editable-content__footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 2rem 2.5rem;
}

.editable-content__cancel {
  &:extend(.secondary-button-pampas--small);
  cursor: pointer;
}

.editable-content__save {
  &:extend(.button-thunder--xsmall);
  cursor: pointer;
}
