@import "../../colors";
@import "../../text.less";

.input {
  background: none;
  outline: none;
  border: none;

  border-bottom: 1px solid @input-border-color;
  transition:    border-bottom-color .2s ease-in;

  font-family: @font-family;

  &.invalid {
    border-color: @invalid;
  }

  &.valid {
    border-color: @valid;
  }
}

.input--valid {
  .input();
  border-bottom-color: @valid;
}

.input--invalid {
  .input();
  border-bottom-color: @invalid;
}
