@import "../../text.less";
@import (reference) "../../colors.less";

@unicode-down-arrow: '\2023';

.select__decal {

  position: relative;
  display: inline-block;
  transition: color .2s ease-in;

  &.invalid {
    &:after {
      color: @invalid;
    }
  }

  &:after{
    content:   @unicode-down-arrow;
    position:  absolute;
    top:       50%;
    right:     1rem;
    color:     white;
    font-size: 2.5rem;
    transform: translateY(-50%) rotateZ(90deg);
    pointer-events: none;
  }
}

.select {
  //FIXME -> add autoprefixer
  -webkit-appearance: none;
  background:         none;
  outline:            none;
  border-color: white;
  padding:      .7rem 3rem .7rem 1rem;

  //FIXME how do we handle these deffinitions
  font-family:    @font-family;
  font-size:      1.2rem;
  color:          white;
  text-transform: uppercase;
  transition: border-color .2s ease-in;

  &.invalid {
    border-color: @invalid;
  }
}

.option {
  color: @dark;
}
