@import "trp3Vars";
@import (reference) "../../../../../less/components/menu/room/menu-text.less";

.left-menu-forum-category-item {
  .room-menu-text();

  display: block;
  margin-left: (@desktop-menu-left-padding / 2);
  margin-right: (@desktop-menu-left-padding / 2);
  padding-left: (@desktop-menu-left-padding / 2);

  transition: background-color .2s ease;

  &:hover,
  &:focus {
    .room-item-active();
    text-decoration: none;
  }
}
