<div class="trpDisplayPicture avatar-{{id}} avatar-{{avatarSize}}">
  {{#showStatus}}<div class="trpStatus" id="status"> </div>{{/showStatus}}
  {{#showBadge}}<div class="trpDPUnreadCount">12</div>{{/showBadge}}
</div>
