<a class="trpDisplayPicture avatar-4fd48bda40a7cc9644000003 avatar-s offline" data-original-title="Andrew Newdigate&lt;br&gt;Old Street, England" style="background-image: url({{avatarUrl}});" href="{{url}}">
  <div class="trpStatus" id="status" data-original-title="" title=""> </div>
  <div class="trpDPUnreadCount">12</div>
</a>