@import "../behaviors/highlight";
@import (reference) "../../../less/pulse-animations.less";
@import (reference) "../../../less/trp3Vars.less";
@import (reference) "../../../less/colors.less";

.u-uppercase {
  text-transform: uppercase;
}

.u-hide {
  display: none;
}

.search *,
.search-results * {
  box-sizing: border-box;
}

.search, .search-results {
  width: 100%;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search.active .search__toggle { display: none; }
.search.active .search-input { display: block; }
.search.active .search-input__clear { display: block; }

.search__toggle {
  display: none;
  padding: 8px;
  background-color: transparent;
  border: none;

  @media @mid {
    display: block;
  }
}

.search__toggle-icon {
  font-size: 18px;
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}



.search-input {
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  z-index: 200;
  width: 100%;
  padding: 0 0.625em;

  @media @mid {
    display: none;
  }
}

.search-input input {
  margin: 0;
  padding: 0 10px 0 26px;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  border-radius: 6px;
}

// remove duplicate close icon in ie10+
.search-input input::-ms-clear {
  display: none;
}

.search-input input:focus {
  box-shadow: none;
}

.search-input__icon {
  position: absolute;
  top: 8px;
  left: 17px;
  opacity: 0.6;
}

.search-input__icon.fetching {
  .pulse--fast();
  color: @trpLightBlue;
}

.search-input__clear {
  position: absolute;
  top: 5px;
  right: 12px;
  display: none;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.search-input__clear:hover {
  opacity: 0.8;
}

.search-results {
  position: relative;
  line-height: normal;
  text-align: left;
  user-select: text;
  z-index: 0;
}

.search-header {
  margin-left: 8px;
  padding: 2px 0 8px 6px;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.result {
  clear: both;
  cursor: pointer;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  padding: 0.4em 0.625em;
  border-bottom: 1px solid fade(@light,60%);
}

.result.selected,
.result:hover {
  background-color: @light;
}

.result.selected .result-room {
  font-weight: 600;
}

.result.selected .result-message {
  font-weight: 600;
}

.result.selected .result-message p.result-detail {
  font-weight: 400;
}

.result:last-child {
  border: none;
}

.result p {
  line-height: normal;
}

.result-empty {
  padding: 0 0.9em 0 14px;
  color: @gray;
}

.result-empty a {
  color: @trpLightBlue;
  text-decoration: underline;
}

.result-avatar {
  @size: 24px;
  float: left;
  height: @size;
  width: @size;
}

.js-search-messages .result-avatar {
  @size: 16px;
  width: @size;
  height: @size;
}

.result-avatar img {
  border-radius: 4px;
}

.result.result-upgrade {
  border-bottom: none;
}

.result.result-upgrade:hover {
  background-color: transparent;
}

.result-upgrade .result-content.result-message {
  background-color: @light;
  height: auto;
  overflow: auto;
  white-space: normal;
  border-radius: 4px;
  padding: 4px 6px;
  max-width: 254px;
  width: 100%;
  text-align: center;
}

.result-upgrade .result-content.result-message a {
  text-decoration: none;
}

.result-content {
  float: left;
  margin-left: 0.625em;
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-content.result-message {
  margin-top: -4px;
}

.result-upgrade

.right-toolbar .result-content p {
  margin-bottom: 0;
  margin-top: -3px;
}
