body {
	margin: 0;
	background-color: #ecf1ec;
}

@font-face {
font-family: 'StagSansWeb-Light';
    src: url('StagSansWeb-Light.eot?#iefix') format('embedded-opentype'),
       url('StagSansWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

ul {
	margin:5px;
	padding:5px;
}

li {
	padding: 5px;
}

.left-menu-hotspot {
	position: fixed;
	top: 0;
	left: 0;
	width: 40px;
	height: 100%;
	z-index: 10;
}

.leftmenu {
	font-family: 'StagSansWeb-Light';
	position: fixed;
	width: 280px;
	left: -280px;
	top: 0px;
	background-color: #1dce73;
	height: 100%;
	overflow: hidden;
	color: white;
	font-size: 20px;
	z-index: 12;
}


.content {
	background-color: #ecf1ec;
	margin-left: 0px;
	height: 100%;
	text-align: center;
}

.header {
	width: 100%;
	height: 60px;
	background-color: white;
}

.header-content {
	display: inline-block;
	min-width: 700px;
	text-align: left;
	font-family: 'StagSansWeb-Light';
	font-size: 24px;
	color: #333;
	padding-top: 14px;
}


.chatframe {
	min-width: 500px;
	height: 100%;
	display: inline-block;
	text-align: left;
	padding-top: 40px;
	border-radius: 5px;
}

.chat-input-display-picture {
	height: 48px;
	width: 48px;
	border-radius: 5px 0px 0px 5px;
	display: inline-block;
}

.display-picture {
	height: 48px;
	width: 48px;
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
	opacity: 0.8;
}

.inputbox {
	background-color: white;
	display: inline-block;
	height: 48px;
	vertical-align: top;
	width: 400px;
	border-radius: 0px 5px 5px 0px;
}

.chat-content {
	margin-top: 30px;
}

.chat-item {
	margin-bottom: 16px;
}

.chatbox {
	background-color: white;
	display: inline-block;
	min-height: 48px;
	vertical-align: top;
	width: 380px;
	max-width: 400px;
	border-radius: 0px 5px 5px 0px;
	font-family: 'Open Sans';
	font-size: 14px;
	padding: 12px;
	line-height: 150%;
}

.inputboxtextarea {
	width: 400px;
	outline: none;
	font-family: 'Open Sans';
	font-size: 14px;
	padding-left: 5px;
}

textarea {
	border: 0px;
	resize: none;
}

.toolbar {
	min-width: 200px;
	max-width: 200px;
	height: 100%;
	display: inline-block;
	text-align: left;
	padding-top: 40px;
	vertical-align: top;

}

.toolbar-header {
	font-family: 'Open Sans';
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 12px;
	padding-bottom: 4px;
}

.thumbnail {
	width: 32px;
	height: 32px;
	border-radius: 2px;
	display: inline-block;
	background-size: contain;
	border: 1px solid ddd;
}

.mail-item-picture {
	width: 32px;
	height: 32px;
	border-radius: 2px;
	display: inline-block;
	background-size: contain;
/*	border: 1px solid ddd;*/
}

.mail-item {
	margin-bottom: 4px;
}

.mail-item-subject {
	display: inline-block;
	font-family: 'Open Sans';
	font-size: 12px;
	vertical-align: top;
	padding-top: 5px;
	padding-left: 5px;
	max-width: 158px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.menutoggle {
	position: fixed;
	left: 0px;
	top: 100px;
}


