<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">

<title>Troupe</title>

<link rel="stylesheet" href="bootstrap/css/troupe.css">

<script data-main="js/app.js" src="js/libs/require/require.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
	    <ul class="nav">
		  <li class="active">
		    <a href="#">Home</a>
		  </li>
		  <li><a href="#">Link</a></li>
		  <li><a href="#">Link</a></li>
		</ul>    
    </div>
  </div>
</div>

<div class="container-fluid main-container">
	<div class="content">
		<div class="row-fluid">
			<div class="span2">
				<div class="well main-nav">
					<ul class="nav nav-list">
						<li class="nav-header">List header</li>
						<li><a href="#everything"><i class="icon-home"></i>Everything</a></li>
						<li><a href="#statusphere"><i class="icon-comment"></i>Status Updates</a></li>
						<li><a href="#mail"><i class="icon-envelope"></i>Mail</a></li>
						<li><a href="#chat"><i class="icon-inbox"></i>Chat</a></li>
						<li><a href="#files"><i class="icon-file"></i>Files</a></li>
						<li><a href="#people"><i class="icon-user"></i>People</a></li>
					</ul>
				</div>
			</div>
			<div class="span10">...</div>
		</div>
	</div>
</div>

</body>
</html>
