                <br><br>
                <table class="row footer">
                  <tr>
                    <td class="wrapper">

                    <!-- insert footer content here if you want some -->

                    </td>

                  </tr>
                </table>

                <br><br>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td align="center">
                            <center>
                              <p>Copyright © 2014 Troupe Technology Limited<br>All rights reserved.</p>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

              <!-- container end below -->
              </td>
            </tr>
          </table>

        </center>
      </td>
    </tr>
  </table>
</body>
</html>
