

<table width="100%" cellpadding="0" cellspacing="0" class="green-strip">
<tr>
<td align="center">
  <table width="680">
    <tr>
        <td align="center"><br><br>
        <span class="body white">
          Download Troupe on your Mac or iPhone
        </span>
        <br><br>
        <table>
          <tr>
            <td>
             <a href="{{baseServerPath}}/mac-app"><img src="{{cdn 'images/2/macbook.png' nonrelative=true }}" border="0"></a>
            </td>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
              <a href="{{baseServerPath}}/ios-app"><img src="{{cdn 'images/2/iphone4-white.png' nonrelative=true }}" border="0"></a>
            </td>
          </tr>
        </table>
         <br><br>
      </td>
    </tr>
  </table>
</td>
</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td align="center">
  <table width="680">
    <tr>
      <td align="center"><br><br>
        <span class="subtext">Copyright &copy; 2013 Troupe Technology Limited<br>All rights reserved.</span>
        </span><br><Br>
      </td>
    </tr>
  </table>
</td>
</tr>
</table>




</body>
</html>