<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td align="center">
  <table width="600" style="background-color: white;">
    <tr>
      <td><br>
        <span class="subtext" style="color: #162e34;display: block;font-family: lucida grande, Geneva, Helvetica, Arial, Sans-serif;font-size: 12px;font-weight: normal;line-height: 100%;margin-top: 0;margin-right: 0;margin-left: 0;">Copyright &copy; 2014 Troupe Technology Limited<br>All rights reserved.</span>
        <br><br>
      </td>
    </tr>
  </table>
</td>
</tr>
</table>
</body>
</html>
