          <table class="container">
            <tr>
              <td>
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <h1>Hello stranger!</h1>
                            <br>
                            <p>Forgive the intrusion, but <strong>{{senderName}}</strong> just invited you to the {{roomUri}} chat on Gitter.</p>
                            <br>
                              <a href="{{roomUrl}}" style="text-decoration: none">
                                <table class="button-green">
                                  <tr>
                                    <td>Join the conversation</td>
                                  </tr>
                                </table>
                              </a>
                          <br><br>
                            <p>What is Gitter you ask? Reasonable question. Gitter is where developers come to talk. We host thousands of public communities where software developers around the world come together to interact. We also have both a free and a paid for plan for private conversations amongst teams and businesses.</p>
                            <p>We built Gitter specifically for developers, with awesome features like markdown support and syntax highlighting as well as deep integration with GitHub and other services. </p>
                            <p>We hope you'll love it.</p>
                            <p>Find out more at <a href="https://gitter.im">gitter.im</a></p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
