Hi {{displayName}}.
<br><br>
{{senderDisplayName}} has invited you to join the Troupe called <span class="green">{{troupeName}}</span>.
<br><br>Troupe is an easy way to communicate with groups of people.
<br>
Click on the link below to join.<br><br>
<div class="button"><a href="{{acceptLink}}" class="trpGreen">Join</a></div>

