        <span class="heading">
          Hi there,
        </span>
        </span><br><Br>
        <span class="body">
          <br><br>
          {{senderDisplayName}} has invited you to join the Troupe called <span class="green">{{troupeName}}</span>.
<br><br>Troupe is an easy way to communicate with groups of people.
          <br><br><br><br>
        </span>
      </td>
    </tr>
  </table>

</td>
</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" class="beige-strip">
<tr>
<td align="center">
  <table width="680">
    <tr>
      <td align="center"><br><br><br><br>
        <span class="body">
         Click on the button below to accept the invitation.<br><br>
         <div class="button"><a href="{{acceptLink}}">Accept invitation</a></div><br><br>
        </span>
        </span><br><Br>
      </td>
    </tr>
  </table>
</td>
</tr>
</table>