<h1 class="h1">Hello, welcome to Troupe.</h1>
<br>
Thank you for signing up.
<br><br>
Your Troupe called <span class="green">{{troupeName}}</span> has successfully been created. <Br>Click on the button below to confirm this is you and get started.
<br>
<br>
<div class="button"><a href="{{confirmLink}}">Get started</a></div>
<br>
<span class="subtext">By clicking on this button, you agree to our <a href="{{baseServerPath}}/legals" class="green">legal conditions.</a></span>
