<div class="room-item">
  <a href="{{! TODO Construct link}}" class="room-item__container ">
    <h2 id="group-home-button-title" class="room-item__title">
      <span class="room-item__title-piece">Home</span>
    </h2>
  </a>
</div>
