<div class="room-item group-home-view">
  <a href="{{homeUri}}" class="room-item__container ">
    <h2 id="group-home-button-title" class="room-item__title">
      <span class="room-item__title-piece">Home</span>
    </h2>
  </a>
</div>
