{{#if isAllState }}
<div class="panel-header__title--all">&nbsp;</div>
{{/if}}

{{#if isSearchState}}
<h1 class="panel-header__title--search">Search</h1>
{{/if}}

{{#if isFavouriteState}}
<h1 class="panel-header__title--favourite">Favourites</h1>
{{/if}}

{{#if isPeopleState}}
<h1 class="panel-header__title--people">People</h1>
{{/if}}
