<div class="panel-header__container--all" id="panel-header-all">
  <h2 class="panel-header__title--all">All Conversations</h2>
  <img id="panel-header-profile-toggle"
       class="panel-header__icon--all"
       src='{{cdn "images/svg/menu/down-arrow.svg"}}'
       height="12"
       width="12"/>
</div>

<label class="panel-header__container" id="panel-header-search" for="form-left-menu-search-box">
  <h2 class="panel-header__title--search">Search</h2>
</label>

<div class="panel-header__container" id="panel-header-favourite">
  <h2 class="panel-header__title--favourite">Favourites</h2>
</div>

<div class="panel-header__container" id="panel-header-people">
  <h2 class="panel-header__title--people">People</h2>
</div>

<div class="panel-header__container" id="panel-header-org">
  <h2 class="panel-header__title--org">{{orgName}}</h2>
  {{! TODO Should this links navigation be handled in the JS so we just chnage the frames src?
      JP 11/1/16 }}
  <a class="panel-header__org-icon js-left-menu-org-page-action" href="/orgs/{{orgName}}/rooms" title="More {{orgName}} rooms">
    <i class="panel-header__org-icon__globe icon-globe"></i>
  </a>
</div>
