<div class="panel-header__container--all" id="panel-header-all">
  <img class="panel-header__avatar" src="{{user.avatarUrlSmall}}"/>
  <i id="menu-panel-header-close"  class="panel-header__close-icon icon-cancel-circle active"></i>
</div>

<div class="panel-header__container" id="panel-header-search">
  <h1 class="panel-header__title--search">Search</h1>
</div>

<div class="panel-header__container" id="panel-header-favourite">
  <h1 class="panel-header__title--favourite">Favourites</h1>
</div>

<div class="panel-header__container" id="panel-header-people">
  <h1 class="panel-header__title--people">People</h1>
</div>

<div class="panel-header__container" id="panel-header-org">
  <h1 class="panel-header__title--org">{{orgName}}</h1>
  <a class="panel-header__org-icon">&#127760;</a>
</div>
