{{#if isAllState }}
<div class="panel-header__title--all">
  <img class="panel-header__avatar" src="{{user.avatarUrlSmall}}"/>
  <h2 class="panel-header__display-name">{{user.displayName}}</h2>
</div>
{{/if}}

{{#if isSearchState}}
<h1 class="panel-header__title--search">Search</h1>
{{/if}}

{{#if isFavouriteState}}
<h1 class="panel-header__title--favourite">Favourites</h1>
{{/if}}

{{#if isPeopleState}}
<h1 class="panel-header__title--people">People</h1>
{{/if}}

{{#if isOrgState}}
<div class="panel-header__container">
  <h1 class="panel-header__title--org">{{orgName}}</h1>
  <a class="panel-header__org-icon">&#127760;</a>
</div>
{{/if}}
