@import "../../../../../less/components/menu/room/avatar.less";
@import "../../../../../less/components/menu/room/menu-text.less";

.panel-header {
  background: transparent;
  text-align: left;
}

.panel-header__title--all {
  box-sizing:   border-box;
  display:      flex;
  align-items:  center;
  height:       @header-height;
  width:        100%;
  padding-left: @menu-left-padding;
  background:   @ruby;

  &:hover {
    cursor: pointer;
  }
}

.panel-header__avatar {
  .room-menu-avatar();
}

.panel-header__display-name {
  .room-menu-text();
  color: white;
}

.panel-header__title {
  padding:     0 0 0 @menu-left-padding;
  margin:      0;
  line-height: @header-height;
  font-weight: 300;
  font-size:   2.5rem;
}

.panel-header__title--search  {
  .panel-header__title;
  color:       @jaffa;
}

.panel-header__title--favourite {
  .panel-header__title;
  color:       @caribbean;
}

.panel-header__title--people {
  .panel-header__title;
  color:       @people-bg;
}

.panel-header__title--org {
  .panel-header__title;
  color:       @org-bg;
}

.panel-header__container {
  width: 100%;
  display: flex;
  align-items: center;
}

.panel-header__org-icon {
  margin-left:  auto;
  margin-right: @menu-left-padding;
  color:        @org-bg;
  font-size:    2rem;

  .desktop & {
    font-size: 3rem;
  }

}
