<div class="trpDisplayPicture avatar-s  " style="background-image: url('{{avatarUrlSmall}}')" data-title="{{displayName}}"></div>
<strong>{{username}}</strong> <span class="username">{{displayName}}</span>
<span class="remove"></span>
