<div class="trpModalBody">
  <input class="gtrInput"> <button class="trpButtonMedium trpBtnGrey">Select</button>
  <div class="gtrPeopleAddRoster">
    <div class="gtrPeopleRosterItem">
      <div class="trpDisplayPicture avatar-529dcd08278f637b8bb75c4a avatar-s  " style="background-image: url('https://gravatar.com/avatar/a8b4506ba466eecadc9f4c1b46d400d0?d=https%3A%2F%2Fidenticons.github.com%2F2b97120888b0a92d3a73b41740dfa69e.png&amp;r=x')" data-original-title="Mike Bartlett "></div>
      <strong>Mike Bartlett</strong> <span class="username">mydigitalself</span> <span class="remove"></span>
    </div>
    <div class="gtrPeopleRosterItem">
      <div class="trpDisplayPicture avatar-529dcd08278f637b8bb75c4a avatar-s  " style="background-image: url('https://gravatar.com/avatar/a8b4506ba466eecadc9f4c1b46d400d0?d=https%3A%2F%2Fidenticons.github.com%2F2b97120888b0a92d3a73b41740dfa69e.png&amp;r=x')" data-original-title="Mike Bartlett "></div>
      <strong>Mikaelis Bartelverylongname</strong> <span class="username">mydigitalselfinsteinberg</span> <span class="remove"></span>
    </div>
  </div>
</div>
