<input class="gtrInput" autofocus placeholder="Search for people you know...">
<div class="gtrPeopleAddRoster">
  <div class='gtrPeopleAddRoster__adding js-add-roster-loading hide'><p><i class='isLoading pulse'></i> Adding...</p></div>
  {{!-- Added items will be here --}}
</div>
<div class="trpModalFailure" id="modal-failure" style="display:none"></div>
<div class="trpModalSuccess" id="modal-success" style="display:none"></div>
