<div class="welcome-modal__collaborators">
  <div class="welcome-modal__close js-close"></div>
  <div class="welcome-modal__header">
    <h2>Get started, add some people</h2>
  </div>
  <ul id="list"></ul>

  <div class="welcome-modal__footer">
    <div class="welcome-modal__footer-button"><button class='trpButtonMedium trpBtnGreen button' id="add-button" href='#add'>Search for other users</button></div>
    <div class="welcome-modal__footer-button"><button class='trpButtonMedium trpBtnGreen button js-share-button' id="share-button" href='#add'>Share this room</button></div>
</div>
