<div class="modal-content">
  <ul id="tag-list">

  </ul>
  <div id="tag-list-edit" class="tag-list-edit"></div>
</div>

<div id="request_validation" class="trpModalFailure" style="display:none">
  <div class="trpModalFailureText" id="failure-text"></div>
</div>
