<div class="modal-content">
  <form id="editTags">

    <label for="tags" style="color: black;">
      Comma separated tags:
      <input type="text" id="tags" name="tas" value="{{tags}}"/>
    </label>

  </form>
</div>

<div id="request_validation" class="trpModalFailure" style="display:none">
  <div class="trpModalFailureText" id="failure-text"></div>
</div>
