{{#if added}}
  <div class='content'>
    <span>{{ login }}</span> <span class="message">was added.</span>
  </div>
{{/if}}

{{#if invited}}
  <div class='content'>
    <span>{{ login }}</span> <span class="message">has been invited to Gitter.</span>
  </div>
{{/if}}

{{#if unreachable}}
  <div class='content'>
    <input type='email' placeholder="Enter {{ login }}'s email">
  </div>
  <div class='action'>
    <a href='#' class='trpButton trpBtnGreen js-invite'>Invite</a>
  </div>
{{/if}}
