<div class="modal-content">
  <table class="markdown-help-content">
    <tbody>
        <tr>
          <td colspan="2"><h2>Global shortcuts</h2></td>
        </tr>
        <tr>
          <td><code>{{cmdKey}}</code> + <code>`</code></td>
          <td>Toggle keyboard shortcut mode</td>
        </tr>
        <tr>
          <td><code>q</code>, <code>r</code></td>
          <td>Quote selected text</td>
        </tr>
        <tr>
          <td><code>{{cmdKey}}</code> + <code>{{gitterKey}}</code> + <code>h</code></td>
          <td>Toggle help dialog</td>
        </tr>
        <tr>
          <td><code>Alt</code> + <code>⇧</code> + <code>↓</code></td>
          <td>Select next conversation in the favourites list</td>
        </tr>
        <tr>
          <td><code>Alt</code> + <code>⇧</code> + <code>↑</code></td>
          <td>Select previous conversation in the favourites list</td>
        </tr>
        <tr>
          <td><code>Alt</code> + <code>⇧</code> + <code>Enter</code></td>
          <td>Go to the conversation selected in the favourites list</td>
        </tr>
        <tr>
          <td><code>Alt</code> + <code>⇧</code> + <code>→</code></td>
          <td>Go to the next conversation in the favourites list</td>
        </tr>
        <tr>
          <td><code>Alt</code> + <code>⇧</code> + <code>←</code></td>
          <td>Go to the previous conversation in the favourites list</td>
        </tr>
        <tr>
          <td><code>Alt</code> + <code>⇧</code> <code>1</code>...<code>0</code></td>
          <td>Go to conversation N in the favourites list (key <code>0</code> for conversation 10)</td>
        </tr>
        <tr>
          <td colspan="2">
            <h2>Input mode shortcuts</h2>
            <em>Active when focusing an input (chat or search)</em>
          </td>
        </tr>
        <tr>
          <td><code>Tab</code></td>
          <td>Focus next input</td>
        </tr>
        <tr>
          <td><code>⇧</code> + <code>Tab</code></td>
          <td>Focus previous input</td>
        </tr>
        <tr>
          <td colspan="2">
            <h2>Chat mode shortcuts</h2>
            <em>Active when focusing the chat input</em>
          </td>
        </tr>
        <tr>
          <td><code>Enter</code></td>
          <td>Send message (when not in compose mode)</td>
        </tr>
        <td>
          <code>Ctrl</code> + <code>Enter</code><br>
          <code>⌘</code> + <code>Enter</code>
        </td>
        <td>Send message</td>
        <tr>
          <td><code>↑</code></td>
          <td>Edit previous message (if possible)</td>
        </tr>
        <tr>
          <td colspan="2">
            <h2>Search mode shortcuts</h2>
            <em>Active when focusing the search input</em>
          </td>
        </tr>
        <tr>
          <td><code>↓</code></td>
          <td>Select next conversation in the results list</td>
        </tr>
        <tr>
          <td><code>↑</code></td>
          <td>Select previous conversation in the results list</td>
        </tr>
        <tr>
          <td><code>Enter</code>, <code>→</code></td>
          <td>Go to selected conversation in the results list</td>
        </tr>
        <tr>
          <td colspan="2">
            <h2>Shortcut mode keys</h2>
            <em>Active when not focusing an input, use <code>ESC</code> to toggle</em>
          </td>
        </tr>
        <tr>
          <td><code>h</code></td>
          <td>Toggle help dialog</td>
        </tr>
        <tr>
          <td><code>Tab</code></td>
          <td>Display next help page (if dialog is shown)</td>
        </tr>
        <tr>
          <td><code>⇧</code> + <code>Tab</code></td>
          <td>Display previous help page (if dialog is shown)</td>
        </tr>
        <tr>
          <td><code>1</code>...<code>0</code></td>
          <td>Go to conversation N in the favourites list (key <code>0</code> for conversation 10)</td>
        </tr>
    </tbody>
  </table>
</div>
<br>
