<div class="modal-content">
  <table class="markdown-help-content">
    <tbody>
        <tr>
          <td><code>ESC</code></td>
          <td>Toggle keyboard shortcut mode</td>
        </tr>
    </tbody>
  </table>  
</div>
<br>

