<div class="trpBodyMedium">
  <div id="message-confirmation-failed-already-registered" style="display: none">
    Cannot confirm the email address change. The new email address has already been registered by someone else since you initiated the change.
  </div>
</div>