<form>
  <label for="tags" class="tag-list-edit__label">
    <input  type="text"
            id="tags"
            class="gtrInput"
            name="tags"
    />
  </label>
  <!-- extend the BEM class  -->
  <button class="trpModalButton trpButtonMedium trpBtnGreen button tag-list-edit__button">Add</button>
</form>
