<div class="modal-content">
  <form id="troupeSettings">
    {{#if hellFreezesOver}}
    <div class="trpBodyMedium">Troupe name<br></div>
    <input type="text" name="name" value="{{name}}"/ class="trpInput" style="margin-top: 8px">
    <br><br>
    {{/if}}
    <div class="trpBodyMedium" style="margin-bottom: 6px;">
        Notification Settings
    </div>

    <select class="trpInput" style="width: 306px; height: 36px" id="notification-options">
      <option value="all">Notify me for all messages</option>
      <option value="mention">Notify me when somebody mentions me</option>
      <option value="mute">Don't notify me at all</option>
    </select>
    <br>
    <div class="trpBodySmall" style="color: #999">Notification settings only apply to you and not to other users.</div>

    <div class="trpRequestSubmit"><br>
      <button type="submit" class="trpModalButton trpButtonMedium trpBtnGreen" id="save-troupe-settings">Save</button>
<!--       <button type="button" class="trpModalButton trpButtonMedium trpBtnGrey" id="cancel-troupe-settings">Cancel</button> -->

      {{#if hellFreezesOver}}
      {{#if canDelete}}
      <button type="button" class="trpModalButton trpButtonMedium trpBtnRed" id="delete-troupe">Delete Troupe</button>
      {{/if}}

      {{#if canLeave}}
      <button type="button" class="trpModalButton trpButtonMedium trpBtnLightGrey" id="leave-troupe">Leave this Troupe</button>
      {{/if}}
      {{#if isNativeDesktopApp}}
      <a href="{{troupeUrl}}#|integrations" target="_blank" class="trpModalButton trpButtonMedium trpBtnLightGrey">Integrations...</a>
      {{else}}
      <a href="#|integrations" class="trpModalButton trpButtonMedium trpBtnLightGrey">Integrations...</a>
      {{/if}}
      <br><br>
      <p class="trpBodySmall">You can delete a Troupe once you are the only person left in the Troupe</p>
      {{/if}}
  </div>
  </form>
</div>
<div id="request_validation" class="trpModalFailure" style="display:none">
  <div class="trpModalFailureText" id="failure-text"></div>
</div>