<div class="modal-content">
  <form id="troupeSettings">
    <div class="trpBodyMedium">Troupe name<br></div>
    <input type="text" name="name" value="{{name}}"/ class="trpInput" style="margin-top: 8px">
    <div class="trpRequestSubmit">
      <button type="submit" class="trpModalButton trpButtonBig trpBtnGreen" id="save-troupe-settings">Save</button>
      <button type="button" class="trpModalButton trpButtonBig trpBtnGrey" id="cancel-troupe-settings">Cancel</button>
  </div>
  </form>
</div>
<div id="request_validation" class="trpModalFailure" style="display:none">
  <div class="trpModalFailureText" id="failure-text"></div>
</div>