<form id="troupeSettings">
  <label>Troupe name</label>
  <input type="text" name="name" value="{{name}}"/ class="trpInput">
  <p class="trpBodyMedium">You can delete a troupe once you are the only person left in the troupe</p>
</form>