<div class="modal-content">
  <div class="upgrade">
    <p>Shucks! The room <b>{{orgName}}</b> has reached the maximum number of {{maxMemberCount}} users allowed on our free plan.</p>
    <p>You will need to upgrade <b>{{orgName}}</b> to our Pro plan to join this room. Please note This requires Admin access to the Organisation.</p>
    <p>You can visit our <a href="https://billing.gitter.im" target="_blank">billing page for more details.</a></p>
    <small>If you need help please feel free to <a href="http://support.gitter.im" target="_blank">contact support</a>.</small>
  </div>
</div>
<br>
