<h5 class="trpToolbarHeader" id="activity-header">Activity</h5>

<div class="trpTroupeRelatedContent">
  <div class="trpTroupeRelatedContentHolder" id="activity">
    <ul class="gtrActivityList u-font-smaller" id="activity-list">{{{_prerender_inner}}}</ul>
  </div>
</div>
