{{#if isAdmin}}
<p>
  We haven't seen any activity yet. <a href="{{integrationsUrl}}" target="{{#if isNativeDesktopApp}} _blank {{else}} _top {{/if}}">Configure your integrations &rarr;</a>
</p>
{{/if}}
