
<div class="trpToolbarHeader">
  <h5 class="trpToolbarHeaderItem selected" id="activity-header">Activity</h5>
</div>

<div class="trpTroupeRelatedContent">
  <div class="trpTroupeRelatedContentHolder" id="activity">
    <ul class="gtrActivityList u-font-smaller" id="activity-list">{{{_prerender_inner}}}</ul>
  </div>
</div>
