<div class="github-wiki">
  <span class="gtrActivityItemText"><a href="https://github.com/{{payload.sender.login}}" target="_blank"><span class='mention'>{{payload.sender.login}}</span></a> updated the wiki</span><br>
  <span class="gtrActivityItemText activity-detail"><a href="{{wiki_url}}" target="_blank">{{wiki_page}}</a></span>
</div>
