<div class="github-member-add">
  <span class="gtrActivityItemText"><a href="https://github.com/{{payload.member.login}}" target="_blank"><span class='mention'>{{payload.member.login}}</span></a> {{payload.action}} as member</span>
</div>
