<div class="github-public">
  <span class="gtrActivityItemText"><a href="https://github.com/{{payload.sender.login}}" target="_blank"><span class='mention'>{{payload.sender.login}}</span></a> made <a href="{{payload.repository.html_url}}" target="_blank">{{payload.repository.full_name}}</a> public</span>
</div>
