<div class="prerendered">
  <div class="service {{meta.icon}}"></div>
  <div class="activity-time">{{widget "timeago" time=sent compact=true}}</div>
  <span class="gtrActivityItemText">{{{html}}}</span>
</div>
