<!-- <div class="nano">
  <div class="content"> -->
    <div class="trpToolbarContent" id="toolbar-content">
      <div id="toolbar-top-content" style="height:100%; padding-bottom: 200px; box-sizing: border-box;">
        <div id="people-list">
          <div class="trpToolbarHeader" id="request-header" style="display: none;">Requests</div>
          <div class="trpToolbarList" id="request-list" style="display: none;">
            <div class="trpToolbarListContent" id="request-roster"></div>
          </div>
          <div class="trpToolbarHeader" id="people-header">People</div>
          <div class="trpToolbarList">
            <div class="trpToolbarListContent" id="people-roster"></div>
          </div>
          <div class="trpToolbarHeader" id="invite-header" style="display: none;">Invites</div>
          <div class="trpToolbarList" id="invite-list" style="display: none;">
            <div class="trpToolbarListContent" id="invite-roster"></div>
          </div>
        </div>
        <div class="trpTroupeRelatedContent" id="troupe-content">
          <div class="trpTroupeRelatedContentHolder">
            <div class="trpToolbarHeader" id="file-header">Files</div>
            <div id="fineUploader"></div>
            <div class="trpToolbarList scroller {{#oneToOne}}oneToOne{{/oneToOne}}">
              <div class="trpToolbarListContent" id="file-list"></div>
            </div>
            {{#unless oneToOne}}
            <div class="trpToolbarHeader" id="mail-header">Mails</div>
            <div class="trpToolbarList scroller">
              <div class="trpToolbarListContent" id="mail-list">
                <a href='mailto:{{troupeEmailAddress}}' style="text-decoration: none">
                  <div style="display: inline-block; margin-bottom: 8px">
                    <div class="trpButton" style="margin-left: 0px">
                      <span style="vertical-align: middle">New Mail</span>
                    </div>
                  </div>
                </a>
                <div class="frame-conversations"></div>
              </div>
            </div>
            {{/unless}}
          </div>
        </div>
      </div>
      <div class="trpTroupeActions divider-top">
        <div class="trpTroupeMoreActions" id="troupe-more-actions">
          <div class="more-button-black" id="right-menu-icon"></div>
        </div>
          <div class="trpTroupeHelp" id="help-button">
            <div style="display: inline-block; vertical-align: middle; height: 24px" id="help-icon"><img src='{{cdn "images/2/icon-help-black@2x.png"}}' width="24" height="24"/></div>
            <div class="trpActionsMenuLabel" style="margin-top: -4px">Support</div>
          </div>
      </div>
    </div>


