<div class="nano">
  <div class="content">
    <div class="trpToolbarContent" id="toolbar-content">
      <div class="trpToolbarList" id="request-roster" style="display: none;"></div>
      <div class="trpToolbarHeader" id="people-header">People</div>
      <div class="trpToolbarList" id="people-roster"></div>
      <div class="trpToolbarHeader" id="file-header">Files</div>
      <div id="fineUploader"></div>
      <div class="trpToolbarList" id="file-list"></div>
      {{#unless troupeContextData.troupe.oneToOne}}
      <div class="trpToolbarHeader" id="mail-header">Mails</div>
      {{/unless}}
      <div class="trpToolbarList" id="mail-list">
        <div class="trpMailItem">
          <div class="trpMailItemPicture" style="background-image: url('/images/2/icon-new-mail-black.png')"></div>
          <div class="trpMailItemSubject"><a href="mailto:{{troupeEmailAddress}}">New Mail</a></div>
        </div>
        <div class="frame-conversations">
        </div>
      </div>
    </div>
  </div>
</div>
