<!-- <div class="nano">
  <div class="content"> -->
    <div class="trpToolbarContent" id="toolbar-content">
      <table style="height:100%; width: 100%"  cellspacing="0">
        <tr>
          <td>
            <div id="people-list">
              <div class="trpToolbarHeader" id="people-header">People in this troupe</div>
              <div class="trpToolbarList divider" id="people-roster"></div>
              <div class="trpToolbarHeader" id="request-header" style="display: none;">Requests</div>
              <div class="trpToolbarList divider" id="request-roster" style="display: none;"></div>
              <div class="trpToolbarHeader" id="invite-header" style="display: none;">Invites</div>
              <div class="trpToolbarList divider" id="invite-roster" style="display: none;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td style="height:100%">
            <div class="trpTroupeActions" id="troupe-actions">
              <div class="nano">
                <div class="content">
                  <div class="trpToolbarHeader" id="file-header">Files</div>
                  <div id="fineUploader"></div>
                  <div class="trpToolbarList divider" id="file-list"></div>
                  {{#unless isOneToOne}}
                  <div class="trpToolbarHeader" id="mail-header">Mails</div>
                  <div class="trpToolbarList divider" id="mail-list">
                    <a href='mailto:{{troupeEmailAddress}}' style="text-decoration: none">
                      <div style="display: inline-block; margin-top: 8px">
                        <div class="trpButton" style="margin-left: 0px">
                          <!-- <img src='{{cdn "images/2/icon-new-mail-black.png"}}' style="vertical-align: middle; margin-right: 4px" width="16"> --> <span style="vertical-align: middle">New Mail</span>
                        </div>
                      </div>
                    </a>
                    <div class="frame-conversations">
                    </div>
                  </div>
                  {{/unless}}
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
<!--   </div>
</div> -->
<div class="trpMiniActions" style="position: absolute; bottom: 12px" >
  <div>
    <img src='{{cdn "images/2/icon-menu-black@2x.png"}}'/ style="margin-left: 28px; margin-bottom: 14px" width="24" height="24" id="troupe-more-actions">
  </div>
  <div>
    <a href="#|troupeSettings">
      <img src='{{cdn "images/2/icon-settings-black@2x.png"}}'/ style="margin-left: 28px; margin-bottom: 14px" width="24" height="24">
    </a>
  </div>
</div>
