<div class="trpToolbarContent" id="toolbar-content">
  <div id="toolbar-top-content" style="height:100%; padding-bottom: 200px; box-sizing: border-box;">
    <div id="people-list">
      <div class="trpToolbarHeader" id="people-header">People</div>
      <div class="trpToolbarList">
        <div class="trpToolbarListContent" id="people-roster"></div>
      </div>

      <div class="trpToolbarList">
        <div class="trpToolbarListContent" id="repo-info"></div>
      </div>
    </div>
    <div class="trpTroupeRelatedContent" id="troupe-content">
      <div class="trpTroupeRelatedContentHolder">
      </div>
    </div>
  </div>
  <div class="trpTroupeActions">
      <div class="trpTroupeHelp" id="help-button">
        <div style="display: inline-block; vertical-align: middle; height: 24px" id="help-icon"><img src='{{cdn "images/2/icon-help-black@2x.png"}}' width="24" height="24"/></div>
        <div class="trpActionsMenuLabel" style="margin-top: -4px">Support</div>
      </div>
  </div>
</div>


