<link rel="stylesheet" href="bootstrap/css/trpMails.css">
<div class="trpSectionViewHeader">
  <div class="trpMailBackButton back-button"><img src="{{cdn 'images/2/icon-small-back.png'}}" width="17" height="10"></div>
  <div class="trpMailSubject label-subject">{{subject}}</div>
</div>
<div class="frame-emails">
</div>
