<div class="trpMailBody clickPoint-showEmail ">{{{mail}}}
</div>
<div class="trpMailBodyToolbar">
  {{#if attachments}}
      {{#each attachments}}
        <div class="trpMailAttachmentItem link-attachment"><a href="{{url}}" target="_new"><img src="{{thumbnailUrl}}" width="50" height="50" title="{{{fileName}}}"></a></div>
      {{/each}}
  {{/if}}
</div>
