
<div class="trpSectionViewHeader">
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Sort
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a class="link-sort-from" href="#">From</a></li>
      <li><a class="link-sort-date" href="#">Date</a></li>
      <li><a class="link-sort-subject" href="#">Subject</a></li>
    </ul>
  </div>

	<div class="trpMailButton right"><a href="mailto:{{emailAddress}}"><div class="trpButton">New Mail</div></a></div>
</div>
<div class="frame-conversations">
</div>
<div id="frame-help" class="trpSectionViewHelper" style="display: none">
    <span class="trpH2">There are no mails yet.</span><br>
	<span class="trpBodyText">The email address of your Troupe is: <span class="trpLink"><a href="mailto:{{emailAddress}}">{{emailAddress}}</a></span><br>
    If you send an email to that address, it will be distributed to everyone and appear here.<br>
    We find it's a good idea to add it to your Address Book.</span>
</div>
