<div class="frame-conversations">
</div>
<div id="frame-help" class="trpSectionViewHelper" style="display: none">
    <span class="trpH2">There are no mails yet.</span><br>
	<span class="trpBodyText">The email address of your Troupe is: <span class="trpLink"><a href="mailto:{{emailAddress}}">{{emailAddress}}</a></span><br>
    If you send an email to that address, it will be distributed to everyone and appear here.<br>
    We find it's a good idea to add it to your Address Book.</span>
</div>
