<div class="trpMailBody clickPoint-showEmail ">{{{mail}}}
</div>
<div class="trpMailBodyBottomToolbar">
  {{#if attachments}}
  <div class="trpAttachments pulldown-attachments">Attachments<span class="trpAttachmentsArrow"><img src="images/2/icon-small-dropdown-black.png"></span></div>
  <div class="trpAttachmentsMenu">
    <div class="trpAttachmentsMenuTop"> </div>
    <div class="trpAttachmentsMenuBottom">
      {{#each attachments}}
        <div class="trpAttachmentsMenuItem link-attachment"><a href="{{url}}" target="_new">{{fileName}}</a></div>
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>
