<form id="loginForm" class="marginless" method="post">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Sign in to Troupe</h3>
	</div>

	<div class="modal-body">
		<label for="email">Email address</label> 
		<input name="email" id="email" type="text" class="span3" placeholder="Email address">

		<label for="password">Password</label> 		
		<input name="password" id="password" type="password" class="span3" placeholder="Password">
	</div>
	
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary signin">Sign in</button> 
		<button class="btn dismiss" data-dismiss="modal">Close</button>
	</div>
</form>