<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <div class="trpModalHeader">
    	<div class="trpModalLogo"><img src="images/2/logo-green.png"></div>
    	<div class="trpModalMenu"></div>
    </div>
</div>
<div class="modal-body">
   <div class="trpModalTitle">The link for your Troupe is <span class="trpGreen">http://beta.trou.pe/{{uri}}</span></div>
   <div class="trpModalTitle">Or invite people to join</div>
   <form class="form-inline">
   </form>
   <div class="trpModalButton trpButtonBig trpBtnGreen sendInvites">Send invites</div>
</div>
<div class="trpModalFooter"> </div>
