.share-view {
  font-family: 'Open Sans','HelveticaNeue-Light',sans-serif;
  color: #333;
}

.share-view__heading {
  font-size: 16px;
  line-height: 1em;
  font-weight: normal;
  margin-bottom: 12px;
}

.share-view__section {
  display: flex;
  margin-bottom: 24px;
}

.share-view__copy-field {
  font-family: 'Open Sans','HelveticaNeue-Light',sans-serif;
  font-size: 14px;
  outline: 0;
  box-shadow: none;
  width: 100%;
  padding: 9px;
  border: 1px solid @trpGrey;
  margin: 0;

  background-color: fade(@trpGrey, 50%);
  border-radius: 4px;
  color: black;

  &:focus {
    outline: 0;
    box-shadow: none;  
  }
}

.share-view__button {
  .trpButtonMedium;
  flex-shrink: 0;

  &:hover {
    text-decoration: none;
  }
}

.share-view__button--copy {
  .trpBtnGreen;
  margin-left: 8px;
}

.share-view__button--pull-request {
  .trpBtnBlue;
  margin-left: 8px;
}

.share-view__button--twitter {
  background-color: @twitter-blue;
  color: white;
  border-bottom: 2px solid darken(@twitter-blue, 10%);
}

.share-view__button--facebook {
  background-color: @facebook-blue;
  color: white;
  border-bottom: 2px solid darken(@facebook-blue, 10%);
  margin-left: 8px;
}

.share-view__badge {
  vertical-align: middle;
}
