
   <div class="trpModalTitle">The link for your Troupe is <span class="trpGreen">http://beta.trou.pe/{{uri}}</span></div>
   <div class="trpModalTitle">Or invite people to join</div>
   <form class="form-inline">

   <button type="submit" class="trpModalButton trpButtonBig trpBtnGreen sendInvites">Send invites</button>
    </form>
   <div class="trpModalFooter"> </div>