
   <div class="trpModalTitle">The link for your Troupe is <span class="trpGreen">http://beta.trou.pe/{{uri}}</span><br>Give this to others and it will allow them to join.</div>
   <div class="trpModalTitle">Or invite people below</div>
   <form class="form-inline">

   <button type="submit" class="trpModalButton trpButtonBig trpBtnGreen sendInvites">Send invites</button>
    </form>
   <div class="trpModalFooter"> </div>