<div class="modal-content">
 <div class="trpModalTitle trpIB">The link for your Troupe is <span class="trpGreen">http://beta.trou.pe/{{uri}}</span><div class="trpButton trpCopyButton"  id="copy-button"> copy</div><br>Give this to others and it will allow them to join.</div>
 <div class="trpModalTitle">Or invite people below</div>
 <form class="form-inline" id="share-form">

 <button type="submit" class="trpModalButton trpButtonBig trpBtnGreen sendInvites" id="submit-button">Send invites</button>
  </form>
</div>
<div class="trpModalFailure share-failure" style="display:none">
  <span class="trpModalTitle"><span class="trpModalFailureText" id="failure-text">Invite failed.</span></span>
</div>
<div class="modal-success">
  <div class="trpModalTitle">Your invites were sent successfully<br><br></div>
</div>
