<div id="frame-help" class="helpContent" style="display: none">
		<h3>There are no files yet.</h3><br>
		<p>You can add files in a number of ways: 
			<ul>
				<li>Drag and drop a file here</li>
				<li>Click on the "Add files" button</li>
				<li>When you send emails to your Troupe, they will be distributed to everyone and stored. The attachments will also be stored here in the files section. Cool, huh?</li>
</div>
	<div class="fileuploader">		
		         
	</div>
<div class="frame-files">
</div>

<form method="POST" action="http://localhost:5000/troupes/4f5b62b9b812892b8a00001a/downloads/"
    enctype="multipart/form-data">
<input type="file" multiple name="f"> 
<input type="submit">
</form>
