<div class="row-fluid datarow highlight">
  <div class="span1">
    <img src="{{fileIcon}}">
  </div>
  <div class="span8 highlight">
    <h3>{{fileName}}</h3>
    {{mimeType}}
  </div>
  <div class="span3 right">
    {{date}}
  </div>
</div>
   