<div class="trpFileViewItem">
	<div><a href="#previewModal" class="link-preview"><img src="{{fileIcon}}" width="180" class="trpFileThumbnail"></a></div>
	<div><a href="{{url}}"><img class="trpFileDownloadButton" src="images/2/icon-small-download.png"></a><span class="trpFilename"> {{fileName}}</span></div>
</div>