<tr>
    <td><a href="#previewModal" class="link-preview"><img src="{{fileIcon}}" class="thumbnail"></a></td>
    <td>
      <strong>{{fileName}}</strong><br>
      {{mimeType}}
    </td>
    <td>
      <a class="btn btn-small  btn-primary" href="{{url}}"><i class="icon-download"></i></a>
    </td>
</tr>