<div class="modal-content">
 <div class="trpModalBody" id="confirmation">
  You have been invited to this Troupe. <br><br>
 </div>


 <button type="button" class="trpModalButton trpButtonBig trpBtnGreen button" id="accept-invite">Accept</button>
 <button type="button" class="trpModalButton trpButtonBig trpBtnGreen button" id="reject-invite">Reject</button>
 <br><br>
</div>
