<div class="trpModalTitle">
    <div style="text-align: center">
      {{widget "avatar" user=user size='m'}}
    </div>
    <div style="text-align: center">
      {{user.displayName}}<br>
      {{email}}
    </div>
</div>

<div class="trpModalRequestForm" style="text-align: center;" >
   <a href="#!" id="invite-resend-button" style="text-decoration: none">
    <div class="trpButtonGreen trpButtonBig">
      Resend Invite
    </div>
  </a>

  <a href="#!" id="invite-delete-button" style="text-decoration: none">
    <div class="trpButtonGreen trpButtonBig">
      Delete Invite
    </div>
  </a>
</div>
<br><Br>