{{!< error-layout}}
<a href="{{homeUrl}}"><img class="image" src="{{cdn 'images/icon-logo-red-64@2x.png'}}" width="64" title="The sad face"></a>
<div class="error">
  Gitter<br>
  <input id="error-text" class="error-input" size="55" value="This action requires a paid plan."><br><br>
  {{!-- <h1>Payment Required</h1> --}}
  <p><a href="{{ billingUrl }}" target='blank'>Upgrade now</a>.</p>

  {{#if stack}}
    <pre style="font-size:small">{{{stack}}}</pre>
  {{/if}}
</div>