<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title>Troupe</title>

	<link rel="stylesheet" href="/bootstrap/css/troupe.css">
<!-- 
	<script data-main="js/app.js" src="js/libs/require/require.js"></script>
 -->
 
	<script type="text/javascript">
	window.troupeContext = {{{troupeContext}}};
	</script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    <link REL="SHORTCUT ICON" HREF="favicon.ico">

</head>
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid" style="height:45px">
          <a class="brand" href="#"><img src="images/logo_small.png"></a>
          <div class="nav-collapse">

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
 			<div class="well">
           	  <div class="row-fluid">
                  <div class="span12">
                    <H1>Access denied</H1><br>
                   
                    Sorry for you! 
                  </div><!--span-->
             	 
               </div><!--row-->
            </div><!--well-->

        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Troupe 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    
</body>
</html>
