<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title>Troupe</title>

	<link rel="stylesheet" href="bootstrap/css/trp2.css">
  <link href='http://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200' rel='stylesheet' type='text/css'>
	<script data-main="js/app.js" src="js/libs/require/require.js"></script>
	<script type="text/javascript">
	window.troupeContext = {{{troupeContext}}};
	</script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">

</head>
<body>
  <div id="trpHeaderWrap">
    <div id="trpHeaderContainer">
      <div id="trpHeader">
        <ul>
          <li><img src="images/2/logo-small.png" class="trpSpace24"></li>
          <li><h1><span class="label-troupeName"></span><img src="images/2/icon-dropdown.png"/ id="trpSelectorArrow"></h1></li>
        </ul>
      </div>
      <div id="trpHeaderRight">
        <ul>
          <li><img src="images/2/icon-person.png" class="trpSpace24"></li>
          <li><img src="images/2/icon-settings.png"></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="trpTroupeSelector" class="open">
        <div class="inner">

        </div>

  </div>

  <div id="trpNavWrap">
    <div id="trpNavContainer">
      <div id="trpNav">

        <div id="trpNavItemContainer">
          <div id="trpNavItemIcon">
            <img src="/images/2/icon-everything.png">
          </div>
          <div id="trpNavItemText">
            <a href="#">Everything</a>
          </div>
        </div>

        <div id="trpNavItemContainer">
          <div id="trpNavItemIcon">
            <img src="/images/2/icon-chat-selected.png">
          </div>
          <div id="trpNavItemText">
            <a href="#chat">Chat</a>
          </div>
        </div>

        <div id="trpNavItemContainer">
          <div id="trpNavItemIcon">
            <img src="/images/2/icon-mail.png">
          </div>
          <div id="trpNavItemText">
            <a href="#mail">Mail</a>
          </div>
        </div>

        <div id="trpNavItemContainer">
          <div id="trpNavItemIcon">
            <img src="/images/2/icon-files.png">
          </div>
          <div id="trpNavItemText">
            <a href="#files">Files</a>
          </div>
        </div>

        <div id="trpNavItemContainer">
          <div id="trpNavItemIcon">
            <img src="/images/2/icon-people.png">
          </div>
          <div id="trpNavItemText">
            <a href="#people">People</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="trpContentWrap">
    <div id="trpContentContainer">

      <div class="contentBody" id="primary-view">

        <h3>Loading, loading, loading...</h3>
        <p>This is where a distracting loading graphic will be displayed....</p>
        <img src="/images/ajax-loader.gif">

      </div>

    </div>
  </div>

    
</body>
</html>
