{{> chat_alert_wrapper}}
{{> chat_header}}
{{> chat_content}}
{{> chat_toolbar}}
{{> chat_input}}
<div class="trpBlankPage"></div>
{{{ generateTroupeContext troupeContext }}}
{{> require_wrapper}}
{{{ bootScript bootScriptName }}}
