{{!< chat-layout}}
{{> chat_alert_wrapper}}
<div class="chat-and-toolbar-wrapper">
  {{> chat_toolbar}}
  <div class="chat-app">
    {{> chat_header}}
    {{> chat_content}}
  </div>
</div>
<div class="trpBlankPage"></div>
{{> set_initial_position}}
{{{ generateTroupeContext troupeContext }}}
{{{ bootScript bootScriptName }}}
