{{!< chat-layout}}
{{> chat_content}}
{{> chat_embed_footer}}
<div class="trpBlankPage"></div>
{{> require_wrapper}}
{{!-- dont set_initial_position as this makes the parent window scroll as well --}}
{{{ generateTroupeContext troupeContext }}}
{{{ bootScript bootScriptName }}}
