{{!< chat-layout}}
{{> chat_alert_wrapper}}
<div class="chat-and-toolbar-wrapper">
  <div class="chat-app">
    {{> chat_header}}
    {{> chat_content}}
  </div>
  {{> chat_toolbar}}
</div>
<div class="trpBlankPage"></div>
