{{!< chat-layout}}
{{> chat_content}}
{{> chat_embed_footer}}
<div class="trpBlankPage"></div>
{{> require_wrapper}}
{{> set_initial_position_embed }}
{{{ generateTroupeContext troupeContext }}}
{{{ bootScript bootScriptName }}}
