{{> chat_alert_wrapper}}
{{> chat_header}}
{{> chat_content}}
{{> chat_toolbar}}
{{> chat_input}}
{{> chat_upload}}
<div class="trpBlankPage"></div>
{{> require_wrapper}}
{{> set_initial_position}}
{{{ generateTroupeContext troupeContext }}}
{{{ bootScript bootScriptName }}}
