{{!< chat-layout}}
<div class="chat-app">
  {{> chat_content}}
  {{> chat_embed_footer}}
</div>
<div class="trpBlankPage"></div>
{{> set_initial_position_embed }}
{{{ generateTroupeContext troupeContext }}}
{{{ bootScript bootScriptName }}}
