<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>{{title}}</h3>
</div>
<div class="modal-body">
    {{message}}
</div>
<div class="modal-footer">
    <a href="#!" class="btn button" data-value="yes">Yes</a> 
    <a href="#!" class="btn button" data-value="no">No</a>
</div>
