<html>
<head>

<link id="favicon" rel="shortcut icon" href='{{cdn "images/favicon5.png" }}'>
<title>Gitter - Chat, for GitHub</title>
    {{>require_wrapper}}

    {{{bootScript "signup" }}}
    {{{ generateEnv }}}
    {{>load_font_css}}
</head>

<style>

body {
  margin: 0;
  padding: 0;
}


h1 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 42px;

}

h2 {
  font-weight: 300;
  font-family: 'Open Sans';
  font-size: 30px;
}

.outer-container {
  text-align: center;
  font-family: 'Open Sans';
  padding-top: 60px;
}

.write-access {
  display: inline-block;
  padding:10px 16px;
  color: #c0392b;
  border: 2px solid #c0392b;
  border-radius: 4px;
  background-color: rgba(192, 57, 43,0.2)
}

.container {
  display: inline-block;
  width: 960px;
  font-size: 16px;
}

</style>

<body>

<div class="outer-container">
  <div class="write-access">WRITE</div>
  <div></div><br><Br>
  <div class="container" style="text-align: left">
<br><br>

    <p>As good as GitHub's API is, one of it's significant weaknesses is the lack of granularity on OAuth permissions.</p>
    <p>In order to create a good first-time user experience that allows people to create and join chat rooms for public repositories and organisations, we need to be able to query what organisations you belong to. Unfortunately, GitHub doesn't provide this as an OAuth <a href="http://developer.github.com/v3/oauth/#scopes" target="_blank">scope</a>.</p>
    <p>In order to allow for this simple user experience, we have opted to use GitHub's <i>user</i> scope. It appears undocumented, but this scope does in fact allow us to list your organisations and to query if you are a member of an organisation if you try to access a chat room that's based on an org.</p>
    <p>Rest assured we <b>do not</b> ever write anything to your profile. We simply use this scope for a desireable user experience and hope in the future that GitHub change their scoping to allow read-only or list access to orgs and private repos.</p>
    <p>Please note that Gitter allows you to create and join chat rooms on private reopsitories. Similarly, and annoyingly, GitHub doesn't have a read-only scope for private repositories and so if you want to join these repos you will have to upgrade your permission to <i>repo</i> scope, which asks for full read/write access to just about everything. Again, we don't write to your repositories, we are developers ourselves and understand exactly what a terrible thing that would be. Unfortunately we are limited by what GitHub's API scoping does and doesn't allow us to do</p>

  </div>
</div>



</body>
</html>
