<html>
<head>
<link id="favicon" rel="shortcut icon" href='{{cdn "images/gitter/favicon5.png" }}'>
<title>Gitter - Chat, for GitHub</title>
<script type="text/javascript">
window.onload = function() {
  window.close();
}
</script>
</head>
<body>
</body>
</html>
