<html>
<head>
<link id="favicon" rel="shortcut icon" href='{{cdn "images/2/gitter/favicon5.png" }}'>
<title>Gitter - Chat, for GitHub</title>
</head>
<body>
<script type="text/javascript">
window.opener.location.reload(true);
window.close();
</script>
</body>
</html>
