
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Troupe - coming soon</title>
    <meta name="google-site-verification" content="nnoWjW8hKT4umkqn1UrCdVHtLs8Q2pDi5ek0x5PUHug" />
    <link href='https://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>


    <style type="text/css">
      body {
        background-color: #f8f6f7;
      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         width: 64px;
         height: 64px;
         margin-top: -32px; /* Half the height */
         margin-left: -32px; /* Half the width */
      }

    </style>

  </head>

  <style>

  </style>

  <body>

<img src="{{cdn "images/2/logo-mark-green-square-white.png"}}" width="64" height="64" title="Coming soon">

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="bootstrap/js/bootstrap-popover.js"></script>


  </body>
</html>
