
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Troupe - coming soon</title>
    <meta name="google-site-verification" content="nnoWjW8hKT4umkqn1UrCdVHtLs8Q2pDi5ek0x5PUHug" />
    <link href='https://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
    <meta name="apple-itunes-app" content="app-id=632039322"/>


    <style type="text/css">
      body {
        background: linear-gradient(to bottom, #162E34 0%,#45595D 70%); /* W3C */
        -webkit-transition:background linear .5s;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      html {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         width: 64px;
         height: 64px;
         margin-top: -32px; /* Half the height */
         margin-left: -32px; /* Half the width */
      }

    </style>

  </head>

  <style>

  </style>

  <body>

<img src="{{cdn "images/2/gitter/logo-75x75.png"}}" width="75" height="75" title="Coming soon">

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="bootstrap/js/bootstrap-popover.js"></script>


  </body>
</html>
