<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Login to Gitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='{{cdn "bootstrap/css/gitter-login.css" }}' rel="stylesheet">
    <link id="favicon" rel="shortcut icon" href='{{cdn "images/2/gitter/favicon5.png" }}'>

    {{>require_wrapper}}
    {{{bootScript "signup" }}}
    {{{generateEnv}}}
    {{>load_font_css}}
  </head>

  <body>

  <div class="outer-container">
    <div class="container">
      <div class="strip" style="text-align: left">
        <div class="logo"></div>
      </div>
      <Br><br><br><br>
      <div class="strip" style="color:white; text-shadow: 0 0 0 transparent,1px 1px 2px rgba(0,0,0,0.2)">
        <div style="display: inline-block; padding: 0 24px 12px 24px; margin-bottom: 24px; margin-top: 12px; width: 80%"><h1 style="margin-bottom: 10px">The chat you always wanted</h1>Messaging for software developers. Integrated with your team, projects and your code.
      </div>
      <div class="strip" style="color:white; text-shadow: 0 0 0 transparent,1px 1px 2px rgba(0,0,0,0.2);">
        </div>
        <a href="/login/github" class="button blur" id="signup" style="text-decoration: none; color: white">Login with GitHub</a>
        <div class="write-explain"><a href="/login/explain" target="_blank">Requires GitHub write access<a></div>
      </div>
      <div class="strip" style="padding-bottom: 60px"></div>
    </div>
  </div>


  </body>
</html>
