<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">

  <title>Troupe Login</title>

  <link rel="stylesheet" href='{{cdn "bootstrap/less/mtrp.less" }}'>
  <link href='https://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
    
  {{>require_config}}
  <script data-main='{{cdn "js/login.js" }}' src='{{cdn "js/libs/require/2.0.4/require.js"}}'></script>

</head>

<body>
  <div class="mtrpLoginContainer">
    <div class="mtrpLoginLogo"><img src="{{cdn "images/2/logo-mark-white.png"}}"></div>
    <div class="mtrpLoginForm">
      <form action="/login" method="post" name="loginform">
        <div class="mtrpLoginFieldContainer">
          <input name="email" id="email" type="text" class="mtrpLoginFormItem" placeholder="Email address">
          <input name="password" id="password" type="password" class="mtrpLoginFormItem" placeholder="Password">
        </div>
        <div class="mtrpLoginSignup">
          <a href="#" class="trpButtonBig trpBtnWhite" id="new-user">New user</a>
        </div>
        <div class="mtrpLoginSubmit">
          <a href="#" class="trpButtonBig trpBtnWhite" id="submit">Login &raquo;</a>
        </div>
        <input type="submit" style="visibility: hidden">
      </form>
    </div>
    
    <div class="mtrpSignupForm">
      Sorry, Troupe is invite only<br> at the moment<br>
      <a href="#" class="mtrpLoginBack trpButtonBig trpBtnWhite" id="submit">Back</a>
      
    </div>
   
  </div>
  
</body>
</html>
