<!doctype html>
<html>
<head>
  <script type="text/javascript">
    document.addEventListener("deviceready", function() {
      window.close();
    }, false);

  </script>
</head>
<body>
</body>
</html>
