<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">

<title>Troupe</title>

<link rel="stylesheet" href="bootstrap/css/troupe.css">

<script data-main="js/profile.js" src="js/libs/require/require.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
	    <ul class="nav">
		  <li class="active">
		    <a href="#">Home</a>
		  </li>
		  <li><a href="#">Link</a></li>
		  <li><a href="#">Link</a></li>
		</ul>    
    </div>
  </div>
</div>

	<div class="container">
		<div class="content" id="page">
		
			<div class="row">
				<div class="span8">
				<h1>A few details and you're done</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="span2">
					<img src="http://placehold.it/120x100" alt=""><br>
					Change your display picture
				</div>
				<div class="span4">
					Click here to change your name
				</div>
			</div>

			<div class="row">
				<div class="span4">
					<a href="#" class="btn btn-primary getstarted">Get started</a>
				</div>
			</div>

		</div>

	</div>
	<!-- /container -->

</body>
</html>
