<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">

<title>Troupe</title>

<link rel="stylesheet" href="bootstrap/css/troupe.css">

<script data-main="js/profile.js" src="js/libs/require/require.js" type="text/javascript"></script>
</head>
<body>
    <div class="container" id="page">

        <div class="row">
            <div class="span12">
                <img src="images/logo.png" alt=""><Br>
                <br>
            </div>
        </div>

        <!-- Main hero unit for a primary marketing message or call to action -->
        <form action="/updateprofile" method="post">
        <div class="troupe-hero">
            <div class="troupe-hero-content">
                <h1>A few details and you're done</h1>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="box white">
                            <div class="row-fluid">
                                <div class="span 2">
                                    <a href="#imageModal" data-toggle="modal" rel="tooltip" title="Click here to set your picture" class="dp-tooltip"><img src="/avatar" class="dp image-avatar" height="48" width="48" alt=""></a>
                                </div>
                                <div class="span10">
                                    <input type="text" id="displayName" name="displayName" value="{{displayName}}" placeholder="Click here and type your name">
                                    {{#noPassword}}
                                    <input type="password" id="password" name="password" value="{{password}}" placeholder="Then choose a password">
                                    {{/noPassword}}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <p>
                    <br>
                    <input type="submit"  class="btn btn-primary btn-large getstarted" name="submit" value="Get Started &raquo;">
                </p>
            </div>
        </div>
        </form>

        <hr>

        <footer>
            <p>&copy; Troupe 2012</p>
        </footer>


        <div class="modal hide fade" id="imageModal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Upload a picture</h3>
            </div>
            <div class="modal-body">
                <form target="uploadFrame" method="post" enctype="multipart/form-data" action="/avatar">
                    <input type="file" name="files">
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary button-save-picture">Save picture</a> <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
        <iframe src="" name="uploadFrame" id="uploadFrame" style="display:none"></iframe>

    </div>

</body>
</html>
