<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">

<title>Select a Troupe</title>

<link rel="stylesheet" href="bootstrap/css/troupe.css">

<!--
<script data-main="js/profile.js" src="js/libs/require/require.js" type="text/javascript"></script>
-->
</head>
<body>
    <div class="container" id="page">

        <div class="row">
            <div class="span12">
                <img src="images/logo.png" alt=""><Br>
                <br>
            </div>
        </div>

        <!-- Main hero unit for a primary marketing message or call to action -->
        <form action="/login" method="post">
        <div class="troupe-hero">
            <div class="troupe-hero-content">
                <h1>Select a troupe</h1>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="box white">

                        {{#troupes}}
                          <li><a href="/{{uri}}">{{name}}</a></li>
                        {{/troupes}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>

        <hr>

        <footer>
            <p>&copy; Troupe 2012</p>
        </footer>


        <div class="modal hide fade" id="imageModal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Upload a picture</h3>
            </div>
            <div class="modal-body">
                <form target="uploadFrame" method="post" enctype="multipart/form-data" action="/avatar">
                    <input type="file" name="files">
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary button-save-picture">Save picture</a> <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
        <iframe src="" name="uploadFrame" id="uploadFrame" style="display:none"></iframe>

    </div>

</body>
</html>
