
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Start a Troupe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/troupe.css" rel="stylesheet">
    <link REL="SHORTCUT ICON" HREF="favicon.ico">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="bootstrap/css/responsive.css" rel="stylesheet">
    {{>require_config}}
    <script data-main="js/signup.js" src="js/libs/require/2.0.2/require-min.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="container">

    <div class="row">
    	<div class="span10">
        <img src="images/logo_med.png"><Br><br>
      </div>
      <div class="span2">
        <input type="button" class="btn btn-primary btn-large pull-right button-existing-users-login" value="Existing users &raquo;">
        <div id="loginFormContent" style="display: none">
          <form id="loginForm" class="marginless" method="post" action="/login">

                  <div class="alert alert-error incorrect-password" style="display: none">
                  Login failed. <a href="/forgottenpassword">Click here to request a new password.</a>
                  </div>

              <label for="email">Email address</label>
              <input name="email" id="email" type="text" class="span3" placeholder="Email address">

              <label for="password">Password</label>
              <input name="password" id="password" type="password" class="span3" placeholder="Password">

              <label class="checkbox">
                  <input type="checkbox" name="rememberMe" value="1">
                  Remember me on this computer
              </label>
              <button type="submit" class="btn btn-primary signin">Sign in</button>
              <a href="#" class="btn button-login-cancel">Cancel</a>

          </form>

        </div>
      </div>
    </div>

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="troupe-hero">
        <div class="troupe-hero-content">
          <h1>Talk together</h1>
          <p>Troupe makes it easy for teams of people to talk together. Create your Troupe and start talking.</p>

          <div class="row"><form name="signupForm" id="signupForm" method="post" action="/signup">
            <div class="span4">
              <H2>Name your Troupe</H2>
              <input type="text" class="validateable" rel="tooltip" title="Please choose a name for your Troupe." name="troupeName" placeholder="Pick anything, it's not unique">

            </div>
            <div class="span4">
              <H2>Enter your email address</H2>
              <input name="email" type="text" class="span4 validateable" rel="tooltip" title="Please type your email address here." placeholder="We'll send you an email to confirm this">
            </div>
           </div>
              <br>
              <p><br><input type="submit" class="btn btn-primary btn-large" value="Get Started &raquo;"></p></form>
        </div>
       </div>



      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Group Chat</h2>
           <p>Working on a project together, find it difficult to talk together easily? No problem, your Troupe has a group chat to make communication simple. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Group File Storage</h2>
           <p>Sharing files within your team proving a little tricky? No problem, each Troupe comes with a 500MB shared folder. Or you can just connect it to Dropbox.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Mobile</h2>
          <p>Got the latest shiny iPhone or Android handset? Troupe works on most smart phones keeping you in touch with your team even from the top of Eyjafjallajökull.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Troupe 2012</p>
      </footer>



    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="bootstrap/js/bootstrap-popover.js"></script>


  </body>
</html>
