<h1>Welcome to troupe!</h1>
<p>Yo!</p>
<p>Your troupe is {{troupeName}}</p>
<p><a href="{{confirmLink}}">Please click here to confirm.</a></p>
<p>By clicking on this link, you agree to our <a href="https://beta.trou.pe/legals">legal conditions.</a></p>
