<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<style>

@font-face {
    font-family: "octicons";
    src: url("https://github.global.ssl.fastly.net/assets/octicons-810348ca79b0f83691f16307908e3c3fee103f93.woff") format('woff');
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #2980b9;
}


h1 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 42px;

}

h2 {
  font-weight: 300;
  font-family: 'Open Sans';
  font-size: 30px;
}

.outer-container {

}

.container {
  text-align: center;
}

.strip {
  width: 920px;
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 300;
}

.feature {
  margin-top: 40px;
  text-align: left;
  margin-bottom: 40px;
}

.button {
  border-radius: 4px;
  display: inline-block;
  padding: 18px 24px;
}

.button.white {
  background-color: rgba(255,255,255,0.8);
  border-bottom: 3px solid rgba(255,255,255,1);
}

.button.green {
  color: white;
  background-color: rgba(29,206,115, 0.9);
  border-bottom: 3px solid rgba(29,206,115, 1);
}

.button.green:hover {
  background-color: rgba(29,206,115, 1);
}

.interested {
  background-color: rgba(0,0,0,0.5);
  border-radius: 6px;
  padding: 38px 28px;
  margin: 40px 0;
}

</style>

<body>

<div class="outer-container" style="">
  <div class="container" style="background-image: url('{{ cdn "images/2/gitter/splash.jpg" }}'); background-size: cover; padding-top: 20px; background-color: #417f6a">
    <div class="strip" style="text-align: left"><img src="{{ cdn "images/2/gitter/logo-text-white-64.png" }}" height="64"></div>
    <Br><br>
    <div class="strip" style="color:white;"><h1 style="text-shadow: 0 0 0 transparent,1px 1px 2px rgba(0,0,0,0.55);">Gitter is currently in private beta</h1><br>We are adding new users every day on a first come first serve basis. <br><br>Keep an eye out on your email for your invite.</div>
    <div class="strip" style="padding-bottom: 60px"></div>
  </div>

  <div class="container">
    <div class="strip"><h1>Follow our progress</h1>
      Keep an eye out on <a href="http://blog.gitter.im" target="_blank">our blog</a> as well as our <a href="http://twitter.com/gitchat" target="_blank">Twitter feed</a>. <br><br>If you send us a really nice tweet with your GitHub username in it, you may even get bumped up the queue. <br>We also accept fine ales and good karma. 
    </div>
    <div class="strip" style="padding-bottom: 60px"></div>
  </div>

</div>

</body>
</html>