<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
	<meta charset="utf-8">
  <link id="favicon" rel="shortcut icon" href="{{cdn 'images/favicon-normal.ico' }}">

	<title>Home</title>

  <base target="_parent">
  <link rel="stylesheet" href="{{cdn 'styles/userhome.css' }}">
</head>
<body>
  <header>
    <h1>NEW USERHOME</h1>
  </header>

  {{{ generateTroupeContext troupeContext }}}
</body>
</html>
