<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
	<meta charset="utf-8">
  <link id="favicon" rel="shortcut icon" href="{{cdn 'images/favicon-normal.ico' }}">

	<title>Home</title>

  <base target="_parent">
  <link rel="stylesheet" href="{{cdn 'styles/userhome_treatment.css' }}">
</head>
<body>
  <header class="userhome__header">
    <nav class="userhome__header__nav">Home</nav>
    <h1 class="userhome__header__title">We endow, you exceed</h1>
  </header>
  <div class="userhome-main">
    <section>
      <a class="userhome-main__button" href="/home#createroom">Create</a>
      <p>Something something something</p>
    </section>
       <section>
      <a class="userhome-main__button" href="/explore" target="_blank">Explore</a>
      <p>Something something something</p>
    </section>
       <section>
      <a class="userhome-main__button" href="http://gitter.zendesk.com" target="_blank">Learn</a>
      <p>Something something something</p>
    </section>
    <h3>Download Apps</h3>
    <a class="userhome-main__app-button" href="">Mac</a>
    <a class="userhome-main__app-button" href="">Windows</a>
    <a class="userhome-main__app-button" href="">Linux 32</a>
    <a class="userhome-main__app-button" href="">Linux 64</a>
    <a class="userhome-main__app-button" href="">iPhone</a>
    <a class="userhome-main__app-button" href="">Android</a>
  </div>


  {{{ generateTroupeContext troupeContext }}}
</body>
</html>
