<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
	<meta charset="utf-8">
  <link id="favicon" rel="shortcut icon" href="{{cdn 'images/favicon-normal.ico' }}">

	<title>Home</title>

  <base target="_parent">
  <link rel="stylesheet" href="{{cdn 'styles/userhome_treatment.css' }}">
</head>
<body>
  <header class="userhome__header">
    <nav class="userhome__header__nav">Home</nav>
    <h1 class="userhome__header__title">We endow, you exceed</h1>
  </header>
  <div class="userhome-main">
    <section class="userhome-buttons">
      <article class="userhome-things">
        <i class="icon-globe"></i>
        <a class="userhome-main__button" href="/explore" target="_blank">Explore</a>
        <p>Find rooms, learn and ship.</p>
      </article>
      <article class="userhome-things">
        <i class="icon-paper-plane"></i>
        <a class="userhome-main__button" href="/home#createroom">Create</a>
        <p>Create and spread the word.</p>
      </article>
      <article class="userhome-things">
        <i class="icon-graduation-cap"></i>
        <a class="userhome-main__button" href="http://gitter.zendesk.com" target="_blank">Learn</a>
        <p>Meet with other contributors.</p>
      </article>
    </section>
    <h3 class="userhome-heading">Download Apps</h3>
    <i class="icon-laptop"></i>

    <a class="userhome-main__app-button" href="https://update.gitter.im/osx/latest"><i class="icon-apple"></i>OSX</a>
    <a class="userhome-main__app-button" href="https://update.gitter.im/win/latest"><i class="icon-windows"></i>Windows</a>
    <a class="userhome-main__app-button" href="https://update.gitter.im/linux32/latest"><i class="icon-linux"></i>Linux 32</a>
    <a class="userhome-main__app-button" href="https://update.gitter.im/linux64/latest"><i class="icon-linux"></i>Linux 64</a>
    <i class="icon-mobile"></i>
    <a class="userhome-main__app-button" href="http://appstore.com/gitter"><i class="icon-apple"></i>iPhone</a>
    <a class="userhome-main__app-button" href="https://play.google.com/store/apps/details?id=im.gitter.gitter"><i class="icon-android"></i>Android</a>
  </div>


  {{{ generateTroupeContext troupeContext }}}
</body>
</html>
