{{!-- wrapped by div.result --}}
<div class='result-avatar'>
  <img src="{{ avatarUrl }}">
</div>
<div class='result-content {{^sent}}result-room{{/sent}}{{#sent}}result-message{{/sent}}'>
  {{#if sent}}<p class="result-detail"><small>{{ detail }}  &bull; {{ widget "timeago" time=sent lang=lang locale=locale }}</small></p>{{/if}}
  {{ text }}
</div>
