<i class="js-activate-search search__toggle octicon octicon-search"></i>
<div class='search-input'>
  <i class="js-search-icon search-input__icon octicon octicon-search"></i>
  <i class="js-search-clear-icon search-input__clear icon-cancel-circle"></i>
  <input type="search" class='js-search-input search-input-field' placeholder='Search…' />
</div>
