<div class='search-input'>
  <input type="search" class='js-search-input' placeholder='Search...' />
</div>
<div class='search-results'>
  <small class='search-header  u-uppercase'>ROOMS & PEOPLE</small>
  <div class='js-search-local-rooms'></div>
  <div class='js-search-server-rooms'></div>
  <small class='search-header  u-uppercase'>MESSAGES</small>
  <div class='js-search-server-messages'></div>
</div>
