<div class='search-input'>
  <i class='js-activate-search' class="mega-octicon octicon-search"></i>
  <input type="search" class='js-search-input' placeholder='Search...' />
</div>
<div class='search-results js-search-results' style='display: none;'>
  <small class='search-header  u-uppercase'>Rooms & People</small>
  <div class='js-search-rooms'></div>
  <small class='search-header  u-uppercase'>Messages</small>
  <div class='js-search-messages'></div>
</div>
