<i class="js-activate-search icon-search search__toggle"></i>
<div class='search-input'>
  <i class="js-search-icon search-input__icon icon-search"></i>
  <i class="js-search-clear-icon search-input__clear icon-cancel-circle"></i>
  <input type="search" class='js-search-input search-input-field' placeholder='Search...' />
</div>
