<div class='js-search-results search-results' style='display: none;'>
  <div class='search-header  u-uppercase'>Rooms &amp; People</div>
  <div class='js-search-rooms'></div>
  <div class='search-header  u-uppercase'>Messages {{#if isOneToOne}}with {{roomName}}{{else}}in {{roomName}}{{/if}}</div>
  <div class='js-search-messages'></div>
</div>
