<i class="search-toggle js-activate-search mega-octicon octicon-search"></i>
<div class='search-input'>
  <i class="search-input-search-icon search-input-icon js-search-icon"></i>
  <i class="search-input-close-icon search-input-icon js-search-clear-icon"></i>
  <input type="search" class='js-search-input search-input-field' placeholder='Search...' />
</div>
