<h5 class='search-header  u-uppercase'>Rooms &amp; People</h5>
<div class='js-search-rooms'></div>
<h5 class='search-header  u-uppercase'>Messages {{#if isOneToOne}}with{{else}}in{{/if}}
  <span class="js-troupe-name">{{troupeName}}</span>
</h5>
<div class='js-search-messages'></div>
