<div class='search-input'>
  <input type="search" class='js-search-input' placeholder='Search...' />
</div>
<div class='js-search-results' style='display: none;'>
  <small class='search-header  u-uppercase'>Rooms & People</small>
  <div class='js-search-rooms'></div>
  <small class='search-header  u-uppercase'>Messages</small>
  <div class='js-search-messages'></div>
</div>
