<button class="js-activate-search search__toggle" aria-label="Open search">
  <i class="search__toggle-icon octicon octicon-search" aria-hidden"true"></i>
</button>
<div class='search-input'>
  <i class="js-search-icon search-input__icon octicon octicon-search"></i>
  <i class="js-search-clear-icon search-input__clear icon-cancel-circle"></i>
  <input type="search" class='js-search-input search-input-field' placeholder='Search…' />
</div>
