<div class='result-content result-message'>
{{#if orgName}}
  <small><a href="{{ billingUrl }}" target="_blank">{{orgName}} is not on a paid plan. <br>Upgrade to see more results.</a></small>
{{else}}
  <small><a href="{{ billingUrl }}" target="_blank">Upgrade to see more results.</a></small>
{{/if}}
</div>
