{{#unless oneToOne}}
  {{#unless mentions}}
    <a class="popover-button js-leave-button">Leave</a>
  {{/unless}}
{{/unless}}

{{#unless lurk}}
  <a class="popover-button js-close-button">Hide</a>
{{/unless}}
