.service-sprite {
  background: url( 'services.png' ) no-repeat;
  background-size: 80px 64px;
}

.service-sprite.logentries-error {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}

.service-sprite.custom-error {
  width: 16px;
  height: 16px;
  background-position: -16px 0;
}

.service-sprite.gitlab-logo {
  width: 16px;
  height: 16px;
  background-position: 0 -16px;
}

.service-sprite.heroku-logo {
  width: 16px;
  height: 16px;
  background-position: -16px -16px;
}

.service-sprite.huboard-logo {
  width: 16px;
  height: 16px;
  background-position: -32px 0;
}

.service-sprite.jenkins-frown {
  width: 16px;
  height: 16px;
  background-position: -32px -16px;
}

.service-sprite.jenkins-logo {
  width: 16px;
  height: 16px;
  background-position: 0 -32px;
}

.service-sprite.jenkins-meh {
  width: 16px;
  height: 16px;
  background-position: -16px -32px;
}

.service-sprite.jenkins-smile {
  width: 16px;
  height: 16px;
  background-position: -32px -32px;
}

.service-sprite.custom-logo {
  width: 16px;
  height: 16px;
  background-position: -48px 0;
}

.service-sprite.logentries-logo {
  width: 16px;
  height: 16px;
  background-position: -48px -16px;
}

.service-sprite.pagerduty-logo {
  width: 16px;
  height: 16px;
  background-position: -48px -32px;
}

.service-sprite.sentry-logo {
  width: 16px;
  height: 16px;
  background-position: 0 -48px;
}

.service-sprite.sprintly-columns {
  width: 16px;
  height: 16px;
  background-position: -16px -48px;
}

.service-sprite.sprintly-logo {
  width: 16px;
  height: 16px;
  background-position: -32px -48px;
}

.service-sprite.travis-frown {
  width: 16px;
  height: 16px;
  background-position: -48px -48px;
}

.service-sprite.travis-logo {
  width: 16px;
  height: 16px;
  background-position: -64px 0;
}

.service-sprite.travis-meh {
  width: 16px;
  height: 16px;
  background-position: -64px -16px;
}

.service-sprite.travis-smile {
  width: 16px;
  height: 16px;
  background-position: -64px -32px;
}



@media (min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
.service-sprite {
  background: url( 'services@2x.png' ) no-repeat;
  background-size: 80px 64px;
}

}
