<div class="menu-list__header">
  {{#if canHide}}
  <div class='menu-list__header__details'>
    <a href='#' class='js-hide hide-rooms'><i class='icon-cancel-circle'></i></a>
  </div>
  {{/if}}
  <h5>{{ header }}</h5>
</div>
<div class='menu-list__section' id="list"></div>
