<div class="menu-list__header">
  <p>{{ header }}</p>
  {{#if canHide}}
    <div class='menu-list__header__details'>
      <a href='#' class='js-hide hide-rooms'><i class='icon-cancel-circle'></i></a>
    </div>
  {{/if}}
</div>
<div class='menu-list__section--orgs' id="list"></div>
