<div class="menu-header__profile">
  <div class='menu-header__avatar'>
    {{ widget "avatar" model=user size='s' }}
  </div>
  <div class="menu-header__name">
    <p>{{ displayName }}</p>
  </div>
  {{#unless isMobile}}
    <div class="menu-header__state">
      {{#if menuHeaderExpanded}}
        <i class="octicon octicon-chevron-up"></i>
      {{else}}
        <i class="octicon octicon-chevron-down"></i>
      {{/if}}
    </div>
  {{/unless}}
</div>
<ul id="profile-menu" class="profile-menu">
  <li id="link-home" class="profile-menu__item profile-menu__link">
    <i class='octicon octicon-home'></i> Home
  </li>
  {{#if showBilling}}
  <li class="profile-menu__item">
    <a href="{{billingUrl}}/accounts" target="_blank" class="profile-menu__link" data-disable-routing="1"><i class='octicon octicon-credit-card'> </i> Billing</a>
  </li>
  {{/if}}
  {{#if showGetApps}}
  <li class="profile-menu__item">
    <a href="/apps" target="_blank" class="profile-menu__link"><i class='icon-download'></i> Get Gitter Apps</a>
  </li>
  {{/if}}
  {{#if showSignout}}
  <li class="profile-menu__item">
    <a id="link-logout" href="/logout" class="profile-menu__link"><i class='icon-logout'></i> Signout</a>
  </li>
  {{/if}}
</ul>
