<aside id="room-menu-container" class="room-menu-container">
  <section class="room-menu">
    <nav id="minibar" class="minibar">
      <ul class="room-menu-options">

        <li data-state-change="all" class="room-menu-options__item--home">
          <a href="#">H</a>
        </li>

        <li data-state-change="search" class="room-menu-options__item--search">
          <a href="#">S</a>
        </li>

        <li data-state-change="favourite" class="room-menu-options__item--favourite">
          <a href="#">F</a>
        </li>

        <li data-state-change="people" class="room-menu-options__item--people">
          <a href="#">P</a>
        </li>

      </ul>
      <ul id="room-menu-orgs" class="room-menu-orgs"></ul>
    </nav>
    <section id="room-menu__panel" class="room-menu__panel">
      <header class="panel-header" id="panel-header"></header>
      <section class="primary-collection" id="primary-collection"></section>
    </section>
  </section>
</aside>
