@import "trp3Vars";

.room-menu-avatar() {
  border-radius: .2rem;
  height:       @menu-avatar-dims;
  width:        @menu-avatar-dims;
  margin-right: 1rem;

  .mobile & {
    margin-right: @mobile-menu-left-padding;
  }

}
