.room-menu-avatar() {
  width:       auto;
  height:      2rem;
  border-radius: .2rem;

  .desktop & {
    height: 2.2rem;
    margin-right: @desktop-menu-left-padding;
  }

  .mobile & {
    margin-right: @mobile-menu-left-padding;
  }

}
