@import "trp3Vars";

.room-menu-avatar() {
  height:       @menu-avatar-dims;
  width:        @menu-avatar-dims;
  margin-right: 1rem;

  background-color: #ffffff;
  border-radius:    .2rem;

  .mobile & {
    margin-right: @mobile-menu-left-padding;
  }

}
