@image-margin: 2rem;

.m-empty-img {
  margin: @image-margin 0;
}

.m-empty-favourite-image-primary {
  .m-empty-img();
  height:      7.5rem;
  margin-top:  (@image-margin * 2);
  align-self:  flex-start;
}
