.room-menu-text() {
  line-height:   @menu-item-height;
  font-size:     1.5rem;
  font-weight:   400;
  color:         @menu-item-color;
  overflow:      hidden;
  text-overflow: ellipsis;
  max-width:     20rem;
}
