@import "trp3Vars";

.room-item-selected() {
  cursor:           pointer;
  background-color: @room-item-selected-bg;
  color:            white;
}

.m-room-item() {
  height:     @menu-item-height * 3;
  max-height: @menu-item-height;
  opacity:    0;
  transition:
    height .2s ease-in,
    max-height .2s ease-in,
    opacity .2s ease-in;
  overflow:   hidden;

  &:hover {
    //.room-item-selected();

    & .room-item__options {
      opacity: 1;
    }
  }

  
  &.active {
    max-height: @menu-item-height * 3;
  }

  &.gu-mirror {
    opacity: 1;

    & .room-item__options-menu {
      display: none;
    }
  }

  &.gu-mirror {
    body.drag-over-favourite & {
      display: none;
    }
  }

  &.will-hideaway {
    height: 0;
  }


  .loaded & {
    opacity: 1;
  }

  .desktop & {
    //margin-left:   @desktop-menu-left-padding / 2;
  }

  .mobile & {
    padding-left:  @mobile-menu-left-padding;
    padding-right: @mobile-menu-left-padding;
  }
}

.gu-transit .room-item__container {
  background-color: rgba(255, 255, 255, .2);
}
