<div class="modal-content">

  <div class="trpModalTitle">Invite people below</div>

  <form class="form-inline" id="share-form">
    <div>
    <input type="text" name="inviteSearch"/>
    </div>
    <style>button.sendInvites { display: block; margin-top: 50px; } </style>
    <button type="submit" class="trpModalButton trpButtonBig trpBtnGreen sendInvites" id="submit-button">Send Invites</button>
  </form>

</div>

<div class="trpModalFailure share-failure" style="display:none">
  <span class="trpModalTitle"><span class="trpModalFailureText" id="failure-text">Invite failed.</span></span>
</div>

<div class="modal-success">
  <div class="trpModalTitle">Your invites were sent successfully<br><br></div>
</div>
