<div class="invite" data-value="{{value}}">
  <div class="trpDisplayPicture avatar-s {{#user.offline}}offline{{/user.offline}} {{#user.online}}online{{/user.online}}" style="background-image: url('{{user.avatarUrlSmall}}');"></div>
  <div style="float: left">
    <span class="removeInvite" data-value="{{value}}">Don't invite</span>
    <div>{{user.displayName}}</div>
  </div>
</div>