<div class="modal-content trpInviteModal">
  <div class="form-inline" id="share-form">
    <form class="trpEnterEmailRow">
      <input id="custom-email" type="email" name="email" class="trpInput" placeholder="friend@work.com" autocomplete="off"/>
      <div class="inviteButtonContainer">
        <button type="submit" id="custom-email-button" class="trpInviteButton">Invite</button>
      </div>
    </form>


  <div id="invites" class="trpSearchInvites"></div>
  </div>


     <a href='/google/contacts?returnTo={{returnToUrl}}' style="text-decoration: none;">
      <div class="separate-unit" style="display: inline-block;">
        <div class="trpButton trpCopyButton" style="margin-left: 0px">
          <img src='{{cdn "images/2/icon-gmail.png"}}' style="vertical-align: middle; margin-right: 4px" width="16"> <span style="vertical-align: middle">{{#if importedGoogleContacts}}Update{{else}}Connect with{{/if}} Gmail contacts</span>
        </div>
      </div>
    </a>

</div>

<div class="trpModalFailure share-failure" style="display:none">
  <span class="trpModalTitle"><span class="trpModalFailureText" id="failure-text">Invite failed.</span></span>
</div>

<div class="trpModalInfo">
  <span>Or share this: <span id="sharelink">{{shareUrl}}</span></span>
  <div style="display: inline-block; float: right"><div class="trpButton trpCopyButton" id="copy-button">copy</div></div>
</div>

<div class="trpModalSuccess" id="import-success" style="display:none">
  <div class="trpModalBody" style="padding-bottom: 0"><span class="trpWhite">Successfully connected to Gmail</span></div>
  <div class="trpModalSubtext" style="padding-bottom: 0"><span class="trpWhite">You can now search and invite your Gmail contacts in the search box above.</span></div>
</div>

<div class="trpModalSuccess hidden" id="invite-success" style="display:none">
  <span class="trpWhite">Invite Sent</span>
</div>
