@charset "UTF-8";
/* CSS Document */

body {
	background-attachment:fixed;
	background-image:url(images/texturetastic_gray.png);
	height: 100%;
}

html {
	height:100%;
}

.fullheight {
	height:100%;	
}

.cl {
  padding-top: 100px;
  padding-left: 0px;
}

.cr {
  padding-top: 140px;
  padding-left: 30px;
  padding-right: 30px;
  
}

.panel {
	background-image:url(images/black_paper.png);
}

.texty {
	color: #CCC;
	font-family: 'Advent Pro', sans-serif;
	/*font-family: 'Droid Serif', serif; */
	
	font-size:24px;
	line-height:24px;
}

.bigger {
	font-size: 36px;
	line-height:36px;
}

.smaller {
	font-size:14px;
}