{{#content "header"}}
<h1>Download and install the Troupe notifier</h1>
<p>The Troupe notifier is a small application you can download and install on your computer. <br>
  It will notify you when you have new chat messages from people you know.<br>
{{/content}}

<!-- <div class="trpStartContainer open blue" style="padding-bottom: 60px; padding-top: 20px">
  <div class="trpStartContent">
    <div style="display: inline-block; max-width: 450px">
        It will notify you when you have new chat messages from people you know.<br><br>
        </p>
    </div>
    <div style="display: inline-block; width: 400px; margin-left: 40px">
      <div class="trpChatItem">
        <div class="trpDisplayPicture avatar-s" style="float: left; background-image: url('../../images/2/avatar-claire.jpg'); margin-right: 8px"></div>
        <div class="trpChatName">Claire</div>
        <div class="trpChatText">I've just updated the newsletter</div>
      </div>
    </div>
  </div>
</div> -->

<div class="trpStartContainer open blue-text">
  <div class="trpStartContent">
    <div style="margin-top: 40px">
      <div class="trpButtonMedium trpBtnGreen" id="download-button" target="download-frame">Download</div>
      <a href="./finish" class="trpButtonMedium trpBtnLightGrey">No thanks</a>
    </div>

  </div>
</div>

<iframe height="0" width="0" id="download-frame" style="display: none"></iframe>  

</html>