{{#content "header"}}
<h1>Now let's create your first Troupe</h1>
<p>A Troupe is a conversation with many people. You can all chat together and share files.</p>
<p>Good uses are for small companies, project teams, office locations or any topic you can imagine.</p>

{{/content}}

<div class="trpStartContainer open blue" style="padding-bottom: 60px">
  <div class="trpStartContent">
    <form id="signup-form" style="margin-top: 60px">
        <div class="trpStartNumber">
          <div>4</div>
        </div>
        <div class="label">What's your Troupe called?</div>
        <div class="input">
            <input id="troupeName" type="text" class="open" name="troupeName" autofocus>
        </div>
        <div class="help">
          Examples: London Office, Executive Team, Project Zeus<br>
          You can always change it later.
        </div>
    </form>
  </div>
</div>

<div class="trpStartContainer open blue-text">
  <div class="trpStartContent">
    <div style="margin-top: 40px">
      <a href="#" id="next-button" class="trpButtonMedium trpBtnGreen">Next</a>

    </div>

  </div>
</div>
