{{#content "header"}}
<h1>That's it, all done!</h1>
<p>Let's go visit your Troupe and start chatting.</p>
{{/content}}

<div class="trpStartContainer open blue-text">
  <div class="trpStartContent">
    <div style="margin-top: 40px">
      <a href="/" class="trpButtonMedium trpBtnGreen">Start</a>

    </div>

  </div>
</div>

</html>