{{#content "header"}}
<h1>Finally, let's invite some people to your Troupe</h1>
<p>If you use Gmail, you can easily choose contacts to add. <br>We won't email all of your contacts, you can choose individually who to invite.</p>
<p><a href="">Add contacts from Gmail<a></p><br>
{{/content}}

<div class="trpStartContainer open blue" style="padding-bottom: 60px">
  <div class="trpStartContent">
    <div style="margin-top: 60px">
        <div class="number one">
          <div class="number-text">1</div>
        </div>
        <div class="label">Invite people</div>
        <div class="input">
            <input type="text" class="open" placeholder="email@address.com" size="30"/><div value="Invite" class="trpButtonMedium trpBtnGreen" style="margin-top: 1px; margin-left: 8px">Invite</div>
        </div>
        <div class="help">Type an email address in the field above and click Invite. <br>You can repeat this multiple times to add many people.</div>
    </div>
  </div>
</div>

<div class="trpStartContainer open blue-text">
  <div class="trpStartContent">
    <div style="margin-top: 40px">
      <a href="finish" class="trpButtonMedium trpBtnGreen">Next</a>

    </div>

  </div>
</div>
