{{#content "header"}}
<h1>Welcome let's get you started</h1>

{{/content}}

<div class="trpStartContainer trpStartBody" style="">
  <div class="trpStartContent">

    <form id="updateprofileform" class="trpStartForm">
      <div style="">
        <div class="trpStartNumber">
          <div>1</div>
        </div>
        <div class="label">What's your full name?</div>
        <div class="input">
            <input id="displayName" type="text" name="displayName" class="open">
        </div>
      </div>


      <div style="margin-top: 40px">
        <div style="display: inline-block;">
          <div class="trpStartNumber">
            <div>2</div>
          </div>
          <div class="label">Pick a username</div>
          <div class="input">
              <input type="text" class="open" id="username" name="username">
          </div>
          <div class="help">
            <span id="available">This will be your personal address on Troupe<br></span>
            <span id="not-available" style="color: #e74c3c; display: none" >The username you have chosen is not available<br></span>
            <span class="trpGreen">www.trou.pe/<span id="show-user-name">username</span></span><br>
          </div>
        </div>
        <div class="trpStartHelp" style="display: none">
          <div class="label2" style="margin-top: 6px; margin-bottom: 10px;">Here are some suggestions for you</div>
          <div>
            <div class="trpUsernameSuggestion">suprememoocow</div>
            <div class="trpUsernameSuggestion">andrew</div>
            <div class="trpUsernameSuggestion">andrewn</div>
            <div class="trpUsernameSuggestion">mutanteyes</div>
            <div class="trpUsernameSuggestion">newdigate</div>
          </div>
        </div>
      </div>

      <div style="margin-top: 40px">
        <div class="trpStartNumber">
          <div>3</div>
        </div>
        <div class="label">Choose a password</div>
        <div class="input">
            <input id="password" type="password" name="password" class="open">
        </div>
        <div class="help">
          At least 6 characters.<br>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="trpStartContainer blue-text">
  <div class="trpStartContent">
    <div style="margin-top: 40px">
      <a href="#" id="next-button" class="trpButtonMedium trpBtnGreen">Next</a>

    </div>

  </div>
</div>
