{{#content "header"}}
<h1>Welcome, let's get you started</h1>

{{/content}}

<div class="trpStartContainer trpStartBody" style="">
  <div class="trpStartContent">

    <form id="updateprofileform" class="trpStartForm">
      <div id="displayname-area">
        <div class="trpStartNumber">
          <div>1</div>
        </div>
        <div class="label">What's your full name?</div>
        <div class="input">
            <input id="displayName" type="text" name="displayName" value="{{user.displayName}}" class="open" autofocus>
        </div>
        <div class="help" style="height: 20px">
          <span style="color: #e74c3c; display: none;" id="name-error">You need to tell us your name.</span><br>
        </div>
      </div>


      <div style="margin-top: 20px" id="username-area">
        <div style="display: inline-block; width: 320px">
          <div class="trpStartNumber">
            <div>2</div>
          </div>
          <div class="label">Pick a username</div>
          <div class="input">
              <input type="text" class="open" id="username" name="username" autocomplete="off">
          </div>
          <div class="help" style="height: 44px">
            <div class="tip-message valid-message">This will be your personal address on Troupe.<br></div>
            <div class="not-valid-message" style="color: #e74c3c; display: none" >The username you have chosen is not available.<br></div>
            <div id="username-error" style="color: #e74c3c; display: none">You must pick a valid username.<br></div>
            <div class="valid-message trpGreen">www.trou.pe/<span id="show-user-name">username</span></div>
          </div>
        </div>
        <div class="trpStartHelpWrapper" style="display: inline-">
          <div class="trpStartHelp" style="display: none">
            <div class="label2" style="margin-top: 6px; margin-bottom: 10px;">Here are some suggestions for you</div>
            <div class="name-suggestions">
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top: 20px" id="password-area">
        <div class="trpStartNumber">
          <div>3</div>
        </div>
        <div class="label">Choose a password</div>
        <div class="input">
            <input id="password" type="password" name="password" class="open" autocomplete="off">
        </div>
        <div class="help" id="password-help">
          At least 6 characters.<br>
        </div>
        <div class="help" id="password-error" style="display:none">
          <span style="color: #e74c3c;">You need to choose a password of at least 6 characters.</span><br>
        </div>
      </div>
      <input type="submit" class="hidden-iphone-submit-button">
    </form>
  </div>
</div>

<div class="trpStartContainer blue-text">
  <div class="trpStartContent">
    <div style="margin-top: 40px">
      <button id="next-button" class="trpButtonMedium trpBtnGreen">Next</button>

    </div>

  </div>
</div>
