<a href="/{{org.name}}" style="text-decoration: none">
  <div style="display: inline-block"><img src="{{org.avatar_url}}" width="48" height="48" class="org-avatar" style="vertical-align: middle; margin-right: 20px"></div>
  <div style="display: inline-block; vertical-align: middle">{{org.name}}</div>
</a>
