<a href="/{{name}}" style="text-decoration: none">
  <div style="display: inline-block"><img src="{{avatar_url}}" width="48" height="48" class="org-avatar" style="vertical-align: middle; margin-right: 20px"></div>
  <div style="display: inline-block; width: 200px; vertical-align: middle">{{name}}<br><span style="font-size: 12px; opacity: 0.5">&nbsp;</span></div>
</a>