<a href="/{{name}}" style="text-decoration: none">
  <div class="github-REPO" style="display: inline-block; vertical-align: middle"></div>
  <div style="display: inline-block; width: 200px; vertical-align: middle">{{name}}<!-- <br><span style="font-size: 12px; opacity: 0.5">&nbsp;</span> --></div>
</a>