<img src="{{avatar_url}}" width="48" height="48">
<h4>{{name}}</h4>
{{#if room}}
<div class='topic'><small>{{room.topic}}</small></div>
<div class='user-count'><small>{{room.userCount}} people</small></div>
{{/if}}
