<img src="{{avatar_url}}" width="48" height="48">
<h4>{{name}}</h4>
{{#if room}}
<div class='topic u-font-smaller'>{{room.topic}}</p>
<div class='user-count u-font-smaller'>{{room.userCount}} people</p>
{{/if}}
