<div class="trpHomePanel" id="chat-frame">
  <div class="trpHomeContainer" id="content-frame">
    <img src='{{cdn "images/2/gitter/logo-blue-text.png" }}' style="margin-top: 20px;"><br>
    <div class="org-select">
      <br><br><h2>ORGANISATIONS</h2>
      <div class="org-list" id="org-list" style="margin-left: -10px">     
        <div class="org-list-item">
          <div style="display: inline-block"><img src="https://0.gravatar.com/avatar/c68fb3f0e29f9d34c19f6cd4d6c76d91?d=https%3A%2F%2Fidenticons.github.com%2Fbf4ecee5e5beca4c726f90e4cb925aaf.png&r=x&s=48" class="avatar" style="vertical-align: middle; margin-right: 20px"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">Percent<br><div class="trpTroupeUnreadCounter" style="color: white">2</div><span style="font-size: 12px; opacity: 0.5">unread messages</span></div>
        </div>

        <div class="org-list-item">
          <div style="display: inline-block"><img src="https://1.gravatar.com/avatar/aaed46c35265e5bcb3d3b6d5af62af2c?d=https%3A%2F%2Fidenticons.github.com%2F7ecb00f88ea3726f6216ba255fa6477f.png&r=x&s=48" class="avatar" style="vertical-align: middle; margin-right: 20px"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">The Node Firm<br><span style="font-size: 12px; opacity: 0.5">4 people online</span></div>
        </div>

        <div class="org-list-item">
          <div style="display: inline-block"><img src="https://1.gravatar.com/avatar/30232d75c9107ce9107c5051a6692fa1?d=https%3A%2F%2Fidenticons.github.com%2F43b57230b652b6a3a67b15d93d731f1d.png&r=x&s=48" class="avatar" style="vertical-align: middle; margin-right: 20px"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">EmitDB<br><span style="font-size: 12px; opacity: 0.5">&nbsp;</span></div>
        </div>

        <div class="org-list-item">
          <div style="display: inline-block"><img src="https://2.gravatar.com/avatar/ee3c2d31411a69b4ad6d023568839d6c?d=https%3A%2F%2Fidenticons.github.com%2F3c4046c8d72d2f66159b303fbced104a.png&r=x&s=48" class="avatar" style="vertical-align: middle; margin-right: 20px"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">Irish Couch<br><span style="font-size: 12px; opacity: 0.5">&nbsp;</span></div>
        </div>

        <div class="org-list-item">
          <div style="display: inline-block"><img src="https://2.gravatar.com/avatar/3e4df01019b3be0c857660f333b2c357?d=https%3A%2F%2Fidenticons.github.com%2Fb187782c44b28135dc2ef8057f72cf43.png&r=x&s=48" class="avatar" style="vertical-align: middle; margin-right: 20px"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">MarkLogic<br><span style="font-size: 12px; opacity: 0.5">&nbsp;</span></div>
        </div>

        <div class="org-list-item">
          <div style="display: inline-block"><img src="https://2.gravatar.com/avatar/5e06172730feb43518e532efc9c46a51?d=https%3A%2F%2Fidenticons.github.com%2Fc6cc5df28b016d55dc13d00c995749a5.png&r=x&s=48" class="avatar" style="vertical-align: middle; margin-right: 20px"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">MarkLogic<br><span style="font-size: 12px; opacity: 0.5">&nbsp;</span></div>
        </div> 

        <div class="org-list-item">
          <div style="display: inline-block"><img src="https://1.gravatar.com/avatar/28d175511f5a0eee0b6abe717f4e6c5b?d=https%3A%2F%2Fidenticons.github.com%2F08dd23e4325603d20918b5e466ef44ff.png&r=x&s=48" class="avatar" style="vertical-align: middle; margin-right: 20px"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">by Nodejitsu<br><span style="font-size: 12px; opacity: 0.5">&nbsp;</span></div>
        </div> 

        <div class="org-list-item">
          <div style="display: inline-block"><img src="https://2.gravatar.com/avatar/1c32f27a26fd62e7d3059903205287bd?d=https%3A%2F%2Fidenticons.github.com%2F8aa9cc11096821f5a8355c8174a3f4d1.png&r=x&s=48" class="avatar" style="vertical-align: middle; margin-right: 20px"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">a decoupled application framework<br><span style="font-size: 12px; opacity: 0.5">&nbsp;</span></div>
        </div>


        <div class="org-list-item">
          <div style="display: inline-block"><img src="https://2.gravatar.com/avatar/aec6165139d84b6b74343c4e379b8a4a?d=https%3A%2F%2Fidenticons.github.com%2F1e2877a52ed5469ab6df64ec47279d02.png&r=x&s=48" class="avatar" style="vertical-align: middle; margin-right: 20px"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">Nodedocs<br><span style="font-size: 12px; opacity: 0.5">&nbsp;</span></div>
        </div>
      </div>

      <div class="repo-select">
      <br><br><h2>REPOSITORIES</h2>

        <div class="org-list-item">
          <div class="github-REPO" style="display: inline-block"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">dscape/nano<br><span style="font-size: 12px; opacity: 0.5">4 people online</span></div>
        </div>

        <div class="org-list-item">
          <div class="github-REPO" style="display: inline-block"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">percent/payments<br><span style="font-size: 12px; opacity: 0.5">2 people online</span></div>
        </div>

        <div class="org-list-item">
          <div class="github-REPO" style="display: inline-block"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">percent/auth<br><span style="font-size: 12px; opacity: 0.5">2 people online</span></div>
        </div>

        <div class="org-list-item">
          <div class="github-REPO" style="display: inline-block"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">joyent/node<br><span style="font-size: 12px; opacity: 0.5">2 people online</span></div>
        </div>
      </div>
    </div>
  </div>
</div>