<div class="trpHomePanel" id="chat-frame">
  <div class="trpHomeContainer" id="content-frame">
    <div class="trpHomeLogo"></div>
    <br>
    <br>
    <br>
    <h2>YOUR ORGANISATIONS</h2>
    <div id="org-list"></div>
    <br>
    <br>
    <h2>SUGGESTED REPOSITORIES</h2>
    {{#if showUpgradeAuthLink}}
    <div class="banner-red">
      <a id="upgrade-auth" style="color: white" href="/login/upgrade?scopes=repo" target="_new">Want to see your private repositories? Click here to Authorise with GitHub</a>.
    </div>
    {{/if}}
    <div id="repo-list"></div>
  </div>
</div>