<div class="trpHelpBox" style="width: 656px; padding: 20px">
  <p class="trpH1"><span class="trpGreen">Hi there and thank you for trying out Troupe.</span></p><br>
  <p class="trpBodyMedium">With Troupe you can chat invidiually with your colleagues and others.<br>You can also create group conversations and chat with many people together.</p>
</div>
<br><br>
<div class="trpHelpBox" id="home-add-people" style="width: 314px; text-align: center; margin-right: 14px">
  <img src='{{cdn "images/2/icon-round-person.png" }}' style="margin-top: 8px">
  <p class="trpBodyText">Find and add people</p>
  <p class="trpBodySmall">Or share your Troupe address with others. <br><span class="trpGreen">www.trou.pe/{{username}}</span></p>
</div>

<a href="#|create">
  <div class="trpHelpBox" id="home-create-troupe" style="width: 314px; text-align: center">
    <img src='{{cdn "images/2/icon-round-group.png" }}' style="margin-top: 8px">
    <p class="trpBodyText">Start a Troupe</p>
    <p class="trpBodySmall">Create a group and invite others to join. <br><span class="trpGreen">Good uses are for teams or projects.</span></p>
  </div></a>

<br><br>
{{!--
<div class="trpHelpBox" style="width: 656px; padding: 20px">
  <p class="trpBodyText">We found people you work with</p>
  <div class="trpDisplayPicture avatar-4fd48bda40a7cc9644000003 avatar-s offline" data-original-title="Andrew Newdigate&lt;br&gt;Cape Town, Western Cape" style="background-image: url(https://dnsjy61awi9j1.cloudfront.net/avatar/s/4fd48bda40a7cc9644000003/5.jpg);"></div>
  <div class="trpDisplayPicture avatar-4fd48c8040a7cc9644000022 avatar-s online" data-original-title="Mike Bartlett&lt;br&gt;Cricklewood, England" style="background-image: url(https://dnsjy61awi9j1.cloudfront.net/avatar/s/4fd48c8040a7cc9644000022/9.jpg);"></div>
  <div class="trpDisplayPicture avatar-50f3da67c8de62e7610003a1 avatar-s offline" data-original-title="Tim Lind&lt;br&gt;Cape Town, Western Cape" style="background-image: url(https://dnsjy61awi9j1.cloudfront.net/avatar/s/50f3da67c8de62e7610003a1/4.jpg);"></div>
  <p class="trpBodySmall">We found <span class="trpGreen">3</span> people you work with and have already added them to your contacts. <br><span class="trpGreen">You contact list is over to the left, just move your mouse there and it will appear</span></p>
</div>--}}