<div class="trpHomePanel">
  <div class="trpHomeContainer" id="content-frame">

    <div class="trpHomeLogo"></div>
    <br>
    <br>
    <br>

    <div id="org-list">
    </div>

    <h2>SUGGESTED ROOMS</h2>
    {{#if showUpgradeAuthLink}}
    <div class="banner-red">
      <a id="upgrade-auth" style="color: white" href="/login/upgrade?scopes=repo" target="_new">
        Want to see your private repositories? Click here to Authorise with GitHub
      </a>.
    </div>
    {{/if}}
    <div id="suggested-room-list"></div>

  </div>
</div>
