<div class="trpHomePanel">
  <div class="trpHomeContainer" id="content-frame">

    {{#if prettyWelcome}}

    <div class="prettyWelcome">
      <h1>Welcome to Gitter!</h1>

      <h2>What's next?</h2>

      <p>Create or join a room by choosing any of the items from the menu on your left.<br>You can also <a href="/explore" target="_blank">Explore</a> our directory of public rooms.</p>

      <h2>Get the apps</h2>
      <p>Chat and receive notifications on the go. We also have an <a href="https://irc.gitter.im" target="_blank">IRC bridge</a> and an <a href="https://developer.gitter.im/" target="_blank">API</a>.</p>
      <div class='features'>
          <div class="userhome-app__pill">
            <a href="http://update.gitter.im/osx/latest" target="_blank">
              <div class="userhome-app__mac"></div>
              <div class="userhome-app_mac-label">Mac App</div>
            </a>
          </div>

          <div class="userhome-app__pill">
            <a href="http://appstore.com/gitter" target="_blank">
              <div class="userhome-app__ios"></div>
              <div class="userhome-app_ios-label">iOS App</div>
            </a>
          </div>

          <div class="userhome-app__pill">
            <a href="https://play.google.com/store/apps/details?id=im.gitter.gitter&hl=en_GB" target="_blank">
              <div class="userhome-app__android"></div>
              <div class="userhome-app_android-label">Android App</div>
            </a>
          </div>

      </div>
      <p><small>Linux and Windows coming soon.</small></p>

      <h2>Talk To Us</h2>
      <p>We hang out in <a href='{{ basePath }}/gitterHQ/gitter'>#gitterHQ/gitter</a> and would love to hear from you.<br>You can also follow <a href="https://twitter.com/gitchat" target="_blank">@gitchat</a> on Twitter for the latest news.</p>

      <h2>Discover Features</h2>
      <p>Level up your skills: keyboard shortcuts, /commands, file sharing, and other tricks. <a href="https://gitter.zendesk.com/hc/en-us" target="_blank">Learn more</a>.</p>

      <h2>Gitter Data Liberation Front</h2>
      <p>Content generated in public rooms is licensed under Creative Commons BY-NC-SA.<br>Export messages easily using the <a href="https://developer.gitter.im" target="_blank">API</a>.</p>
    </div>

    {{else}}

    <div class="trpHomeLogo"></div>
    <br>
    <br>
    <br>

    <div id="org-list">
    </div>

    <h2>SUGGESTED ROOMS</h2>
    {{#if showUpgradeAuthLink}}
    <div class="banner-red">
      <a id="upgrade-auth" style="color: white" href="/login/upgrade?scopes=repo" target="_new">
        Want to see your private repositories? Click here to Authorise with GitHub
      </a>.
    </div>
    {{/if}}
    <div id="suggested-room-list"></div>

    {{/if}}

  </div>
</div>
