<div class="trpHomePanel" id="chat-frame">
  <div class="trpHomeContainer" id="content-frame">
    <img src='{{cdn "images/2/gitter/logo-text-blue-64.png" }}' style="margin-top: 20px;"><br><br>
     
    {{^createRoom}}
    <div class="banner-red">
      Gitter is currently in private beta. You can join chats, but not create them. We will grant you this permission shortly.
    </div>
    {{/createRoom}}
    
    <div class="org-select">
      <br><h2>YOUR ORGANISATIONS</h2>
      <div class="org-list" id="org-list" style="margin-left: -10px">     
      </div>


      <div class="repo-select">
      <br><br><h2>SUGGESTED REPOSITORIES</h2>
      <div class="repo-list" id="repo-list" style="margin-left: -10px"> 
        <div class="org-list-item">
          <div class="github-REPO" style="display: inline-block"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">dscape/nano<br><span style="font-size: 12px; opacity: 0.5">4 people online</span></div>
        </div>

        <div class="org-list-item">
          <div class="github-REPO" style="display: inline-block"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">percent/payments<br><span style="font-size: 12px; opacity: 0.5">2 people online</span></div>
        </div>

        <div class="org-list-item">
          <div class="github-REPO" style="display: inline-block"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">percent/auth<br><span style="font-size: 12px; opacity: 0.5">2 people online</span></div>
        </div>

        <div class="org-list-item">
          <div class="github-REPO" style="display: inline-block"></div>
          <div style="display: inline-block; width: 200px; vertical-align: middle">joyent/node<br><span style="font-size: 12px; opacity: 0.5">2 people online</span></div>
        </div>
      </div>
    </div>
  </div>
</div>