{{> minibar_activity_indicators}}
<button class="room-menu-options__item-button" title="Your One to One Conversations">
  <img class="room-menu-options__item__avatar" src='{{cdn "images/svg/menu/people.svg"}}'>
</button>
