// Base
@import "base-avatar";

// Required views
@import "../people/peopleCollectionView";
@import "../search/searchView";
@import "activity.less";

.right-toolbar {
  position: relative;
  color: #333;
  font-family: @fontSans;
  font-size: 14px;
  display: inline-block;
  flex-shrink: 0;
  order: 2;
  height: 100%;
  width: @rightMarginFull;
  text-align: left;
  vertical-align: top;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: fade(@light,20%);
  z-index: 100;
  .transition500ms;

  p {
    font-family: 'Open Sans';
    font-size: 14px;
    margin: 0px 0px 5px;
  }

  small {
    font-size: 11px;
  }

  .trpToolbarHeader {
    padding-left: 14px;
  }

  .trpToolbarList {
    min-height: 40px;
    overflow: auto;

    ul {
      list-style: none;
      margin: 0px;
    }
  }

  .oneToOne {
    max-height: 300px;
  }

  .expand {
    width: @rightMarginFull;
  }

  @media @mid {
    width: 70px;
    padding-right: 0px;

    &.expand {
      width: @rightMarginFull;
    }

    #activity-header {
    opacity: 0;
    }

    #people-header, #top-header, #repo-info, #activity-tip {
      display: none;
    }

    #people-list .trpToolbarListContent
    {
      margin-left: 6px;
      padding-top: 16px;
      padding-right: 20px;
      padding-left: 14px;
    }
  }

  .trpRepoInfoContainer {
    max-width: 266px;
    box-sizing: border-box;
    padding-right: 10px;

    & li {
      width: 100%;
      padding: 2px 0 2px 20px;
      overflow-x: hidden;
      font-size: 14px;
      text-overflow: ellipsis;
      list-style: none;
    }

    .vcard-stats {
      border-top: 1px solid fade(@trpGrey, 20%);
      border-bottom: 1px solid fade(@trpGrey, 20%);
      padding: 4px 0;
      margin: 8px 0;
    }

    ul {
      display: inline-block;
      border: 1px 0 solid @trpGrey;

    }

    h1 {
      word-wrap: break-word;
    }
  }
}

.right-toolbar {

  table, tr, td {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    vertical-align: top;
  }

  @media @mid {
    .trpToolbarList {
      max-height: 40%;
    }

  }
}

.right-toolbar {
  display: flex;
  flex-direction: column;
}

.right-toolbar__header {
  flex-shrink: 0;
}

.right-toolbar__body {
  height: 100%;
  flex-shrink: 1;
}

.right-toolbar__footer {
  flex-shrink: 0;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 12px;
  width: 100%;
}
