<div>
  <div class="trpModalBody label-signupsuccess" style="padding-bottom: 0px">
  	Almost done. <br>Please confirm your email address.<br><br>We've sent an email to <span class="trpGreen">{{email}}</span><br><br>Click the link in that email and you'll be up and running.
  </div>
  <div style="display: none" class="trpModalTitle label-resendsuccess">
    On its way!
  </div>
</div>
<div class="trpModalSubtext">Make sure to check your spam folder just in case. <br><br></div>
<a href="#!" class="trpModalButton trpButtonMedium trpBtnGreen button-close">Close</a><a href="#!" class="trpModalButton trpButtonMedium trpBtnLightGrey button-resend" style="margin-left: 10px">Resend link</a>
<div class="trpModalFooter"> </div>