<div class="trpModalTitle">Now choose your username.</div>
<div class="trpCreateForm">
	<form id="username-form">
   		<input placeholder="Type your username here" class="trpInput required username" name="username" id="username">

      <div class="trpIB trpVTop" style="height: 20px">

        <div class="valid-message trpUsername trpVTop" style="display:none">
          <div class="trpIB trpVTop"><img src="{{cdn 'images/2/icon-round-green-tick.png'}}" width="14" height="14">&nbsp;</div>
          <div class="trpIB trpVTop trpGreen" style="height:19px; margin-top: -1px;">That username is available.</div>
        </div>
        <div class="not-valid-message trpUsername trpVTop" style="display:none">
          <div class="trpIB trpVTop"><img src="{{cdn 'images/2/icon-round-red-cross.png'}}" width="14" height="14">&nbsp;</div>
          <div class="trpIB trpVTop trpRed" style="height:19px; margin-top: -1px;">Sorry, that username is taken.</div>
        </div>
      </div>

      <div style="height: 20px; padding: 0">
     		<div class="valid-message trpModalSubtext" style="display:none">Your Troupe address will be <span class="trpGreen">www.trou.pe/username</span></div>
      </div>

      <br>
		<input type="submit" name="submit" value="Next" class="trpModalButton trpButtonBig trpBtnGreen" />
	</form>
</div>
<div class="trpSuggestions name-suggestions" style="display:none">
</div>
<div class="trpModalFailure" style="display:none">
  <span class="trpModalTitle"><span class="trpModalFailureText" id="failure-text">Invalid or no username chosen.</span></span>
</div>