<div class="trpModalTitle">Great. Now choose your username.</div>
<div class="trpCreateForm">
	<form id="signup-form">
   		<input placeholder="Type your username here" class="trpInput required username" name="username" id="username">
   		<div class="valid-message">That username is available.</div>
   		<div class="trpModalSubtext">Your page on Troupe will be www.trou.pe/username</div>
		<input type="submit" name="submit" value="Next" class="trpModalButton trpButtonBig trpBtnGreen" />
	</form>
</div>
<div class="trpModalFailure" style="display:none">
  <span class="trpModalTitle"><span class="trpModalFailureText" id="failure-text">Invalid username chosen.</span></span>
</div>