
@font-face {
    font-family: "source-sans-pro";
    src: url("../SourceSansPro-Regular.otf.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("../SourceSansPro-It.otf.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("../SourceSansPro-Bold.otf.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("../SourceSansPro-Semibold.otf.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("../SourceSansPro-BoldIt.otf.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}
