.trpLeftMenuHotspot {
	position: fixed;
	top: 0;
	left: 0;
	width: 40px;
	height: 100%;
	z-index: 10;
	display: inline-block;
}

.trpLeftMenu {
	display: inline-block;
	position: fixed;
	width: 280px;
	left: -280px;
	top: 62px;
	background-color: @trpGreen;
	height: 100%;
	color: white;
	z-index: 1012;
	border-right: 2px solid @trpGreen;
	padding-top: 26px;
	margin-top: 0px;
}

.trpLeftMenuWrapper {
  display: inline-block;
	.trpBodyText;
	padding-left: 20px;
	overflow-y: auto;
	overflow-x: hidden;
}

.trpLeftMenuToolbar {
	padding-left: 26px;
	padding-bottom: 12px;
}

.trpLeftMenuToolbarItems {
	margin: 0;
	padding: 0;
	list-style: none;
}

.trpLeftMenuToolbarItems li {
	display: inline-block;
	padding-right: 8px;
}

.trpLeftMenuIcon {
	opacity: 0.6;
	padding: 5px;
}

.selected {
	opacity: 1;
}


.unread-normal .trpLeftMenuIcon[data-list="list-troupes"], .unread-one2one .trpLeftMenuIcon[data-list="list-users"] {
	background-color: @trpPurple;
	border: 1px solid white;
	border-radius: 50em;
}

.trpLeftMenuSpacer {
	height: 100px;
}

.trpTroupeList {
	display: inline-block;
	list-style-type: none;
	margin: 0 0 18px 0;
}

.trpTroupeList a {
	display: inline-block;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.trpTroupeListSearch {
	padding-left: 8px;
}

.trpLeftMenuButton, .trpNewTroupeButton {
  display: inline-block;
	width: 210px;
	.trpBodyMedium;
	margin-top: 20px;
	background-color: white;
	padding: 12px;
	color: @trpGreen;
}

.trpMenuTab {
  display: inline-block;
	position: fixed;
	left: 0px;
	top: 100px;
	background-color: @trpGreen;
	height: 40px;
	width: 40px;
	z-index: 1000;
}

.trpUnreadBadge {
	display: none;
	position: absolute;
	right: -9px;
	top: -9px;
	width: 15px;
	height: 15px;
	background-color: @trpPurple;
	border-radius: 50em;
	.trpBodyTiny;
	color: white;
	text-align: center;
	border: 2px solid white;
}

.trpUnreadBadgeCount {
  display: inline-block;
	margin-top: 1px;
	width: 15px;
	text-align: center;
}
