@import "troupe-menu.less";

// do not show the toolbar buttons (invite, etc) as mobile cant handle it yet
.trpToolbarList > a {
	display: none;
}

.trpLeftMenuActions,
.menu-actions {
	display: none;
}

.sideMenu {
	position: absolute;
	color: white;
	width: 85%;
}

.trpToolbarHeader {
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 4px;
	opacity: 0.6;
	margin-left: 10px
}

.trpTroupeList {
	padding-left: 0px;
}

.trpLeftMenuWrapper {
	padding-left: 0;
	width: 100%;
}

.trpLeftMenuToolbar {
	padding-left: 12px;
}

// .menu-search,
.trpLeftMenuSearch {
	display: none;
}

.trpTroupeList {
  display: inline-block;
	list-style-type: none;
	margin: 0;
  width: 100%;
  line-height: 14px;
  margin-bottom: 18px;
  box-sizing: border-box;
}

.trpTroupeList a {
  display: inline-block;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}