@import "../colors";

.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 6rem;
}

.container--category {
  background-color: @topic-container-category-bg;
}

.container--table-control {
  background-color: @topic-container-table-control-bg;
}

.container--topic-header {
  background-color: @topic-container-table-control-bg;
}
