@import "../colors";
@import '../break-points';

.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 6rem;
  @media @small { padding: 0; }
}

.container--category {
  background-color: @topic-container-category-bg;
}

.container--table-control {
  background-color: @topic-container-table-control-bg;
}

.container--topic-header {
  background-color: @topic-container-table-control-bg;
}

.container--topic-body {
  background-color: @topic-container-table-control-bg;
}

.container--reply-editor {
  position: fixed;
  bottom: 0;
  left: 0;
  @media @small { padding: 0; }
}
