@light: white;
@dark: black;

@ruby:      #ed1965;
@jaffa:     #F68D42;
@caribbean: #46BC99;
@pampas:    #f2f0ed;
@thunder:   #3a3133;

//Background
@topic-bg-left:  #927fa6;
@topic-bg-right: #42b9dd;

//Forum specific
@topic-table-bg: @light;
@topic-container-category-bg: fadeout(@light, 90%);
@topic-container-table-control-bg: fadeout(@light, 90%);

//Forms
@input-border-color: lighten(@dark, 80%);

//Modal
@modal-wrapper-bg: fadeout(@light, 10%);

//Create Topic
@create-modal-heading-color: lighten(@dark, 80%);
@create-topic-name-color: lighten(@dark, 10%);
@create-topic-body-color: lighten(@dark, 10%);
