@ruby:      #ed1965;
@jaffa:     #F68D42;
@caribbean: #46BC99;
@pampas:    #f2f0ed;
@thunder:   #3a3133;

//Background
@topic-bg-left:  #927fa6;
@topic-bg-right: #42b9dd;

//Forum specific
@topic-table-bg: white;
@topic-container-category-bg: rgba(255, 255, 255, .1);
@topic-container-table-control-bg: rgba(255, 255, 255, .1);
