.icon-like { background-image: url('../svg/like.svg'); }
.icon-like-selected { background-image: url('../svg/like-selected.svg'); }
.icon-comments { background-image: url('../svg/comments.svg'); }
.icon-comments-selected { background-image: url('../svg/comments-selected.svg'); }
.icon-edit { background-image: url('../svg/edit.svg'); }
.icon-edit-selected { background-image: url('../svg/edit-selected.svg'); }
.icons-watch { background-image: url('../svg/watch.svg'); }
.icons-watch-selected { background-image: url('../svg/watch-selected.svg'); }
