.icon-like { background-image: url('../svg/like.svg'); }
.icon-like-selected { background-image: url('../svg/like-selected.svg'); }
.icon-comments { background-image: url('../svg/comments.svg'); }
.icon-comments-selected { background-image: url('../svg/comments-selected.svg'); }
.icon-edit { background-image: url('../svg/edit.svg'); }
.icon-edit-selected { background-image: url('../svg/edit-selected.svg'); }
.icon-watch { background-image: url('../svg/watch.svg'); }
.icon-watch-selected { background-image: url('../svg/watch-selected.svg'); }
.icon-watch-jaffa { background-image: url('../svg/watch-jaffa.svg'); }
.icon-unwatch-jaffa { background-image: url('../svg/unwatch-jaffa.svg'); }
