<div data-role="page" id="chat" class="page">

  <div data-role="header">
    <h1>Chat</h1>
  </div><!-- /header -->

<!-- Start of first page: one -->
  <div data-role="content" >
    <div class="ui-body ui-body-b">
       <input type="text" name="name" id="name-b" value="say something..."  />
    </div>
    <div class="frame-chat">
    </div>
  </div><!-- /content -->

<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="#chat" class="ui-btn-active" data-transition="none">Chat</a></li>
            <li><a href="#mail" data-transition="none">Emails</a></li>
            <li><a href="#file" data-transition="none">Files</a></li>
            <li><a href="#people" data-transition="none">People</a></li>
        </ul>
    </div><!-- /navbar -->
</div>

</div><!-- /page one -->

