<div data-role="page" id="file" class="page">
  <div data-role="header">
    <h1>Files</h1>
  </div>

  <div data-role="content">
  
    <ul data-role="listview" data-split-icon="gear" id="filelist">
         <!--  <li><a href="index.html">
            <img src="img/superfly.jpeg" />
            <h3>Nike Superfly Advert spot</h3>
            <p>Movie</p>
          </a><a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup">Purchase album
      </a></li></li>
          <li><a href="index.html">
            <img src="img/script.jpg" />
            <h3>Script</h3>
            <p>PDF Document</p>
          </a><a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup">Purchase album
      </a></li></li>
          <li><a href="index.html">
            <img src="img/newshoe.jpg" />
            <h3>Pictures of shoes</h3>
            <p>Image</p>
          </a><a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup">Purchase album
      </a></li></li> -->
    </ul>


  </div><!-- /content -->


<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="#chat" data-transition="none">Chat</a></li>
            <li><a href="#mail" data-transition="none">Emails</a></li>
            <li><a href="#file" class="ui-btn-active"  data-transition="none">Files</a></li>
            <li><a href="#people"  data-transition="none">People</a></li>
        </ul>
    </div><!-- /navbar -->
</div>

</div>