<div data-role="page" id="mail" class="page">
  <div data-role="header">
    <h1>Emails</h1>
  </div>

  <div data-role="content">

    <ul data-role="listview" data-theme="d" data-divider-theme="d">
      <li data-role="list-divider">Friday, May 18, 2012 <span class="ui-li-count">2</span></li>
      <li><a href="#mailitem" data-transition="slide">
            <h3>Andrew Newdigate</h3>
            <p><strong>My thoughts on the thingy whatsit</strong></p>
            <p>I've been thinking about the thingy whatsit over the last few days, and I think it should...</p>
            <p class="ui-li-aside"><strong>6:24</strong>PM</p>
      </a></li>
      <li><a href="#mailitem" data-transition="slide">
        <h3>jQuery Team</h3>
        <p><strong>Boston Conference Planning</strong></p>
        <p>In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.</p>
        <p class="ui-li-aside"><strong>9:18</strong>AM</p>
      </a></li>
    </ul>


  </div><!-- /content -->


<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="#chat" data-transition="none">Chat</a></li>
            <li><a href="#mail" class="ui-btn-active" data-transition="none">Emails</a></li>
            <li><a href="#file" data-transition="none">Files</a></li>
            <li><a href="#people" data-transition="none">People</a></li>
        </ul>
    </div><!-- /navbar -->
</div>

</div>