<div data-role="page" id="mail" class="page">
  <div data-role="header">
    <h1>Emails</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-theme="d" data-divider-theme="d" id="maillist">

    </ul>
  </div>


<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="#chat" data-transition="none">Chat</a></li>
            <li><a href="#mail" class="ui-btn-active" data-transition="none">Emails</a></li>
            <li><a href="#file" data-transition="none">Files</a></li>
            <li><a href="#people" data-transition="none">People</a></li>
        </ul>
    </div><!-- /navbar -->
</div>

</div>