<!DOCTYPE html> 
<html> 

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <title>Troupe</title>
  <link rel="stylesheet" href="/js/libs/jquery.mobile-1.1.0/jquery.mobile-1.1.0.css" />
  <script>
    curl = {
      apiName: 'require'
    };
  </script>
  <!--TEMPTEMPTEMP-->
  <style type="text/css">
  div.page { display: none;}
  </style>
  <script data-main="js/m/mobile-app.js" src="/js/libs/require/require.js"></script>

</head>
<body>
  {{> m/mchat}}
  {{> m/mfile}}
  {{> m/mmail}}
  {{> m/mmailitem}}
</body>
</html>
