

<div class="trpModalTitle">Request access to join</div>
<div class="trpModalSubtext">You need to request access to this Troupe to join.</div>
<div class="trpModalRequestForm">
 <!-- don't show the input fields if the user is already signed in, but do show the submit button -->
  <form id="requestAccess" class="marginless" method="post" action="/requestAccess">
    <input type="hidden" name="troupeUri" value="{{troupeUri}}">
    {{^authenticated}}
        <input type="text" size="5" name="name" placeholder="Name" class="trpInput f-name">&nbsp;
        <input type="text" name="email" placeholder="Email address" class="trpInput f-email">
    {{/authenticated}}
    <div class="trpRequestSubmit">
     <button type="submit" class="trpModalButton trpButtonBig trpBtnGreen signin">Request Access</button>
    </div>
  </form>
</div>

{{^authenticated}}
   <!-- don't show this div if the user is already signed in -->
  <div class="trpModalExistingUsers" id="existing-user">
  Existing user? Click here to login.
  </div>
{{/authenticated}}
