<div class="trpModalTitle">Sign in to Troupe</div>
   <form id="loginForm" class="marginless" method="post" action="/login">
      <div class="alert alert-error incorrect-password" style="display: none">
      Login failed. <a href="/forgottenpassword">Click here to request a new password.</a>
      </div>

      <input name="email" id="email" type="text" class="trpInput" placeholder="Email address">

      <input name="password" id="password" type="password" class="trpInput" placeholder="Password">

      <label class="checkbox">
          <input type="checkbox" name="rememberMe" value="1">
          <span class="trpModalSubtext">Remember me on this computer</span>
      </label>
      <div class="trpLoginSubmit">
       <button type="submit" class="trpModalButton trpButtonBig trpBtnGreen signin">Sign in</button>
      </div>
    </form>