
<div class="trpModalTitle">Request has been sent</div>
<div class="trpModalSubtext">The members of the Troupe have been notified about your request. Once you've been accepted, you'll receive an email to let you know.</div>
<div class="trpModalFooter"> </div> 

