
<div class="trpModalTitle">Sign in to Troupe</div>
   <form id="loginForm" class="marginless" method="post" action="/login">
      <input type="hidden" name="troupeUri" value="{{troupeUri}}">
      <input name="email" id="email" type="text" class="trpInput" placeholder="Email address" {{autofocusEmail}} value="{{email}}">

      <input name="password" id="password" type="password" class="trpInput" {{autofocusPassword}}  placeholder="Password">

      <label class="checkbox">
          <input type="checkbox" name="rememberMe" value="1" checked>
          <span class="trpModalSubtext">Remember me on this computer</span>
      </label>
      <div class="trpLoginSubmit">
       <button type="submit" class="trpModalButton trpButtonBig trpBtnGreen signin" id="signin-button">Sign in</button>
      </div>
    </form>
    <div class="trpModalFailure login-failure" style="display:none">
  <span class="trpModalTitle"><span class="trpWhite">Login failed.</span></span><br> <a href="/forgottenpassword" class="trpModalFailureText">Click here to request a new password.</a>
</div>