<div class="login-content">
  <div class="trpModalTitle">Sign in to Troupe</div>
     <form id="loginForm" class="marginless" method="post" action="/login">
        <input type="hidden" name="troupeUri" value="{{troupeUri}}">
        <input name="email" id="email" type="text" class="trpInput" placeholder="Email address" {{autofocusEmail}} value="{{email}}">

        <input name="password" id="password" type="password" class="trpInput" {{autofocusPassword}}  placeholder="Password">

        <label class="checkbox">
            <input type="checkbox" name="rememberMe" value="1" checked>
            <span class="trpModalSubtext">Remember me on this computer</span>
        </label>
        <div class="trpLoginSubmit">
         <button type="submit" class="trpModalButton trpButtonBig trpBtnGreen signin" id="signin-button">Sign in</button>
        </div>
      </form>
      <div class="trpModalFailure login-failure" style="display:none">
    <span class="trpModalTitle"><span class="trpWhite">Login failed.</span></span><br> <a href="#" class="trpModalFailureText">Click here to request a new password.</a>
  </div>
</div>
<div class="resetpwd-content" style="display:none">
  <div class="trpModalTitle">Reset Password</div>
  <div class="trpModalBody">To reset your password, we will send you an email to <span class="trpGreen" id="resetEmailAddress">. </span></div>
  <button type="button" class="trpModalButton trpButtonBig trpBtnGreen" id="send-reset">Send reset Email</button>
  <button type="button" class="trpModalButton trpButtonBig trpBtnGrey" id="go-back">Back</button><br><br>
</div>
<div class="resetpwd-confirm" style="display:none">
  <div class="trpModalTitle">On it's way!</div>
  <div class="trpModalBody">We just sent you an email to <span class="trpGreen" id="resetEmail"></span>. This will contain a link that you can click on to reset your password.</div>
  <button type="button" class="trpModalButton trpButtonBig trpBtnGreen" id="button-close">Close</button><br><Br>
</div>

