
<div class="trpModalTitle">Sign in to Troupe</div>
   <form id="loginForm" class="marginless" method="post" action="/login">
      <input name="email" id="email" type="text" class="trpInput" placeholder="Email address" autofocus>

      <input name="password" id="password" type="password" class="trpInput" placeholder="Password">

      <label class="checkbox">
          <input type="checkbox" name="rememberMe" value="1" checked>
          <span class="trpModalSubtext">Remember me on this computer</span>
      </label>
      <div class="trpLoginSubmit">
       <button type="submit" class="trpModalButton trpButtonBig trpBtnGreen signin">Sign in</button>
      </div>
    </form>
    <div class="trpModalFailure login-failure" style="display:none">
  <span class="trpModalTitle trpDarkGrey">Login failed.</span><br> <a href="/forgottenpassword" class="trpModalSubtext trpDarkGrey">Click here to request a new password.</a>
</div>