<div class="community-create-step-content-area">
  <h1 class="primary-community-heading h1">
    Make sure you reach<br />
    everyone you want to invite
  </h1>

  <section class="community-create-trouble-invite-section">
    <div class="community-create-trouble-invite-list-root"></div>
    {{!--
    <footer class="community-create-trouble-invite-section-footer">
      <label for="community-create-trouble-invite-section-allow-badger-option-input">
        Invite users via Tweet from the <a href="https://twitter.com/GitterBadger" class="community-create-general-link">badger</a>
      </label>
      <input
        type="checkbox"
        id="community-create-trouble-invite-section-allow-badger-option-input"
        class="community-create-trouble-invite-section-footer-allow-badger-option-input js-community-create-allow-tweet-badger-option-input"
        checked>
    </footer>
    --}}
  </section>



  <section class="community-create-progression-button-wrapper">
    <button class="community-create-back-button--constrained secondary-button-clouds js-community-create-step-back">
      Back
    </button>

    <button class="community-create-next-button--constrained button-caribbean js-community-create-step-next">
      Next
    </button>
  </section>

</div>
