<span class="frame-people"></span>

{{^compactView}}
{{#if isOneToOne}}
<a href="#|create" id="people-create-troupe-button">
  <div class="trpCircleButton" style='background-image: url("{{cdn "images/2/icon-circle-add.png"}}");'>
    <div class="trpCircleButtonText">Add</div>
  </div>
</a>
{{else}}
<a href="#|share" id="people-share-troupe-button">
  <div class="trpCircleButton" style='background-image: url("{{cdn "images/2/icon-circle-add.png"}}");'>
    <div class="trpCircleButtonText">Add</div>
  </div>
</a>
{{/if}}
{{/compactView}}