<span class="frame-people"></span>

{{#if isOneToOne}}
<a href="#|create">
  <div class="trpCircleButton" style='background-image: url("{{cdn "images/2/icon-circle-add.png"}}");'>
    <div class="trpCircleButtonText">Add</div>
  </div>
</a>
{{else}}
<a href="#|share">
  <div class="trpCircleButton" style='background-image: url("{{cdn "images/2/icon-circle-add.png"}}");'>
    <div class="trpCircleButtonText">Add</div>
  </div>
</a>
{{/if}}