<span class="frame-people"></span>

{{^compactView}}
{{#if hellFreezesOver}}
{{#if isOneToOne}}
<a href="#|upgradeOneToOne" id="people-create-troupe-button">
  <div class="trpCircleButton" style='background-image: url("{{cdn "images/2/icon-circle-add.png"}}");'>
  </div>
</a>
{{else}}
<a href="#|share" id="people-share-troupe-button">
  <div class="trpCircleButton" style='background-image: url("{{cdn "images/2/icon-circle-add.png"}}");'>
  </div>
</a>
{{/if}}
{{/if}}
{{/compactView}}