
 <div class="trpModalTitle">
    <div style="text-align: center">
      {{widget "avatar" user=this size='m'}}
    </div>
    <div style="text-align: center">
      {{this.displayName}}
    </div>
</div>

{{#unless troupe.oneToOne}}

{{^isSelf}}}
<div class="trpModalRequestForm" style="text-align: center;" >
  <a href="{{this.url}}" style="text-decoration:none">
    <div class="trpButtonGreen trpButtonBig">
        Chat Privately
    </div>
  </a>

  <a href="#!" id="person-remove-button" style="text-decoration:none">
    <div class="trpButtonGreen trpButtonBig">
      Remove from Troupe
    </div>
  </a>
</div>
<br><Br>




{{/isSelf}}

{{/unless}}
<br>
