<div id="remaining-view" class="remaining-view">

  {{#if showAddButton}}
  <a href="#add" class="remaining-view-button button-caribbean--xsmall">
    Add
  </a>
  {{/if}}

  {{#if showPeopleButton}}
  {{#if hasHiddenMembers}}
  <a href="#people" class="remaining-view-button secondary-button-caribbean--xsmall">
    See All
  </a>
  <small>({{userCount}} members)</small>
  {{else}}
  <a href="#people" class="remaining-view-button secondary-button-caribbean--xsmall">
    Details
  </a>
  {{/if}}
  {{/if}}

</div>
