{{#if mentionable}}
  <button class="trpBtnLightGrey trpButtonSmall" id="button-mention">
    Mention
  </button>
  <a href="{{html_url}}" target="github" class="trpBtnLightGrey trpButtonSmall show-in-github">Show in GitHub</a>
{{/if}}
{{#if chatPrivately}}
  <button class="trpBtnGreen trpButtonSmall" id="button-onetoone">
    Chat Privately
  </button>
{{/if}}

