<span class="search-message-empty-decal">:(</span>
<h2 class="search-message-empty-heading">
  Nope, nothing.
  <br /> Why not <a class="search-message-empty-link" href="/explore">explore Gitter?</a>
</h2>
