<div class="search-message-empty-container">
  <span class="search-message-empty-decal"><span class="search-message-empty-decal-eyes">:</span><span>(</span></span>
  <h2 class="search-message-empty-message">
    Nope, nothing.
  </h2>
</div>
