<header>
  <h2 class="secondary-collection__title {{#if isSearch}}search{{/if}}">
    {{ secondaryCollectionHeader }}
  </h2>
</header>

<div id="secondary-collection-list" class="secondary-collection-list"></div>
