<!-- Start of first page: one -->
  <div data-role="content" >
    <div class="ui-body ui-body-b">
       <input type="text" name="name" id="name-b" value="say something..."  />
    </div>

  </div><!-- /content -->

<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="#/chat" class="ui-btn-active">Chat</a></li>
            <li><a href="#/mails" data-transition="slideup">Emails</a></li>
            <li><a href="#/files" data-transition="slideup">Files</a></li>
            <li><a href="#" data-transition="slideup">People</a></li>
        </ul>
    </div><!-- /navbar -->
</div>
