

  <div data-role="content">
  
    <ul data-role="listview" data-split-icon="gear">
          <li><a href="index.html">
            <img src="img/superfly.jpeg" />
            <h3>Nike Superfly Advert spot</h3>
            <p>Movie</p>
          </a><a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup">Purchase album
      </a></li></li>
          <li><a href="index.html">
            <img src="img/script.jpg" />
            <h3>Script</h3>
            <p>PDF Document</p>
          </a><a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup">Purchase album
      </a></li></li>
          <li><a href="index.html">
            <img src="img/newshoe.jpg" />
            <h3>Pictures of shoes</h3>
            <p>Image</p>
          </a><a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup">Purchase album
      </a></li></li>
    </ul>


  </div><!-- /content -->


<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="#/chat" data-transition="slideup">Chat</a></li>
            <li><a href="#/mails" data-transition="slideup">Emails</a></li>
            <li><a href="#/files"  class="ui-btn-active">Files</a></li>
            <li><a href="#"  data-transition="slideup">People</a></li>
        </ul>
    </div><!-- /navbar -->
</div>
