<!-- Start of second page: two -->

  <div data-role="content">
  
    <ul data-role="listview" data-theme="d" data-divider-theme="d">
      <li data-role="list-divider">Friday, May 18, 2012 <span class="ui-li-count">2</span></li>
      <li><a href="index.html">
        
            <h3>Andrew Newdigate</h3>
            <p><strong>My thoughts on the thingy whatsit</strong></p>
            <p>I've been thinking about the thingy whatsit over the last few days, and I think it should...</p>
            <p class="ui-li-aside"><strong>6:24</strong>PM</p>
        
      </a></li>
      <li><a href="index.html">
        
        <h3>jQuery Team</h3>
        <p><strong>Boston Conference Planning</strong></p>
        <p>In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.</p>
        <p class="ui-li-aside"><strong>9:18</strong>AM</p>
        
      </a></li>
    </ul>


  </div><!-- /content -->


<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="#/chat" data-transition="slideup">Chat</a></li>
            <li><a href="#/mails" class="ui-btn-active">Emails</a></li>
            <li><a href="#/files" data-transition="slideup">Files</a></li>
            <li><a href="#" data-transition="slideup">People</a></li>
        </ul>
    </div><!-- /navbar -->
</div>
