.group-back-button__button {
  outline: none;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  margin-top: .9rem;
}

.group-back-button__decal {
  font-size: .8rem;
  margin-right: .5rem;

  img {
    width: 5px;
    height: auto;
    margin-top: 17px;
  }
}
