
.icon-doc-text:before { content: '\e8a5'; } /* '' */
.icon-cancel-circle:before { content: '\e8b1'; } /* '' */
.icon-logout:before { content: '\e8b2'; } /* '' */
.icon-star-1:before { content: '\e8b3'; } /* '' */
.icon-spin2:before { content: '\e8b4'; } /* '' */
.icon-spin5:before { content: '\e8b5'; } /* '' */
.icon-at:before { content: '\e8b6'; } /* '' */
.icon-hash:before { content: '\e8b7'; } /* '' */
.icon-download:before { content: '\e8b8'; } /* '' */
.icon-chat-alt:before { content: '\e8b9'; } /* '' */
.icon-keyboard-1:before { content: '\e8ba'; } /* '' */
.icon-ellipsis:before { content: '\e8bb'; } /* '' */
.icon-check:before { content: '\e8bc'; } /* '' */