<div class="trpModalProfile">
    <div class="trpModalTitle">A few details and you're done</div>

    <div class="trpModalProfilePic"><img src="images/2/avatar-default-round.png"></div>
    <div class="trpProfileForm">
      <input type="text" id="displayName" class="trpInput" name="displayName" value="{{displayName}}" placeholder="Click here and type your name"><br>
      <input type="password" id="password" class="trpInput" name="password" value="{{password}}" placeholder="Then choose a password">
    </div>
    <div class="trpModalButton trpButtonBig trpBtnGreen sendInvites">Save</div>
 </div>