<div class="trpModalBody">
  <div id="permissions" class="gtrRoomPermissions">
    <div id="perm-select-inherited" class="permission-row">
      <label>
        <div><input name="permissions" type="radio" checked value="channel"></div>
        <span class="icon-channel">
          <span id="channel" class="permission-label">
            Channel
          </span>
        </span>
      </label>
      <span class="description">Create a custom room, you can define permissions and add people individually. </span>
    </div>
    <br>
    <div id="perm-select-public" class="permission-row">
      <label>
        <div><input name="permissions" type="radio" value="repo-room"></div>
        <span class="github-REPO">
          <span class="permission-label">
            Repository
          </span>
        </span>
      </label>
      <span class="description">Create a room from a GitHub repository.</span>
    </div>
  </div>
</div>
