<div class="trpModalBody">
  <div id="permissions" class="gtrRoomPermissions">
    <div id="perm-select-inherited" class="permission-row">
      <label>
        <div><input id="radio-custom" name="roomType" type="radio" checked value="channel"></div>
        <span class="icon-hash">
          <span id="channel" class="permission-label">
            Channel
          </span>
        </span>
       <span class="description">Create a custom room, you can define permissions and add people individually. </span>
      </label>
    </div>
    <br>
    <div id="perm-select-public" class="permission-row">
      <label>
        <div><input id="radio-repo" name="roomType" type="radio" value="repo-room"></div>
        <span class="icon-repo">
          <span class="permission-label">
            Repository
          </span>
        </span>
        <span class="description">Create a room from a GitHub repository.</span>
      </label>
    </div>
  </div>
  <br>
</div>
