<div class="trpModalBody">
  <p>The room <strong>{{ uri }}</strong> does not yet exist.</p>
  <p><strong>Do you want to create it?</strong></p>
  <br/>
  {{#unless isOrg}}
  <p><input class='js-add-badge' type='checkbox' checked="true" id='addBadge'/> <label for='addBadge'>Add badge to README on GitHub (via pull request)</label></p>
  {{/unless}}
</div>
<div class="trpModalFailure" id="modal-failure" style="display:none">{{ error }}</div>
