<div class="trpModalBody">
  <p>The room <strong>{{ uri }}</strong> does not yet exist.</p> 
  <p>Do you want to create it?</p> 
</div>
<div class="trpModalFailure" id="modal-failure" style="display:none">{{error}}</div>
