<div class="trpModalBody">
  <dl class="owner" style="float: left">
    <dt>
      <label for="owner">Owner</label>
    </dt>
    <dd>
      <div class="gtrInput gtrOwnerDD">
        <span class="gtrDDButton">
          <img src="https://avatars.githubusercontent.com/u/4264183" class="avatar-xs">
          <span class="gtrDDText">Troupe</span>
        </span>
      </div>
    </dd>
  </dl>
  <div class="gtrSlash">/</div>
   <dl class="owner" style="float: left">
    <dt>
      <label for="room">Room name</label>
    </dt>
    <dd>
      <input class="gtrInput room"/>
    </dd>
  </dl>
</div>
