<div class="trpModalBody">
  <div id="room-owner-and-name" class="gtrRoomName">
    <dl class="owner" style="float: left">
      <dt>
        <label for="owner"><strong>Owner</strong></label>
      </dt>
      <dd id="owner-region">
        <div class="gtrInput gtrOwnerDD">
        </div>
      </dd>
    </dl>
    <div class="gtrSlash">/</div>
     <dl class="owner" style="float: left">
      <dt>
        <label for="room"><strong>Room name</strong></label>
      </dt>
      <dd>
        <input class="gtrInput room" id="room-name" autofocus/>
        <div class="trpModalSubtext" style="margin-top: -8px; opacity: 0.5; margin-left: 1px; padding: 0">Letters and numbers. Can't contain spaces.</div>
      </dd>
    </dl>
  </div>
  <div id="permissions" class="gtrRoomPermissions">
    <label id="permissions-label"><strong>Permissions</strong></label>
    <div id="perm-select-public" class="permission-row">
      <label>
        <div><input name="permissions" type="radio" value="public"></div>
        <span>
          <i class="octicon octicon-globe"></i>
          <span class="permission-label">
            <strong>Public</strong>
          </span>
        </span>
        <span class="description">Anyone in the world can join.</span>
      </label>
    </div>

    <div id="perm-select-inherited-org" class="permission-row">
      <label>
        <div><input name="permissions" type="radio" value="inherited"></div>
        <span>
          <i class="octicon octicon-organization"></i>
          <span id="perm-inherited-label" class="permission-label">
           <strong>Organisation</strong>
          </span>
        </span>
        <span class="description">Anyone in <strong id="parent-name">orgName</strong> can join. </span>
      </label>
    </div>

    <div id="perm-select-inherited-repo" class="permission-row">
      <label>
        <div><input name="permissions" type="radio" value="inherited"></div>
        <span>
          <i class="octicon octicon-repo"></i>
          <span id="perm-inherited-label" class="permission-label">
            <strong>Repository</strong>
          </span>
        </span>
        <span class="description">Anyone in <strong id="parent-name">repoName</strong> can join. </span>
      </label>
    </div>
    <div id="perm-select-private" class="permission-row">
      <label>
        <div><input name="permissions" type="radio"  value="private"></div>
        <span>
          <i class="octicon octicon-lock"></i>
          <span class="permission-label">
            <strong>Private</strong>
          </span>
        </span>
        <span class="description">Only people added to the room can join.</span>
      </label>
    </div>

    <div id="perm-select-required" class="permission-row">
      <span class="description">Select a parent room to continue</span>
    </div>

    <div id="auto-join" class="gtrAutoJoin">
      <input type="checkbox"/>
      <div class="permission-label">Automatically add people in <strong id="parent-name">orgName</strong> to this room.</div>
    </div>

    <div id="existing">
      <div class="permission-label">That room already exists.</div>
    </div>

  </div>
</div>
<div class="trpModalFailure" id="modal-failure" style="display:none">
</div>
<div class="trpModalMessage" id="premium-required" style="display:none;">
  To create this type of room, you will need a premium account.
</div>
