<div class="trpModalBody">
  <div id="repo-select">
  </div>
</div>
{{^privateRepoScope}}<a id="upgrade-auth" style="text-decoration: none" href="/login/upgrade?scopes=repo" target="_blank"><div class="trpModalInfo">Showing public repositories. Click here to enable private repositories.</div></a>{{/privateRepoScope}}