<div class="trpModalBody">
  <div id="room-owner-and-name" class="gtrRoomName">
    <dl class="owner" style="float: left">
      <dt>
        <label for="owner"><strong>Owner</strong></label>
      </dt>
      <dd id="owner-region">
        <div class="gtrInput gtrOwnerDD">
        </div>
      </dd>
    </dl>
    <div class="gtrSlash">/</div>
     <dl class="owner" style="float: left">
      <dt>
        <label for="room"><strong>Room name</strong></label>
      </dt>
      <dd>
        <input class="gtrInput room" id="room-name" autofocus/>
        <div class="trpModalSubtext" style="margin-top: -8px; opacity: 0.5; margin-left: 1px; padding: 0">Letters and numbers. Can't contain spaces.</div>
      </dd>
    </dl>
  </div>
  <div id="permissions">
    <h4>Permissions</h4>
    <div id="perm-select-public" class="permission">
      <div id="perm-select-public-input" class='permission__input'>
        <input name="permissions" type="radio" value="public">
      </div>
      <label for='perm-select-public-input'>
        <div class='permission__icon'>
          <i class="octicon octicon-globe"></i>
        </div>
        <div>
          <span><strong>Public</strong> &mdash; Anyone in the world can join.</span>
        </div>
      </label>
    </div>

    <div id="perm-select-inherited-org" class="permission">
      <div id="perm-select-inherited-org-input" class='permission__input'>
        <input name="permissions" type="radio" value="inherited">
      </div>
      <label for='perm-select-inherited-org-input'>
        <div class='permission__icon'>
          <i class="octicon octicon-organization"></i>
        </div>
        <div>
          <span><strong>Organisation</strong> &mdash; Anyone in <strong id="parent-name">orgName</strong> can join. </span>
        </div>
      </label>
    </div>

    <div id="perm-selected-inherited-repo" class="permission">
      <div id="perm-selected-inherited-repo-input" class='permission__input'>
        <input name="permissions" type="radio" value="inherited">
      </div>
      <label for='perm-selected-inherited-repo-input'>
        <div class='permission__icon'>
          <i class="octicon octicon-repo"></i>
        </div>
        <div>
          <span><strong>Repository</strong> &mdash; Anyone in <strong id="parent-name">repoName</strong> can join. </span>
        </div>
      </label>
    </div>

    <div id="perm-select-private" class="permission">
      <div id="perm-select-private-input" class='permission__input'>
        <input name="permissions" type="radio" value="inherited">
      </div>
      <label for='perm-select-private-input'>
        <div class='permission__icon'>
          <i class="octicon octicon-lock"></i>
        </div>
        <div>
          <span><strong>Private</strong> &mdash; Only people added to the room can join. </span>
        </div>
      </label>
    </div>

    <div id="perm-select-required" class="permission-row">
      <span class="description">Select a parent room to continue</span>
    </div>

    <div id="auto-join" class="gtrAutoJoin">
      <input type="checkbox"/>
      <div class="permission-label">Automatically add people in <strong id="parent-name">orgName</strong> to this room.</div>
    </div>

    <div id="existing">
      <div class="permission-label">That room already exists.</div>
    </div>

  </div>
</div>
<div class="trpModalFailure" id="modal-failure" style="display:none">
</div>
<div class="trpModalMessage" id="premium-required" style="display:none;">
  To create this type of room, you will need a premium account.
</div>
