<span class="gtrDDButton" id="dd-button">
  <i class="gtrDDAvatar avatar-xs" id="avatar"></i>
  <input type="text" class="gtrDDText gtrInput" value="" id="input-parent">
  <span id="dd-region"></span>
</span>
