<div class="modal-content">
 <div class="trpModalTitle trpIB">Are you sure?</div>
 <div class="trpModalBody">Are you sure you want to remove <span class="trpGreen">{{displayName}}</span> from this Troupe?</div>
 
 <button type="button" class="trpModalButton trpButtonBig trpBtnGreen" id="button-yes">Yes</button>
 <button type="button" class="trpModalButton trpButtonBig trpBtnGrey" id="button-no">No</button>
 <br><br>
</div>
