<div class="trpPeopleViewItem">
    <div class="trpPersonAvatar"><img src="{{personAvatarUrl}}" class="trpDisplayPicture"></div>
    <div class="trpPersonDetails">
        <div class="trpPersonName">{{personName}}</div>
        <div class="trpPersonRemove remove">Remove</div>
    </div>
</div>