<div class="frame-people"></div>
<div>
  <a href="#|share"><div class="trpCircleButton" style='background-image: url("{{cdn "images/2/icon-circle-add.png"}}");'><div class="trpCircleButtonText">Add</div></div></a>
</div>