.people-modal {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.people-modal__input {
  flex-shrink: 0;
  margin-bottom: 1em;
}

.people-modal__results {
  margin: 0;
  overflow: auto;
}

.people-modal-result {
  display: inline-block;
  list-style: none;
  margin-bottom: 1em;
  margin-right: 1em;
  min-height: 64px;
  width: 245px;
}

.people-modal-result__avatar {
  display: inline;
  float: left;
  margin-right: 0.5em;
}
