{{^compactView}}
<link rel="stylesheet" href="bootstrap/css/trpPeople.css">
<div class="trpSectionViewHeader">
  <div class="trpSectionTitle">Who's in the Troupe</div>
  <div class="trpPeopleTab">
    <ul class="nav nav-tabs">
      <li class="active trpTabItem"><a href="#users"data-toggle="tab" id="tab-people-users" class="trpTabItem" data-tab-id="users">Users</a></li>
      <li class="trpTabItem"><a href="#invites" data-toggle="tab" id="tab-people-invites" class="trpTabItem" data-tab-id="invites">Invites</a></li>
      <li class="trpTabItem"><a href="#requests" data-toggle="tab"id="tab-people-requests" class="trpTabItem" data-tab-id="requests">Requests</a></li>
    </ul>
  </div>
  <div class="trpPeopleAddButton right"><div class="trpButton" id="share-button">Invite People</div></div>
</div>
<br>
<div class="tab-content">
  <div class="tab-pane active" id="users">
  </div>
  <div class="tab-pane" id="invites">
  </div>
  <div class="tab-pane" id="requests">
  </div>
</div>
{{/compactView}}

{{#compactView}}

<div id="requests"></div>
<div id="users"></div>
<div id="invites"></div>

 {{/compactView}}