<div class="trpFileDetailClose"><a href="#">x</a></div>

<div class="trpFileVersionThumbnail"><a href="#|{{previewUrl}}" class="link-preview">{{ widget "avatar" user=this showStatus=true }}</div>

<div class="trpFileDetails">
  <div class="trpFilename" title="{{fileName}}">{{this.displayName}}</div>
</div>

<div class="trpButtonGreen trpFileButton trpButtonDropdown">
  <div class="trpMainButton">
    <div id="person-remove-button">Remove from Troupe</a></div>
</div>

