<div class="trpPeopleViewItem">
    <div class="trpPersonAvatar">{{widget "avatar" user=user showBadge=true}}</div>
    <div class="trpPersonDetails">
        <div class="trpPersonName">{{user.displayName}}<br><span class="trpPersonEmail">{{#if displayEmail}}{{user.email}}{{/if}}</span></div>
        {{#if displayModeRequest}}
            <a class="trpPersonAction accept" href="#">Accept</a>
            <a class="trpPersonAction reject" href="#">Reject</a>
        {{/if}}
        {{#if displayModeUser}}
            <a class="trpPersonAction remove" href="#">Remove</a>
        {{/if}}
    </div>
</div>