<div>
  <div class="trpModalTitle  label-signupsuccess">
  	Almost done!<br><br>We've sent an email to <span class="trpGreen">{{email}}</span><br>Click the link and you'll be up and running.
  </div>
  <div style="display: none" class="trpModalTitle label-resendsuccess">
    Sent it again.
  </div>
</div>
<div class="trpModalSubtext">Make sure to check your spam folder just in case<br><br></div>
<a href="#" class="trpModalButton trpButtonBig trpBtnGreen button-resend">Resend link</a>
<div class="trpModalFooter"> </div>