<div class="trpModalTitle">Create a Troupe</div>
   <div class="trpCreateForm">
   		<form>
   		<input placeholder="Choose a name" class="trpInput"><br>
   		<input placeholder="Enter your email address" class="trpInput">
   		<div class="trpModalSubtext">We will send you a confirmation email</div>
   		<div class="trpModalButton trpButtonBig trpBtnGreen">Create</div>
 			</form>
   	</div>