<div class="trpMailItem">
  <div class="trpMailItemPicture" style="background-image: url('/images/2/icon-new-mail-black.png')"></div>
  <div class="trpMailItemSubject"><a href="mailto:{{emailAddress}}">New Mail</a></div>
</div>
<div class="frame-conversations">

</div>
