{{^compactView}}
<span class="trpBodyMedium"><br>
  <span class="trpLink">
    <a href="mailto:{{emailAddress}}" class="trpGreen">{{emailAddress}}</a>
  </span><br>
  <span class="trpBodySmall">There are no emails yet.<br>
  Emails sent to the above address will be distributed to everyone.
</span>
{{/compactView}}