
<div class="trpMailRow">
  {{#compactView}}<div class="trpMobileMailContainer">{{/compactView}}
  <div class="trpMailHeader clickPoint-showEmail frame-header">
    <div class="trpMailDisplayPicture">{{widget "avatar" user=from}}</div>
    <div class="trpMailDetails">   
      <div class="trpMailFrom">{{personName}}</div>
      <div class="trpMailDate">{{date}}</div>
    </div>
  </div>
  <div class="trpMailPreview">{{preview}}</div>

  {{#unless initialIndex}}
  <div id="initialBody">
  {{/unless}}
  {{#compactView}}</div>{{/compactView}}
</div>
