      <div class="trpDisplayPicture avatar-{{id}} {{#offline}}offline{{/offline}} online" style="background-image: url('{{userAvatarUrl}}');" title="<b>{{userDisplayName}}</b><br>{{userLocation}}">
        <div class="trpStatus" id="status"> </div>
        {{#showBadge}}<div class="trpDPUnreadCount">12</div>{{/showBadge}}
      </div>
