<div class="community-create-wrapper">
  <div class="community-create-step-root community-create-main-step-root"></div>
  <div class="community-create-step-root community-create-invite-people-step-root"></div>
  <div class="community-create-step-root community-create-github-projects-step-root"></div>

  <button class="community-create-close-button js-community-create-close">
    <i class="icon-cancel"></i>
  </button>
</div>
