<div class="control-group">
	<div class="trpAddInviteRow">
	    <input type="text" size="5" name="displayName" id="displayName" placeholder="Name" class="trpInput f-name">&nbsp;<input type="text" name="inviteEmail" placeholder="Email address" id="inviteEmail" class="trpInput f-email">&nbsp;
	    <a class="addrow"><img src="/images/2/icon-small-add.png"></a> <br>
	</div>
</div>
