<a href="/{{name}}" style="width: 100%">
  <span class="github-ORG">{{name}}</span>
  {{#if unreadItems}}
  <span style="float: right; padding-right: 7px;">
    <span class="trpTroupeUnreadCounter">{{unreadItems}}</span>
  </span>
  {{/if}}
</a>
