<div class="menu-header__profile">
  {{ widget "avatar" model=user size='s' }}
  <div class="menu-header__name">{{displayName}}</div>
</div>
<div class="menu-header__options" id="profile-menu">
  <a id="link-home" href="/{{username}}">
    <li class="item">
      <span class="icon-home">Home</span>
    </li>
  </a>
  <a href="/apps" id="profile-menu-gitter-apps">
    <li class="item">
      <span class="icon-apps">Get Gitter Apps</span>
    </li>
  </a>
  <a href="/signout">
    <li class="item">
      <span class="icon-signout">Signout</span>
    </li>
  </a>
</div>
