<div class="trpLeftMenuProfileHeader">
  {{ widget "avatar" model=user size='s' }}
  <div class="trpLeftMenuProfileName">{{displayName}}</div>
</div>
<div class="trpLeftMenuProfileMenu" id="profile-menu">
  <a href="/{{username}}"><div class="item">
    Home
  </div></a>
  <a href="/apps"><div class="item">
    Get Gitter Apps
  </div></a>
  <a href="/signout"><div class="item">
    Signout
  </div></a>
</div>
