<a href="{{url}}" style="width: 100%">
  <span>{{name}}</span>
  {{#if unreadItems}}
  <span style="float: right; padding-right: 7px;">
    <span class="trpTroupeUnreadCounter">{{unreadItems}}</span>
  </span>
  {{/if}}
</a>
