<div class="trpLeftMenuContainer">
  <div id="left-menu-profile" class="trpLeftMenuProfile"></div>
  <input class="trpLeftMenuSearch" id="list-search-input" placeholder="search"/><span class="trpSearchClear" id="search-clear-icon"></span>
  <div class="nano" id="left-menu-scroll">
    <div class="content trpLeftMenuWrapper">
      <div class="trpToolbarList" id="list-mega">
        <div id="recentTroupesList" class="trpLeftMenuList">
          <div class="trpToolbarHeader">All conversations</div>
          <div class="list-favourites" id="list-favs"><!-- put filtered favourites in here--></div>
          <div class="list-recents" id="list-recents"><!-- put filtered recents in here. remember also that notifications will appear in here if they aren't in favourites--></div>
        </div>
        <div id="OrgsList" class="trpLeftMenuList">
          <div class="trpToolbarHeader">Your Organizations</div>
          <div id="left-menu-list-orgs"></div>
        </div>
      </div>
      <div class="trpToolbarList" style="display:none" id="list-search">
        <div class="trpToolbarHeader">Search Results</div>
        <div id="left-menu-list-search"></div>
      </div>
    </div>
  </div>
  <div class="trpLeftMenuActions">
    <a class="trpButtonMedium trpBtnWhite gtrCreateRoomButton" href="#chooseroom">Create a room</a>
  </div>
</div>
