<a href="{{url}}" style="width: 100%">
  <span>{{name}}</span>
  {{#if unreadItems}}
  <div class="unread" style="  float: right;
  background-color: #1dce73;
  border-radius: 4px;
  width: 18px;
  height: 16px;
  font-size: 10px;
  margin-right: 10px;
  padding-bottom: 2px;
  text-align: center;
  margin-top: 2px;
  font-weight: 400;
  color: white;">{{unreadItems}}</div>
  {{/if}}
</a>
