<!-- REMOVE COMMENT WHEN DONE. -->
<!-- Add class trpTroupeBadge to the below div if there are unread items in the Troupe -->
<div class="trpTroupeName"><a href="/{{uri}}">{{name}} {{unreadItems}}</a></div>
