 <div class="trpLeftMenuContainer">
  <div id="left-menu-profile" class="trpLeftMenuProfile"></div>
  <input class="trpLeftMenuSearch" placeholder="search"/>
  <div class="nano" id="left-menu-scroll">
    <div class="content trpLeftMenuWrapper">
      <div class="trpToolbarList" id="list-mega">
        <div id="favTroupesList">
          <div class="trpToolbarHeader">Favourites</div>
          <div id="left-menu-list-favourites" class="trpLeftMenuList"></div>
        </div>
        <div id="invitesList">
          <div class="trpToolbarHeader" id="invitesHeader">Invites</div>
          <div id="left-menu-list-invites" class="trpLeftMenuList"></div>
        </div>
        <div id="unreadTroupesList">
          <div class="trpToolbarHeader" id="unreadTroupesHeader">Unread Messages</div>
          <div id="left-menu-list-unread" class="trpLeftMenuList"></div>
        </div>
        <div id="recentTroupesList">
          <div class="trpToolbarHeader">Recents</div>
          <div id="left-menu-list-recent" class="trpLeftMenuList"></div>
        </div>
        <div id="TroupesList">
          <div class="trpToolbarHeader">All your Troupes</div>
          <div id="left-menu-list-troupes" class="trpLeftMenuList"></div>
        </div>
        <div id="UsersList">
          <div class="trpToolbarHeader">All your contacts</div>
          <div id="left-menu-list-users" class="trpLeftMenuList"></div>
        </div>
      </div>
      <div class="trpToolbarList" style="display:none" id="list-search">
        <div class="trpToolbarHeader">Search</div>
        <div class="trpTroupeListSearch"><input type="text" class="trpInputSmall" id="list-search-input"></div>
        <ul class="trpTroupeList" id="left-menu-list-search">
        </ul>
      </div>
    </div>
  </div>
  <div class="trpLeftMenuActions">
    <a href="#|connect" class="trpNewPersonButton" style="text-decoration: none">New Contact</a><a href="#|create" style="text-decoration: none" class="trpNewTroupeButton" id="left-menu-new-troupe-button">New Troupe</a>
  </div>
</div>
