
<div class="trpChatInput trpSectionViewHeader">
  <div class="trpChatIcon"><img src="/images/2/icon-chat.png" width="20" height="17"></div>
  <div><textarea class="trpChatBox" {{^compactView}}placeholder="Click here, type something to say and press Enter to send."{{/compactView}}{{#compactView}}placeholder="Touch here and type something"{{/compactView}}></textarea></div>
</div>

<!-- the chat content below is an ugly ugly hack, will sort it out. Fluid rows have their downside. -->
<div class="frame-chat">


</div>

<div id="loadmoreajaxloader" style="display:none">MOO</div>
</div> <!-- box -->
