.chat-search-input {
  
  .chat-search-input__buttons {
    
  }
  
  .chat-search-input__avatar {
    
  }
  
  .chat-search-input__box {
    
  }
  
  .chat-search-input__textarea {
    .trpBodyMedium;

    display: block;
    width: 100%;
    outline: none;

    padding: 0px;
    border: 0px;
    resize: none;
    margin: 0px;
    box-shadow: none;
    height: 44px;

    color: black;
    // padding: 5px;
    // margin: -5px 0 0 -5px;
    // margin-bottom: 12px;

    &:focus {
      outline: none;
    }

    @media @mobile {
      background-color: white;
      padding: 0;
      margin: 0;
    }
  }
}
