
<div class="trpChatInputArea">
	<div class="trpDisplayPicture" style="background-image: url('/avatar')"></div><div class="trpChatInputBox"><textarea class="trpChatInputBoxTextArea" id="chat-input" placeholder="Click here to say something."></textarea></div>
</div>

<div class="frame-chat">


</div>

<div id="loadmoreajaxloader" style="display:none">Loading</div>
</div> 