<div class="trpChatInput">
  <div class="trpChatIcon"><img src="/images/2/icon-chat.png"></div>
  <div><textarea class="trpChatBox" placeholder="Say something. Press Enter to send."></textarea></div>
</div>

<!-- the chat content below is an ugly ugly hack, will sort it out. Fluid rows have their downside. -->
<div class="frame-chat">


</div>

<div id="loadmoreajaxloader" style="display:none">MOO</div>
</div> <!-- box -->
