@import "../widgets/avatar";
@import "../popover";
@import "chatInputView";

// Other items required by this library
@import "highlight.less";

/* KaTeX for LaTeX */
@import "../repo/katex/katex";
@import "../repo/katex/fonts";

@chat-spacing: 0.222em;

.trpChatContainer .isViewers:last-child .chat-item__details .chat-item__icon--read {
  visibility: visible;
}

.chat-container .chat-item:last-child {
  padding-bottom: @chat-spacing*2;
}

.chat-item {
  transition: background-color 0.5s linear;
  // border-top: 1px solid transparent;

  &.chat-item__highlighted {
    background-color: @permalink-highlight-bg;
  }

  &.synced {
    opacity: 1.0;
    transform: translate3d(0,0,0);
    transition: opacity 0.2s ease-in-out;
  }

  &.syncing {
    opacity: 0.4;
    transform: translate3d(0,0,0);
    transition: opacity .25s ease-in-out;
  }

  &.syncerror {
    background-color: #edb2bd;
  }

  &.syncerror .chat-item__from {
    color: #888;
  }

  &.syncerror .chat-item__time {
    color: #888;
  }

  &.burstStart {
    padding-bottom: @chat-spacing;
  }

  &.burstContinued {
/*    margin-top: @chat-spacing;
    margin-bottom: @chat-spacing;*/

    .chat-item__container {
      margin-top: 0px;
      margin-bottom: 0px;
    }


    .chat-item__content {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    .chat-item__time {
      display: none;
      &:before {
        content: none;
      }
    }

    .chat-item__icon--read {
      opacity: 0;
    }

    &:hover .chat-item__icon--read {
      opacity: 1;
      transition: 0.2s opacity linear;
    }

    .chat-item__details,
    .chat-item__avatar {
      display: none;
    }

    @media @mobile {
      .chat-item__details { display: none; }
      .chat-item__text {
        margin: 0;
      }
    }
  }

  &.deleted {
    opacity: 0.5;
    .chat-item__text {
      opacity: 0.6;
    }
  }

  &.unread .chat-item__container {
    border-right: 2px solid @green;
    transition: 1s border linear;
  }

  &.unread.mention .chat-item__container {
    border-right: 2px solid @orange;
    transition: 2s border linear;
  }

  &.mention .chat-item__text .mention {
    border: 1px solid fade(@orange,40%);
    background-color: fade(@orange,10%);
    color: @orange;
  }

  &:last-child {
    &.burstStart { padding-bottom: @chat-spacing*2; }
  }

  @media @mid {
    .avatar-s {
      width: 24px;
      height: 24px;
    }
  }
}

.chat-item__aside {
  float: left;
}

.chat-item__avatar {
  margin-left: 2em;

  @media @mobile {
    margin-left: 0;
    margin-top: 5px;
  }

}

.chat-item__actions {
  float: right;
  opacity: 0;
  color: #ddd;
  transition: 0.2s opacity linear;
  cursor: pointer;

  @media @mobile {
    display: none;
  }

}

.chat-item:hover .chat-item__actions {
  opacity: 1;
  transition: 0.2s opacity linear;
}

.chat-item__container {
  box-sizing: border-box;
  border-right: 2px solid transparent;
  margin: 0.888em 12px 0px;
  text-align: left;
  transition: 1s border linear;

  &.syncerror {
    background-color: #edb2bd;
  }
}

.chat-item__from {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
}

.chat-item__time {
  vertical-align: middle;
  display: inline-block;
  opacity: 0.8;
  color: #ddd;
  float: right;
}

.chat-item__time--permalinkable {
  cursor: pointer;
}

.chat-item__icon {
  cursor: pointer;
  vertical-align: middle;
  color: #ddd;
  transition: 0.2s opacity linear;
}

.chat-item__icon--read {
  .chat-item__icon;
  float: left;
  font-size: 0.8em;
  opacity: 0;

  .chat-item:hover & {
    opacity: 1;
  }

  .isViewers & {
    opacity: 1;
  }

  @media @mobile {
    display: none;
  }

}

.chat-item__icon--collapse {
  .chat-item__icon;
  height: auto;
  font-size: 14px;
  background-image: none;

  .chat-item:hover & {
    visibility: visible;
    opacity: 1;
  }
}

.chat-item__icon--expand {
  .chat-item__icon;
  width: auto;
  height: auto;
  font-size: 14px;
  background-image: none;

  .chat-item:hover & {
    visibility: visible;
    opacity: 1;
  }
}

.chat-item__text {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  user-select: text;
  line-height: 1.38em;
  a.link {
    color: @trpLightBlue;
  }

  .issue, .commit {
    padding-bottom: 2px;
  }

  p {
    padding: @chat-spacing 0;
    margin: 0;
  }

  p:first-child {
    padding-top: 0;
  }

  p:last-child {
    padding-bottom: 0;
  }

  h1 {
    margin: 0;
  }

/*  p:last-child {
    margin-bottom: 0;
  }*/

  .trpChatInput {
    display: block;
    width: 100%;
    outline: none;
    padding-left: 5px;
    border: 0px;
    resize: none;
    margin: 1px;
    box-shadow: none;
    height: 44px;
    outline: 1px solid @trpLightBlue;
    line-height: 1.5;
  }

  .mention {
    border: 1px solid fade(@trpGrey,40%);
    background-color: fade(@trpGrey,20%);
    border-radius: 2px;
    padding: 0 4px 2px;
    cursor: pointer;
  }

  .groupmention {
    border: 1px solid fade(@trpLightBlue,20%);
    background-color: fade(@trpLightBlue,10%);
    border-radius: 2px;
    padding: 0 4px;
    cursor: pointer;
  }

  .embed {
    position: relative;
    transition: max-height 500ms;
    overflow: hidden;

    // If you adjust this value (below), you'll also need
    // to adjust the MAX_HEIGHT value in chatItemView.js
    max-height: 640px; // <-- NB: read the comment ABOVE!!
    //max-width: 640px;

    &.animateOut {
      max-height: 0;
    }

  }
}

.chat-item__content {
  padding: 0 10px 0 20px;
  border-radius: 5px;
  margin-left: 64px;
  vertical-align: top;
  min-height: 1.5em;

  pre {
    margin: 4px 0 0 0;
  }

  @media @mobile {
    margin-left: 18px;
    padding: 0 10px 0 10px;
  }
}

.chat-item__status {
  .chat-item__from {
    color: #aaa;
  }

  .chat-item__time {
    @media @mobile {
      display: none;
    }
  }
}

.trpDisplayPicture--left {
  .trpDisplayPicture;
  float: left;
}

.search-container {
  .chat-item {
    cursor: hand
  }
}
