@import "../widgets/avatar";
@import "../popover";
@import "chatInputView";

// Other items required by this library
@import "../../../less/highlight.less";

/* KaTeX for LaTeX */
@import "../repo/katex/katex";
@import "../repo/katex/fonts";

@chat-spacing: 0.2em;

.trpChatContainer .isViewers:last-child .chat-item__details .chat-item__icon--read {
  visibility: visible;
}

.chat-container .chat-item:last-child {
  padding-bottom: @chat-spacing*2;
}

.chat-item {
  transition: background-color 0.5s linear;
  // border-top: 1px solid transparent;
  background-color: white;

  &.chat-item__highlighted {
    background-color: @permalink-highlight-bg;
  }

  &:hover {
    background-color: rgba(240,240,240,0.3);
  }

  &.synced {
    opacity: 1.0;
    transform: translate3d(0,0,0);
  }

  &.syncing {
    opacity: 0.4;
    transform: translate3d(0,0,0);
    transition: opacity .25s ease-in-out;
  }

  &.syncerror {
    background-color: #edb2bd;
  }

  &.syncerror .chat-item__from {
    color: #888;
  }

  &.syncerror .chat-item__time {
    color: #888;
  }

  &.burstStart {
    padding-bottom: @chat-spacing;

    .chat-item__aside {
      margin-top: 6px;
    }


    .chat-item__actions {
      margin-top: 2px;
    }

  }

  &.burstContinued {
    padding-top: @chat-spacing;
    padding-bottom: @chat-spacing;

    .chat-item__container {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .chat-item__time {
      display: none;
      &:before {
        content: none;
      }
    }

    .chat-item__icon--read {
      opacity: 0;
    }

    &:hover .chat-item__icon--read {
      opacity: 1;
    }

    .chat-item__details,
    .chat-item__avatar {
      display: none;
    }

    @media @mobile {
      .chat-item__details { display: none; }
      .chat-item__text {
        margin: 0;
      }
    }
  }

  &.deleted {
    opacity: 0.5;
    .chat-item__text {
      opacity: 0.6;
    }
  }

  &.unread .chat-item__container {
    border-right: 2px solid @green;
    background-color: rgba(46, 204, 113,0.08);
    transition: 1s border linear, 1s background-color linear;
  }

  &.unread.mentioned .chat-item__container {
    border-right: 2px solid @orange;
    background-color: rgba(230, 126, 34,0.08);
    transition: 2s border linear, 2s background-color linear;
  }

  &.mentioned .chat-item__text .mention {
    color: @orange;
    background-color: lighten(@orange, 40%);
    border-radius: 2px;
  }

  &:last-child {
    &.burstStart { padding-bottom: @chat-spacing*2; }
  }
}

.chat-item__aside {
  float: left;
  margin-left: 32px;
  margin-top: 2px;
}

.chat-item__actions {
  float: right;
  text-align: right;
  opacity: 0;
  width: 40px;

  @media @mobile {
    display: none;
  }

}

.chat-item:hover .chat-item__actions {
  opacity: 1;
  transition: 0.2s opacity linear;
}

.chat-item__action, .chat-item__action-disabled {
  border-radius: 4px;
  padding: 0px 5px;
}

.chat-item__action:hover {
  cursor: pointer;
  background: #08c;
  color: white;
}

.chat-item__action-disabled {
  color: #CCC;
}

.chat-item__action-disabled:hover {
  background: #08c;
  cursor: default;
}

.chat-item__container {
  box-sizing: border-box;
  border-right: 2px solid transparent;
  margin: 0.888em 12px 0px;
  text-align: left;
  transition: 1s border linear;

  &.syncerror {
    background-color: #edb2bd;
  }
}

.chat-item__from {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  margin-top: 2px;
  opacity: 0.5;
}

.chat-item__time {
  vertical-align: middle;
  display: inline-block;
  color: #ddd;
  float: right;
  margin-top: 2px;
}

.chat-item__time--permalinkable {
  cursor: pointer;
}

.chat-item__icon {
  cursor: pointer;
  color: #aaa;
  transition: opacity 0.3s linear, color 0.3s linear;
}

.chat-item__icon:hover {
  color: @blue;
}

.chat-item__icon--read {
  float: left;
  font-size: 0.7em;
  opacity: 0;
  margin-top: 3px;

  .chat-item:hover & {
    opacity: 1;
  }

  .isViewers & {
    opacity: 1;
  }

  @media @mobile {
    display: none;
  }

}

.chat-item__icon--collapse {
  .chat-item__icon;
  height: auto;
  font-size: 14px;
  background-image: none;

  .chat-item:hover & {
    visibility: visible;
    opacity: 1;
  }
}

.chat-item__icon--expand {
  .chat-item__icon;
  width: auto;
  height: auto;
  font-size: 14px;
  background-image: none;

  .chat-item:hover & {
    visibility: visible;
    opacity: 1;
  }
}

.chat-item__text {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  user-select: text;

  a {
    color: @blue;
  }

  p {
    padding: @chat-spacing 0;
    margin: 0;
  }

  p:first-child {
    padding-top: 0;
  }

  p:last-child {
    padding-bottom: 0;
  }

  h1 {
    margin: 0;
  }

/*  p:last-child {
    margin-bottom: 0;
  }*/

  .trpChatInput {
    display: block;
    width: 100%;
    outline: none;
    padding-left: 5px;
    border: 0px;
    resize: none;
    margin: 1px;
    box-shadow: none;
    height: 44px;
    outline: 1px solid @trpLightBlue;
    line-height: 1.5;
  }

  .mention,
  .groupmention {
    border-bottom: 1px dotted;
    cursor: pointer;
    padding: 0 2px;
  }

  .groupmention {
    color: @blue;
    background-color: lighten(@blue, 45%);
  }

  .embed {
    position: relative;
    transition: max-height 500ms;
    overflow: hidden;

    // If you adjust this value (below), you'll also need
    // to adjust the MAX_HEIGHT value in chatItemView.js
    max-height: 640px; // <-- NB: read the comment ABOVE!!
    //max-width: 640px;

    &.animateOut {
      max-height: 0;
    }

  }
}

.chat-item__content {
  margin-left: 84px;
  margin-right: 44px;
  vertical-align: top;
  min-height: 1.5em;

  pre {
    margin: 4px 0 0 0;
  }
}

.chat-item__status {
  .chat-item__text {
    color: #aaa;
  }
}

.trpDisplayPicture--left {
  .trpDisplayPicture;
  float: left;
}

.search-container {
  .chat-item {
    cursor: hand
  }
}
