
<div class="trpChatInputArea">
	{{ widget "avatar" user=this size='s'}}<div class="trpChatInputBox"><textarea class="trpChatInputBoxTextArea" id="chat-input" placeholder="Click here to say something."></textarea></div>
</div>

<div class="frame-chat">


</div>

<div id="loadmoreajaxloader" style="display:none">Loading</div>
</div> 