  <!doctype html>
  <html class="no-js" lang="en" {{#useAppCache}}manifest="/mobile.appcache"{{/useAppCache}}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="utf-8">

    <title>{{troupeName}}</title>

    <link rel="stylesheet" href='/bootstrap/css/trpMobileChat.css'>

    <script type="text/javascript">
    window.troupeContext = {{{troupeContext}}};
    {{#if data}}
    window.troupePreloads = {{{data}}};
    {{/if}}

    /*
    window.applicationCache.addEventListener('cached', function() {
      console.log('Received first time cache event, no need to fetch new embedded collection data.');
    }, false);

    window.applicationCache.addEventListener('updateready', function() {
      console.log('Received updateReady event, the files on the server are newer, reload page.');
      //window.location.reload();
    }, false);

    window.applicationCache.addEventListener('obsolete', function() {
      console.log('Received obsolete event');
      //window.location.reload();
    }, false);

    window.applicationCache.addEventListener('noupdate', function() {
      console.log('Received noupdate event, we should fetch new collection data');
    }, false);
    */
    </script>


    {{>require_wrapper}}

    {{{bootScript "router-mobile-chat" skipCdn=true }}}

    <link rel="shortcut icon" href="images/favicon.ico">

</head>
<body>
  <div class="contentBody" id="chat-wrapper">
    <div class="frame-chat">
     <div class="trpChatPanel" id="chat-frame">
        <div class="chatPanel" id="frame-chat">
        </div>
      </div>
    </div>
  </div>

  <div class="trpChatInputArea" id="chat-input">
  </div>

</body>
</html>
