<div class="community-create-repo-list-empty-note">
  <span class="community-create-repo-list-empty-note__text-empty">No repos available...</span>
  <span class="community-create-repo-list-empty-note__text-loading hidden">Loading...</span>
</div>
