<!doctype html>
<html>
<head>
	<title>In-Browser Tests</title>
  <link rel="stylesheet" href="/js/libs/mocha/1.8.2/mocha.css" />

  {{>require_wrapper}}

  {{{bootScript test skipCdn=true}}}

</head>
<body>
  <div id="mocha"></div>
</body>
</html>
