<!doctype html>
<html>
<head>
	<title>In-Browser Tests</title>
  <link rel="stylesheet" href="/repo/mocha/mocha.css" />
</head>
<body>
  <div id="mocha"></div>

  {{>require_wrapper}}

  {{{bootScript test skipCdn=true}}}
</body>
</html>
