<!doctype html>
<html>
  <head>
  	<title>In-Browser Tests</title>
    <link rel="stylesheet" href="/repo/mocha/mocha.css" />
  </head>
  <body>
    <div id="mocha"></div>

    {{>require_wrapper}}

    <script type='text/javascript'>window.require_config.baseUrl = '/js/';</script>
    <script defer='defer' async='true' data-main='in-browser/test-runner.js' src='/repo/requirejs/requirejs.js' type='text/javascript'></script>

  </body>
</html>
