@import "parentSelectView";

.permission {
  display: flex !important;
}

.permission__icon {
  text-align: center;
  flex-shrink: 0;
  padding: 0 5px;
}

.permission__icon i {
  width: 16px;
}

.permission__icon--large {
  width: 32px;
  padding: 5px 5px 0;
}

.permission__icon--large i {
  font-size: 25px;
}

.permission label {
  display: flex;
}

.permission__input {
  width: 16px;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.permission__input--offtop {
  margin-top: 5px;
}
