
<div class="community-create-step-primary-content-area">
  <h1 class="primary-community-heading h1">
    Invite some people to your brand new community
  </h1>

  <input
    class="primary-community-invite-people-name-input"
    placeholder="filter by name" />

</div>

<button class="secondary-button-caribbean">
  Next
</button>
