<div class="community-create-step-content-area">
  <h1 class="primary-community-heading h1">
    Think big,<br />
    start small, grow fast
  </h1>

  <input
    class="primary-community-name-input"
    placeholder="your community name" />

  <div class="community-creation-slug-input-wrapper">
    <i class="community-creation-slug-input-icon icon-link"></i>
    <span class="community-creation-slug-input-prefix">gitter.im/</span>
    <input
      class="community-creation-slug-input"
      placeholder="your-community-domain" />
  </div>

  {{#if hasGitHubProvider}}
    <section class="community-create-associated-project-section">
      <p class="community-create-associated-project-copy active js-community-create-add-associated-project-copy">
        do you want to start a community for one of your
        <a href="#0" class="community-create-general-link js-community-create-from-github-project-link">
          github projects?
        </a>
      </p>
      <p class="community-create-has-associated-project-copy js-community-create-has-associated-project-copy">
        <span>
          Associated with
          <a href="#0" class="community-create-general-link js-community-create-associated-project-link">
            <i class="icon-github-circled"></i>
            <span class="js-community-create-associated-project-name"></span>
          </a>
        </span>
        <a href="#0" class="community-create-general-link js-community-create-from-github-project-link">
          change
        </a>
      </p>
    </section>
  {{/if}}

  {{!--
  <section class="community-create-advanced-options-button-wrapper">
    <button class="community-create-advanced-options-button secondary-button-clouds js-community-create-advanced-options-toggle">
      Advanced options
    </button>
  </section>
  <section class="community-create-advanced-options-section">
    <h3>
      Add some rooms to your community
    </h3>

    <div class="community-creation-sub-room-input-wrapper">
      <span class="community-creation-sub-room-input-prefix"></span>
      <input
        class="community-creation-sub-room-input"
        placeholder="your room" />
      <button
        title="Add sub-room"
        class="community-creation-sub-room-submit-button">
        &rightarrow;
      </button>
    </div>

    <div class="community-create-sub-room-list-root"></div>
  </section>
  --}}

  <section class="community-create-progression-button-wrapper">
    <div></div>

    <button class="community-create-next-button button-caribbean js-community-create-step-next">
      Next
    </button>
  </section>

</div>
