<div class="community-create-step-content-area">
  <h1 class="primary-community-heading h1">
    Invite some people<br>
    to your brand new community
  </h1>

  <input
    class="community-invite-people-name-input"
    placeholder="filter by name" />

  <div class="community-create-invite-user-result-list-root"></div>

  <form class="community-invite-people-email-input-wrapper js-community-invite-people-email-form">
    <input
      type="email"
      class="community-invite-people-email-input"
      placeholder="enter email address" />
    <button type="submit" class="community-invite-people-email-submit-button secondary-button-caribbean">
      add
    </button>
  </form>

  <div class="community-create-invite-list-root"></div>


  <section class="community-create-progression-button-wrapper">
    <button class="community-create-back-button secondary-button-clouds js-community-create-step-back">
      Back
    </button>

    <button class="community-create-next-button button-caribbean js-community-create-step-next">
      Next
    </button>
  </section>
</div>
