<div class="community-create-step-content-area">
  <div class="community-create-step-main-body">
    <h1 class="primary-community-heading h1">
      Invite some people to your brand new community
    </h1>

    <input
      class="primary-community-invite-people-name-input"
      placeholder="filter by name" />

    <div class="community-create-invite-list-root"></div>


    <section>
      <button class="community-create-back-button secondary-community-create-button secondary-button-clouds js-community-create-step-back">
        Back
      </button>
    </section>
  </div>

  <button class="community-create-next-button secondary-button-caribbean js-community-create-step-next">
    Next
  </button>
</div>
