
<div class="community-create-step-primary-content-area">
  <h1 class="primary-community-heading h1">
    Think big,<br />
    start small, grow fast
  </h1>

  <input
    class="primary-community-name-input"
    placeholder="your community name" />

  <div class="community-creation-slug-input-wrapper">
    <i class="community-creation-slug-input-icon icon-link"></i>
    <span class="community-creation-slug-input-prefix">gitter.im/</span>
    <input
      class="community-creation-slug-input"
      placeholder="your-community-domain" />
  </div>

  <p>
    do you want to start a community for one of your <a href="#0">github projects?</a>
  </p>

  <section class="community-create-advanced-options-section">
    <button class="community-create-advanced-options-button secondary-button-clouds">
      Advanced options
    </button>
  </section>
</div>

<button class="secondary-button-caribbean js-community-create-step-next">
  Next
</button>
