<div class="community-create-step-content-area">
  <h1 class="primary-community-heading h1">
    Invite some people to your brand new community
  </h1>

  <input
    class="community-invite-people-name-input"
    placeholder="filter by name" />

  <div class="community-create-invite-user-result-list-root"></div>

  <section class="community-invite-people-email-section">
    <div class="community-invite-people-email-input-wrapper">
      <input
        class="community-invite-people-email-input"
        placeholder="enter email address" />
      <button class="community-invite-people-email-submit-button">
        add
      </button>
    </div>
  </section>

  <div class="community-create-invite-email-list-root"></div>
  <div class="community-create-invite-list-root"></div>


  <section class="community-create-progression-button-wrapper">
    <button class="community-create-back-button secondary-button-clouds js-community-create-step-back">
      Back
    </button>

    <button class="community-create-next-button button-caribbean js-community-create-step-next">
      Next
    </button>
  </section>
</div>
