<a href="{{ absoluteUri }}" class="community-create-email-list-item-link" target="_blank">
  {{ address }}
  {{#if canRemove}}
    <button class="community-create-email-list-item-remove-button">
      <i class="icon-g-cancel"></i>
    </button>
  {{/if}}
</a>
