<div class="community-create-step-content-area">
  <h1 class="primary-community-heading h1">
    Awesome!<br />
    here's an overview.
  </h1>

  <div class="community-create-overview-info-area">
    <h3 class="community-create-overview-community-name">{{ communityName }}</h3>
    <h4 class="community-create-overview-url-heading">
      <span class="community-create-overview-url-heading-prefix">gitter.im/</span><span class="community-create-overview-url-heading-slug"></span>
    </h4>

    <a href="{{ githubLink }}" target="_blank" class="community-create-overview-github-link {{when githubLink '' 'hidden'}}">
      <i class="icon-github-circled"></i>
      <span class="community-create-overview-github-name">{{ githubName }}</span>
    </a>
  </div>

  {{!--
  <div class="community-create-overview-sub-room-area">
    <h3 class="community-create-overview-sub-room-heading">
      Some sub-rooms in your community
      <span class="community-create-overview-sub-room-heading-note">
        (you can add more later)
      </span>
    </h3>

    <div class="community-create-sub-room-list-root"></div>
  </div>
  --}}


  <div class="community-create-overview-invite-area">
    <section class="community-create-overview-invite-list-section">
      <h2 class="community-create-overview-invite-list-heading h2">
        People
      </h2>

      <div class="community-create-overview-invite-email-area">
        <i class="icon-mail"></i>
        <div class="community-create-overview-invite-email-list-root"></div>
      </div>
      <div class="community-create-overview-invite-list-root"></div>
    </section>
  </div>



  <section class="community-create-progression-button-wrapper">
    <button class="community-create-back-button secondary-button-clouds js-community-create-step-back">
      Back
    </button>

    <button class="community-create-next-button button-caribbean js-community-create-step-next">
      Create and Finish
    </button>
  </section>

</div>
