@import "../../../../../less/components/menu/room/menu-text";

.search-result-header {
  display:       flex;
  align-items:   center;
  padding:       .1rem @desktop-menu-left-padding;
  margin-bottom: 2rem;
  border-bottom: 1px solid @jaffa;
  color:         rgba(220, 220, 220, 1);
}

.search-result-header__chevron {
  height:       5.5rem;
  margin-left:  auto;
  margin-right: @desktop-menu-left-padding;
  font-size:    3.5rem;
  color:        @jaffa;
}

.left-menu-search-results-empty {
  padding-left: @desktop-menu-left-padding;
}

.left-menu-search-results-empty__text {
  .room-menu-text();
}
