<a class="trpFilePreviewLeft link-prev"></a>
<div class="trpFilePreviewItemContainer frame-preview"></div>
<a class="trpFilePreviewRight link-next"></a>
<div class=""><a href="{{url}}" class="trpButtonGreen">Download</a></div>
