<div class="mobile-scroll with-back-button">
  {{#photo}}
  <img src="{{previewUrl}}" width="100%"/>
  {{/photo}}
  {{^photo}}
  <iframe src="{{previewUrl}}" class="trpMobileFilePreviewFrame"></iframe>
  {{/photo}}
</div>
<div class="trpMobileBack"><a href="#!" class="trpWhite">Back</a></div>