<div>
<iframe src="{{previewUrl}}" style="margin-bottom: 50px;"></iframe>
</div>
<div style="position: fixed; bottom: 0; background: white; width: 100%; text-align: center; padding: 3px 0 3px 0">
  <a href="#" class="trpButton trpBtnGreen">Back</a>
</div>