<div class="trpMobileFilePreview mobile-scroll">
  {{#photo}}
  <img src="{{previewUrl}}" width="100%"/>
  {{/photo}}
  {{^photo}}
  <iframe src="{{previewUrl}}" class="trpMobileFilePreviewFrame"></iframe>
  {{/photo}}
</div>
<div class="trpMobileFilesBack"><a href="#!" class="trpWhite">Back</a></div>