<div class="trpFileVersionItem">
  <div class="trpFileVersionNo">{{versionNumber}}</div>
  <div class="trpFileVersionPerson">{{creatorUser.displayName}}</div>
  <div class="trpFileVersionDate">{{createdDate}}</div>
  <div class="trpFileVersionDownload"><a href="{{url}}">Download</a></div>
</div>
