<div class="trpFileViewItem">
	<div><a href="#" class="link-preview"><img src="{{fileIcon}}" width="180" class="trpFileThumbnail"></a></div>
	<div class="trpFileDetails">
		<div class="trpFilename"> {{fileName}}</div>
		<div><img src="images/2/icon-file-action.png" class="trpFileActionMenuButton">
	</div>
	<div class="trpFileActionMenu">
		<div class="trpFileActionMenuTop"> </div>
		<div class="trpFileActionMenuBottom">
			<div class="trpFileActionMenuItem"><a href="{{url}}">Download</a></div>
			<div class="trpFileActionMenuItem"><a href="#" class="link-preview">Preview</a></div>
			<div class="trpFileActionMenuItem">Versions</div>
			<div class="trpFileActionMenuItem">Delete</div>
		</div>
	</div>
</div>

