
<!-- this is not being used right now -->

{{^compactView}}
<link rel="stylesheet" href="bootstrap/css/trpFiles.css">
<div class="fileuploader trpFileUploadContainer trpSectionViewHeader"></div>
<div class="trpFileToolbar">
  <div class="trpSorter file-sorter">Sort by<span class="trpSorterArrow"><img src="images/2/icon-small-dropdown-black.png"></span></div>
  <div class="trpSortMenu">
    <div class="trpSortMenuTop"> </div>
    <div class="trpSortMenuBottom">
      <div class="trpSortMenuItem link-sort-mtime"><a href="#">Date</a></div>
      <div class="trpSortMenuItem link-sort-filename"><a href="#" class="link-preview">Name</a></div>
      <div class="trpSortMenuItem link-sort-filetype"><a href="#" class="link-versions">Type</a></div>
    </div>
  </div>
  <div class="trpFileViewer right"><!-- <img src="images/2/icon-small-grid-selected.png" class="trpFileViewIcon" width="14" height="14"><img src="images/2/icon-small-list.png" class="trpFileViewIcon" width="14" height="14"> -->&nbsp;</div>
</div>{{/compactView}}
<div class="frame-files">

</div>

<div id="frame-help" class="trpSectionViewHelper" style="display: none">
		<span class="trpBodyMedium">There are no files yet.</span><br>
		<span class="trpBodyMedium">Drag and drop files and they will be stored and shared with everyone in your Troupe</span>
</div>

<div class="trpNewLine">
  <br><br><br><br>
</div>
