<div class="fileuploader trpFileUploadContainer"></div>

<div class="trpFileToolbar">
  <div class="trpSorter file-sorter">Sort by<span class="trpSorterArrow"><img src="images/2/icon-small-dropdown-black.png"></span></div>
  <div class="trpSortMenu">
    <div class="trpSortMenuTop"> </div>
    <div class="trpSortMenuBottom">
      <div class="trpSortMenuItem link-sort-mtime"><a href="#">Date</a></div>
      <div class="trpSortMenuItem link-sort-filename"><a href="#" class="link-preview">Name</a></div>
      <div class="trpSortMenuItem link-sort-filetype"><a href="#" class="link-versions">Type</a></div>
    </div>
  </div>
  <div class="trpFileViewer right"><!-- <img src="images/2/icon-small-grid-selected.png" class="trpFileViewIcon" width="14" height="14"><img src="images/2/icon-small-list.png" class="trpFileViewIcon" width="14" height="14"> -->&nbsp;</div>
</div>
<div class="frame-files">

</div>

<div id="frame-help" class="trpSectionViewHelper" style="display: none">
		<span class="trpH2">There are no files yet.</span><br>
		<span class="trpBodyText">You can add files in a number of ways: 
			<ul>
				<li>Drag and drop a file here</li>
				<li>Click on the "Upload a file" button</li>
				<li>When you send emails to your Troupe, attachments will also be stored here. Everything in one place.</li>
    </span>
</div>

<div class="trpNewLine">
  <br><br><br><br>
</div>
