{{#if prevLink}}
<a class="trpFilePreviewLeft" href="{{prevLink}}"></a>
{{/if}}

<div class="trpFilePreviewItemContainer frame-preview"></div>

{{#if nextLink}}
<a class="trpFilePreviewRight" href="{{nextLink}}"></a>
{{/if}}
