<div class="control-group">
    <input type="text" name="inviteName" placeholder="Name" class="f-name">&nbsp;<input type="text" name="inviteEmail" placeholder="Email address" class="f-email">&nbsp;
    <a href="#" class="btn btn-mini addrow">+</a> <br>
</div>
