<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Share with others</h3>
</div>
<div class="modal-body">
    <strong>Your Troupe address is: https://trou.pe/{{uri}}</strong><br> <em>Give this to others and they will easily be able to join.</em> <br>
    <br> <Strong>Invite others by email</Strong><br>
    <form class="form-inline">
    </form>
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-primary sendInvites">Send Invite</a> 
    <a href="#" class="btn closeButton">Close</a>
</div>
