<!DOCTYPE html>
<html class="no-js loading" lang="en">
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=IE10" />
    {{> fonts}}
    <link id="favicon" rel="shortcut icon" href='{{cdn "images/favicon-read.ico" }}'>
  </head>
  <body>
    {{{body}}}
    {{{ bootScript "early-bird" jsRoot=jsRoot }}}
  </body>
</html>
