<div class="right-toolbar-region" id="right-toolbar-layout">
  <div class="right-toolbar right-toolbar--collapsible">

    <div id="toolbar-top-content" class="right-toolbar__body">
      <div id="people-list">
        <div class="trpToolbarHeader" id="top-header">
          <h5 class="trpToolbarHeaderItem selected" id="people-header">
            People
          </h5>
          <h5 class="trpToolbarHeaderItem {{#unless isRepo}}hidden{{/unless}}" id="info-header">
              Repo info
          </h5>
        </div>
        <div class="trpToolbarList">
          <div class="trpToolbarListContent" id="people-roster">
            <div>
              {{{ prerenderView 'js/views/people/tmpl/peopleCollectionView' }}}
            </div>
          </div>
          <div class="trpToolbarListContent" id="repo-info" style="display: none"></div>
        </div>
      </div>

      <div class="trpTroupeRelatedContent" id="activity-region">
        {{{ activityItemPrerender activityEvents wrap="div" className="gtrActivityContainer" }}}
      </div>
    </div>

    <footer id="zendesk-footer" class="right-toolbar__footer">
      <a href="http://gitter.zendesk.com" target="_blank" style="text-decoration: none; display: block;" aria-labelledby="label-gitter-support">
        <div class="support">
          <i class='octicon octicon-question'></i>
          <div
            id="label-gitter-support"
            class="trpActionsMenuLabel"
          >
            Gitter Support
          </div>
        </div>
      </a>
    </footer>
  </div>
</div>
