<div class="trpToolbar" id="toolbar-frame">
  <div class="trpToolbarContent" id="toolbar-content">
    <div id='search-panel'>
      {{{ prerenderView "js/views/search/tmpl/search" }}}
    </div>
    <div id="toolbar-top-content" style="height:100%; width: 100%;">
      <table height="100%" width="100%">
        <tr>
          <td>
            <div id="people-list">
              <div class="trpToolbarHeader" id="top-header">
                <div class="trpToolbarHeaderItem selected" id="people-header">
                  People
                </div>
                {{#isRepo}}
                  <div class="trpToolbarHeaderItem" id="info-header">
                    Repo info
                  </div>
                {{/isRepo}}
              </div>
              <div class="trpToolbarList">
                <div class="trpToolbarListContent" id="people-roster">
                </div>
                <div class="trpToolbarListContent" id="repo-info" style="display: none">
              </div>
              <div class="trpToolbarHeader" id="activity-header">ACTIVITY</div>
            </div>
          </td>
        </tr>
        <tr>
          <td height="100%" style="vertical-align:top;">
            <div class="trpTroupeRelatedContent" style="height: 100%;" id="room-content">
              <div class="trpTroupeRelatedContentHolder" id="activity">
                <ul class="gtrActivityList">
                  {{#each activityEvents}}
                    <li>{{{ activityItemPrerender this }}}</li>
                  {{/each}}
                </ul>
              </div>
            </div>
         </td>
        </tr>
        <tr height="70">
          <td>
            <div class="trpTroupeActions">
                <a href="http://gitter.zendesk.com" target="_blank" style="text-decoration: none">
                  <div class="trpTroupeHelp" id="help-button">
                    <div style="display: inline-block; vertical-align: middle; height: 24px" id="help-icon"><img src='{{cdn "images/icon-help-black@2x.png"}}' width="24" height="24"/></div>
                    <div class="trpActionsMenuLabel" style="margin-top: -4px">Support</div>
                  </div>
                </a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
