<footer class="chat-input chat-input-nli" id="chat-input-wrapper">
  <a href="/login" target="_top" class="chat-input__btn">
  Log in to start talking
  </a>
  <!--
  <a href="/login/github?action=login&source=leftmenu-1" class="chat-input__btn">
    <img src="{{cdn 'images/home/github.png'}}">Log in with GitHub to start talking
  </a>
  -->
</footer>
