<footer class="chat-input chat-input--treatment" id="chat-input-wrapper">
  <a href="/login/github?action=login&source=leftmenu-1" class="chat-input-treatment__btn">
    <img src="{{cdn 'images/home/github.png'}}">Start Chatting
  </a> 
  <span class="chat-input-treatment__placeholder">and join over 130k other people that ship, learn and share.</span>
</footer>
