<div class="chat-header" id="header-wrapper">
  <div id="header">
    {{{ prerenderView "js/views/app/tmpl/headerViewTemplate" }}}
  </div>
  <div class="banner-wrapper" style="display: none;">
    <div id="unread-banner" class="banner slide-away"></div>
  </div>
  <div class="banner-wrapper" style="display: none;">
    <div id="limit-banner" class="banner slide-away"></div>
  </div>
</div>
