<div class='chat-embed-footer'>
  <div class='chat-embed-footer__info'>
    <p>You need to log in to start chatting.</p>
  </div>
  <div class='chat-embed-footer__details'>
    <p>&nbsp;&nbsp;<b>{{usersOnline}}</b> {{pluralize usersOnline 'person' 'people'}} {{!-- use i18n --}} online</p>
    <a class="btn subdued" href="/{{troupeContext.troupeUri}}?utm_content=embedded">Sign up for free</a>  
  </div>
</div>
