<div class="chat-input" id="chat-input-wrapper">
  <div class="progress">
    <div class="progress__bar" id="file-progress-bar"></div>
  </div>
  <div class="banner-wrapper  bottom" style="display: none;">
    <div id="bottom-unread-banner" class="banner slide-away"></div>
  </div>
  <div class="chat-input__container  js-chat-input-container" id="chat-input">
    {{{ prerenderView "js/views/chat/tmpl/chatInputView" }}}
  </div>
</div>
