<header class="chat-header" id="header-wrapper">
  <div id="header">
    {{{ prerenderView "js/views/app/tmpl/headerViewTemplate" }}}
  </div>
  <div id="unread-banner" class="banner-wrapper">
  </div>
</header>
