<footer class="chat-input" id="chat-input-wrapper">
  <p> <a href="/login/github?action=login&source=leftmenu-1" class="trpButtonMedium trpBtnGreen">Start Chatting</a> and join 120k+ other people that ship, learn and share.</p>
</footer>
