<footer class="chat-input chat-input-nli" id="chat-input-wrapper">
  {{#if showNewLogin}}
  <a href="/login?action=login&source=leftmenu-1" target="_top" class="chat-input__btn">
  Sign in to start talking
  </a>
  {{else}}
    <a href="/login/github?action=login&source=leftmenu-1" class="chat-input__btn">
      <img src="{{cdn 'images/home/github.png'}}">Sign in with GitHub to start talking</a>
  {{/if}}
</footer>
