<footer class="chat-input-treatment" id="chat-input-wrapper">
  <a href="/login/github?action=login&source=leftmenu-1" class="trpButtonMedium trpBtnGreen">Start Chatting</a> 
  <span class="chat-input-treatment__placeholder">and join 120k+ other people that ship, learn and share.</span>
</footer>
