<header id="right-toolbar-header-region" class="right-toolbar__header">
  <div class="search js-search">
    {{{ prerenderView "js/views/search/tmpl/search-input" }}}
  </div>
</header>
<div id="search-results" class="right-toolbar__body search-results" style="display: none;">
  {{{ prerenderView "js/views/search/tmpl/search" wrap="div" }}}
</div>
