<li><a href="#mailitem" data-transition="slide">
      <h3>{{personName}}</h3>
      <p><strong>{{subject}}</strong></p>
      <p>{{preview}}</p>
      <p class="ui-li-aside"><strong>{{time}}</strong></p>
</a></li>
