.search-input-container {
  box-sizing:      border-box;
  align-items:     center;
  justify-content: center;
  width:           100%;
  padding:         0 @menu-left-padding;
  display:         none;

  &.active {
    display: flex;
  }
}

.search {
  width: 100%;
}

.search-input {
  width:         100%;
  background:    none;
  border:        none;
  outline:       none;
  border-bottom: 1px solid @jaffa;
  box-shadow:    none;
  border-radius: 0;
  color:         white;

  &:focus {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid @jaffa;
  }
}
