<input
  type="search"
  id="form-left-menu-search-box"
  class="left-menu-search__input"
  placeholder=" What are you looking for?" />
  <span class="js-search-clear left-menu-search__clear">&#735;</span>
