.transition(@time, @attribute) {
  transition: @attribute @time ease-in-out;
}

// TODO: rename these to FAST, MEDIUM, SLOW
.transition100ms(@attribute) {
  transition: @attribute 100ms ease-in-out;
}

.transition300ms(@attribute) {
  transition: @attribute 300ms ease-in-out;
}

.transition500ms(@attribute) {
  transition: @attribute 500ms ease-in-out;
}
