
// THIS IS A STOPGAP.. eventually we should
// get rid of this and replace it with the
// exact definitions that we need
@import "trpMobileApp.less";
@import "trp3Vars.less";

html {
  height: 100%;
}

body, #mainPage, .contentBody {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  position: relative;
  user-select: none;
}

html, body {
  overflow: hidden;
}

p {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  color: #333;
}

#mainPage {
  background-color: white;
  width: 100%;
}

/*Mobile Overrides*/

.contentBody {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

// People have big thumbs, so it is easier to make a large area selectable
// and block out the detail text that we dont want than making only the
// small message content selectable.
.trpChatItemContainer {
  user-select: text;
  .trpChatDetails {
    user-select: none;
  }
}
