
// THIS IS A STOPGAP.. eventually we should
// get rid of this and replace it with the 
// exact definitions that we need
@import "trpMobileApp.less";

html {
  height: 100%;
  min-height: 300px;
}

body, #mainPage, #content, .contentBody {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  position: relative;
  min-height: 300px;
  user-select: none;
}

html, body {
  overflow: hidden;
}

p {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  color: #333;
}

#mainPage {
  background-color: white;
  position: absolute;
}

#content {
  box-sizing: border-box;
  padding-bottom: 59px;
  position: absolute;
}

/*Mobile Overrides*/

.contentBody {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

// People have big thumbs, so it is easier to make a large area selectable
// and block out the detail text that we dont want than making only the
// small message content selectable.
.trpChatItemContainer {
  user-select: text;
  .trpChatDetails {
    user-select: none;
  }
}

/*
.trpChatInputArea {
  position: absolute;
  bottom: 0;
  width: 100%
}

.trpChatInputAvatar {
  padding-left: 5px;
}

.avatar-s {
  width: 24px;
  height: 24px;
}*/
