// See public/templates/partials/chat_content.hbs
.chat-container {
  .trpBodyMedium;

  &-invited {

    position: relative;
    top: 44%;
    padding: 0 10px !important;

    &__icon {

      img {
        max-width: 60px;
        border-radius: 8px;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}
