.chat-header-wrapper {
  height: 100%;
}

.chat-and-toolbar-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
  padding-top: @chat-frame-desktop-header-height;
}

.chat-app {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.org-page-link {
  &:hover {
    text-decoration: none;
  }
}
