.chat-and-toolbar-wrapper {
  justify-content: flex-end;
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.chat-app {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  flex-shrink: 1;
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.org-page-link {
  &:hover {
    text-decoration: none;
  }
}
