// See public/templates/partials/chat_content.hbs
.chat-container {
  .trpBodyMedium;

  & > div:first-child { padding-top: 72px; }

  body.embedded & > div:first-child { padding-top: 0; }

  &-invited {

    position: relative;
    // top: 44%;
    padding-top: ;
    padding: 10px 10px 0;

    &__icon {

      img {
        max-width: 60px;
        border-radius: 8px;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}
