@free: #373233;
@personal: #6c3eb2;
@bronze: #934991;
@silver: #ea9448;
// new
@green: #00d1a0;
@dark: #241f20;
@gray: #393133;
@light: #f1f0ed;
@red: #fe0063;
@purple: #7936b5;
@orange: #ff8d3e;

@twitter-blue: #55acee;
@facebook-blue: #3b5998;
