@free: #373233;
@personal: #6c3eb2;
@bronze: #934991;
@silver: #ea9448;
// new
@green: #00d1a0;
@dark: #241f20;
@gray: #393133;
@light: #f1f0ed;
@red: #fe0063;
@purple: #7936b5;
@orange: #ff8d3e;

@twitter-blue: #55acee;
@facebook-blue: #3b5998;

// Used to highlight permalink messages
@permalink-highlight-bg: #FFFF8A;

// legacy (from trp3Colours.less)
@trpGreen: #1dce73; // lumo green alt: #01c48c
@trpDarkBlue: #162e34; // dark blue alt: #272d3b
@trpLightBlue: #2980b9;; // accent blue eg hyperlinks
@trpRed: #e74c3c; // bright red
@trpYellow: #f1c40f;
@trpOrange: #f39c12;
@trpAsbestos: #7f8c8d;
@trpBgColor: #f4f5f6; // just off white
@trpBgColor2: #f7faf5;
@trpBgAccent: #d3dfd3;
@trpPurple: #494259; // dark purple
@trpGrey: #c0c9c8; // mid grey
@trpLightGrey: #d6d6d6; // darker off-white for borders and ting
@trpDarkGrey: #333;
@trpDarkCream: #b5bfb5;

// super legacy (from trpColours.less)
@trpCyan: #1dd0cd; // turquoise
@trpOffWhite: #f6f6f6; // off-white
@trpDarkerGrey: #666666; // dark grey

