@import "base-web";
@import "typography";
@import "colors";
@import "logo.less";

@import "./components/early-bird/container";
@import "./components/early-bird/panel";
@import "./components/early-bird/text";
@import "./components/early-bird/cells";
@import "./components/early-bird/payment";

.main {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.advantage__image {
  height: 66px;
  width: 66px;
}
