@import 'colors';

@font-face {
  font-family: 'DP';

  /* For older versions of IE */
  src: url('../fonts/dp.eot');

  /* Standard syntax */
  src: url('../fonts/dp.eot?#iefix') format('embedded-opentype'),
       url('../fonts/dp.woff') format('woff'),
       url('../fonts/dp.ttf') format('truetype'),
       url('../fonts/dp.svg#dp') format('svg');

  /* Apply synthetic bolding/italics */
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  background-color: @light;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: proxima-nova-alt, "Proxima Nova Alt", sans-serif;
  smoothing: antialiased;
  font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

p {
  font-weight: 300;
}

p, ul {
  margin: 0;
}

textarea:focus, input:focus{
    outline: 0;
}

.wrap {
  max-width: 75em;
  margin: 0 auto;
}

.avatar {
  float: left;
  border-radius: 3px;
  margin-right: 8px;
}

.room-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.room-heading {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-count {
  float: right;
}

.see-all-link {
  float: right;
}

.page-header {
  background-color: white;
  padding: 1.875em 1.25em;
  text-align: center;
  font-family: DP, sans-serif;

  .octicon-heart {
    color: desaturate(@red, 20%);
  }

  p {
    margin: 1.05em 0 1.8125em;
    font-size: 1.25em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 1.4em;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 300;
  }

  &__search {
    -webkit-appearance: none;
    color: @dark;
    width: 100%;
    border: 3px solid darken(@light, 5%);
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1em;
    height: 4 * 0.625em;
    padding: 0 0.7em 0 0.4em;
    max-width: 600px;
    border-radius: 4px;
    font-family: proxima-nova-alt, "Proxima Nova Alt", sans-serif;
  }

  @media (min-width: 64em) {
    h1 {
      font-size: 3vw;
    }
  }
}

.page-content {
  padding: 0.625em;
}

.introduction {
  background-color: @light;
  color: #7d7669;
  padding: 0.625em;
  text-align: center;

  p {
    margin-top: 0.625em;
  }
}

.logo {
  opacity: 0.3;
  height: 16px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
}

a {
  color:inherit;
  text-decoration: none;
}

// if you change this, make sure to change the image url "s" param.
// it has to be double to support retina displays.
@AVATAR_SIZE: 4 * 0.625em;

.room-item {

  @color: white;

  opacity: 0.8;
  flex: 1 0 250px;
  // max-height: 10em;
  cursor: pointer;
  border: 4px solid transparent;
  color: #333;
  display: flex;
  flex-direction: column;

  &:hover {
    opacity: 1;
  }

  header {
    border-radius: 3px 3px 0 0;
    background-color: @color;
    padding: 0.625em;
    height: @AVATAR_SIZE + 2 * 0.625em;
    line-height: @AVATAR_SIZE;
    overflow: hidden;
  }

  &__avatar {
    float: left;
    width: @AVATAR_SIZE;
    margin-right: 0.625em;
    border-radius: 3px;
  }

  &__description {
    background-color: @color;
    padding: 0 0.625em 0.625em;
    max-height: 3.4375em;
    overflow: hidden;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2 * 0.625em;
      background: linear-gradient(to bottom, transparent, white);
    }
  }

  &__content {
    background-color: darken(@color, 15%);
    flex-grow: 1;
    padding: 0.625em;
  }

  footer {
    background-color: darken(@color, 10%);
    border-radius: 0 0 3px 3px;
    padding: 0.625em;
    flex-shrink: 0;
    border-top: 1px solid hsl(0, 0%, 90%);
    text-transform: uppercase;
    display: flex;
    flex-direction: row;

    small {
      text-align: center;
      flex-grow: 1;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}

// .room-item__head {
//   padding: 0 0.625em;
//   float: right;
//   text-align: right;
// }

// .room-item section {
//   position: relative;
//   background-color: white;
//   padding: 0.625em;
//   overflow: hidden;
//   flex-grow: 1;
// }

// // adds the fade out for rooms with long descriptions
// .room-item section:after {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: 2 * 0.625em;
//   background: linear-gradient(to bottom, transparent, white);
// }

// .room-item header {
//   margin-bottom: 0.625em;
//   height: @AVATAR_SIZE;
//   line-height: @AVATAR_SIZE;
// }

// .room-item__content {
//   border-top: 0.3em solid #2e2e2e;
//   text-align: center;
//   padding: 1.25em;
// }

// .room-item__foot {
//   flex-shrink: 0;
//   border-top: 1px solid hsl(0, 0%, 90%);
//   text-transform: uppercase;
//   padding: 0.625em;
//   text-align: center;
//   background-color: white;
// }

.room-item h1,
.room-item h2,
.room-item h3,
.room-item h4,
.room-item h5 {
  white-space: nowrap;
}

.repo-name {
  display: flex;
}

.repo-name__collapsable {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 1000;
  transition: flex-shrink 300ms ease-in-out;
}

.repo-name span:not(.repo-name__collapsable) {
  flex-shrink: 0;
}

.repo-name__collapsable:last-child,
.repo-name__collapsable:hover {
  flex-shrink: 0.01;
}

.repo-name__collapsable:last-child ~ .repo-name__collapsable,
.repo-name span:hover ~ .repo-name__collapsable {
  flex-shrink: 1000;
}
