@import "typography.less";
@import "colors.less";
@import "trpButtons.less";
@import "trp3Vars.less";
@import "trp3Common.less";
@import "trpModals.less";

html {
 @media @mobile {
  width: 100%;
  overflow: hidden;
 }
}

body {
  margin: 0;
  @media @mobile {
   width: 100%;
   overflow: hidden;
  }
}

h1 {
  @media @mobile {
    font-size: 16px;
  }
}

a {
  color: @trpLightBlue;
}

a.close {
  color: black;
}

.scroller::-webkit-scrollbar {
    width: 7px;
}

header {
  width: 100%;
  padding: 30px;
  background-color: @trpDarkBlue;
  margin-bottom: 50px;
}

.container {
  text-align: center;
  font-size: 18px;
}
