@import "typography.less";
@import "room_card.less";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.org-page__header {
  padding: 1.25em;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  h1 {
    margin: 0;
    line-height: 64px;
  }

  img {
    float: left;
    border-radius: 4px;
    margin-right: 1.25em;
  }
}

.org-page__description {
  margin: 15px 0px;
}

.org-page__details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.org-page__detail {
  margin-right: 20px;
}


.org-page__room-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
