@import "base-web.less";
@import "typography.less";
@import "components/tag-list-edit.less";

@import "trpModals.less";
@import "trpButtons.less";
@import "trp3.less";

@import "room_card.less";
@import "bootstrap/mixins";

@import "colors.less";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  vertical-align: bottom;
}

body {
  margin: 0;
  overflow: auto;
}

.org-page__header {
  padding: 3.25em 3.25em 2.25em 3.25em;
  overflow: hidden;

  h1 {
    margin: 0;
    line-height: 64px;
  }

  img {
    float: left;
    border-radius: 4px;
    margin-right: 1.25em;
  }
}

.org-page__org {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.org-page__name {
  h1 {
    line-height: inherit;
  }
}

.org-page__org-details {
  display: flex;
  flex-direction: column;
}


.org-page__description {
  color: @trpLightGrey;
}

.org-page__details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 5px solid  @trpLightGrey;
  padding: 20px 0px;
  font-size: 1.3em;
}

.org-page__detail {
  flex-grow: 1;

  .octicon {
    font-size: 1.3em;
    color:  @trpLightGrey;
  }

  a:hover {
    text-decoration: none;
  }
}


.org-page__room-cards {
  padding: 1.25em 3.25em 3.25em 3.25em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
