@import "base-web.less";
@import "typography.less";
@import "components/tag-list-edit.less";
@import "components/tag-modal";
@import "components/tag-error";

@import "trpModals.less";
@import "trpButtons.less";
@import "trp3.less";

@import 'components/room-card';
@import "bootstrap/mixins";

@import "colors.less";
@import "bootstrap/pagination";

@mobileBreakPoint: 767px;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: auto;
}

.org-page__header {
  padding: 3.25em 3.25em 2.25em 3.25em;
  overflow: hidden;

  @media (max-width: @mobileBreakPoint) {
    padding: 1em;
  }

  h1 {
    margin: 0;
    line-height: 64px;
  }

  img {
    float: left;
    border-radius: 4px;
    margin-right: 1.25em;
  }
}

.org-page__org {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  @media (max-width: @mobileBreakPoint) {
    flex-wrap: wrap;
  }
}

.org-page__name {
  h1 {
    line-height: inherit;
  }
}

.org-page__org-logo {
  flex-grow: 0;
  img {
    @media (max-width: @mobileBreakPoint) {
      width: 42px;
      margin-right: 10px;
    }
  }
}

.org-page__org-details {
  display: flex;
  flex-direction: column;
  flex-grow: 0;

  @media (max-width: @mobileBreakPoint) {
    min-width: 45%;
  }
}

.org-page__login {
  flex-grow: 1;
  align-self: center;
  text-align: right;
  vertical-align: middle;
  color: @trpLightGrey;

  @media (max-width: @mobileBreakPoint) {
    text-align: left;
    padding-left: 0.3em;
    padding-top: 2em;
  }

  .btn {
    margin-left: 10px;
  }
}


.org-page__description {
  color: #aaa;
}

.org-page__details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 5px solid #EEE;
  padding: 20px 0px;
  font-size: 1em;
}

.org-page__detail {
  margin-right: 70px;

  @media (max-width: @mobileBreakPoint) {
    margin-right: 0;
    flex-basis: 50%;
  }

  .octicon {
    vertical-align: middle;
    margin-right: 6px;
    font-size: 1.2em;
    color:  @trpLightGrey;
  }

  a:hover {
    text-decoration: none;
  }
}

.org-page__room-card-list {
  .room-card-list();

  @excess-card-margin: 0.5em;
  padding: 0 3.25em-@excess-card-margin 3.25em 3.25em-@excess-card-margin;

  @media (max-width: @mobileBreakPoint) {
    padding: 1em-@excess-card-margin;
  }
}

.org-page__room-card {
  border: 1px solid @pampas;
}



.hidden {
  display: none;
}

.org-page__login__btn {
  @media (max-width: @mobileBreakPoint) {
    float: right;
    margin-right: 13px;
  }
}

.org-page__pagination {
  display: flex;
  flex-grow: 1;
  .pagination {
    margin: 20px auto;
  }
}
