@import "colors.less";

@mediumgrey: #BBB;

button, .btn {
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 2px;

  text-transform: uppercase;
}

.btn {
  position: relative;
  display: inline-block;

  padding: 16px 25px 14px;

  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 6px;

  background: @homepage-green;
  color: #fff;
}


.btn.secondary {
  background: @homepage-orange;
}

.btn.outline {
  color: #84817b !important;
  background: #fff;

  box-shadow: inset 0 0 0 2px rgba(132,129,123,.15);
}

.btn.outline:hover {
  background: rgba(200,200,200, 0.1);
}

.btn.outline:active {
  color: #84817b !important;
  background: #fff;

  box-shadow: inset 0 0 0 2px rgba(132,129,123,.15), inset 0 2px 4px rgba(0,0,0,.15);
}

.room-card {

  @color: white;

  width: 370px;
  min-height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0.8em;
  color: @trpDarkGrey;

  border-radius: 10px;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid @trpLightGrey;
  }

  &:hover &__footer-content {
    display: block;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__header {
    padding: 5px 10px;

    border: unset;
    background-color: @color;
    overflow: hidden;

    a {
      color: @trpDarkGrey;
      text-decoration: none;
    }

    a:hover {
      color: @trpDarkGrey;
      text-decoration: none;
    }
  }

  &__usercount {
    color: @trpLightGrey;
  }

  // &:nth-child(3n + 3) header {
  //   border-top: 0.4em solid @silver;
  // }

  // &:nth-child(2n + 1) header {
  //   border-top: 0.4em solid @bronze;
  // }

  &__users {
    padding: 5px 10px;

    display: flex;
    flex-direction: row;
  }

  &__user-avatar {
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }


  &__description {
    padding: 5px 10px;

    background-color: @color;
    max-height: 60px;
    position: relative;
    overflow: hidden;

    //text-overflow: ellipsis;
    //white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      top: 20px;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40px;
      background: linear-gradient(to bottom,  rgba( red(@color), green(@color), blue(@color), 0) 0%, rgba( red(@color), green(@color), blue(@color), 1) 100%); /* W3C */
    }
  }

  &__tags {
    padding: 5px 10px;

    display: flex;
    flex-direction: row;
  }

  &__tag {
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 4px;
    border: 2px solid @trpLightGrey;
    color: @mediumgrey;
  }

  &__footer {
    padding: 5px;

    align-self: flex-end;
  }

  &__footer-content {
    display: none;
  }

}
