@import "colors.less";

@mediumgrey: #BBB;

button, .btn {
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 2px;

  text-transform: uppercase;
}

.btn {
  position: relative;
  display: inline-block;

  padding: 16px 25px 14px;

  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 6px;

  background: @homepage-green;
  color: #fff;

  text-shadow: none;
}


.btn.secondary {
  background: @homepage-orange;
}

.btn.secondary:hover {
  color: #FFF;
  background: darken(@homepage-orange, 5%);
}

.btn.terciary {
  background: #FFF;
  color: @homepage-orange;
  box-shadow: none;
}

.btn.outline {
  color: #84817b !important;
  background: #fff;

  box-shadow: inset 0 0 0 2px rgba(132,129,123,.15);
}

.btn.outline:hover {
  background: rgba(200,200,200, 0.1);
}

.btn.outline:active {
  color: #84817b !important;
  background: #fff;

  box-shadow: inset 0 0 0 2px rgba(132,129,123,.15), inset 0 2px 4px rgba(0,0,0,.15);
}

.room-card {

  @color: white;

  width: 370px;
  min-height: 280px;

  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  margin: .8em 0 .8em 0;
  color: @trpDarkGrey;

  border-radius: 6px;
  border: 1px solid transparent;

  &:hover, &:focus {
    transition: border 0.3s;
    border: 1px solid #EEE;
  }

  @media (max-width: 480px) {
    transition: border 0.3s;
    border: 1px solid #EEE;
  }

  &:hover &__footer-content, &:focus &__footer-content {
    transition: opacity 0.3s;
    opacity: 1;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__header {
    padding: 5px 10px;

    border: unset;
    overflow: hidden;

    a {
      color: @trpDarkGrey;
      text-decoration: none;
    }

    a:hover {
      color: @trpDarkGrey;
      text-decoration: none;
    }

    .octicon {
      color: @trpLightGrey;
    }

    h3 {
      max-width: 280px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top;
    }
  }

  &__usercount {
    color: @trpLightGrey;
  }

  // &:nth-child(3n + 3) header {
  //   border-top: 0.4em solid @silver;
  // }

  // &:nth-child(2n + 1) header {
  //   border-top: 0.4em solid @bronze;
  // }

  &__users {
    padding: 5px 10px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__user-avatar {
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin: 0 5px 5px 0;
  }


  &__description {
    padding: 5px 10px;

    background-color: @color;
    max-height: 60px;
    position: relative;
    overflow: hidden;

    //text-overflow: ellipsis;
    //white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      top: 35px;
      bottom: 0;
      left: 0;
      right: 0;
      height: 25px;
      background: linear-gradient(to bottom,  rgba( red(@color), green(@color), blue(@color), 0) 0%, rgba( red(@color), green(@color), blue(@color), 1) 100%); /* W3C */
    }
  }

  &__tags {
    padding: 5px 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__tag {
    padding: 3px 6px;
    margin: 2px 5px 2px 0px;
    border-radius: 4px;
    font-size: 0.9em;
    color: #FFF;
    background: @trpLightGrey;
  }

  &__footer {
    padding: 5px;

    align-self: flex-end;
  }

  &__footer-content {
    @media (max-width: 480px) {
      opacity: 1;
    }
    opacity: 0;
  }

}

// JP 5/8/15
//Filthy hack to get keyboard navigation working
//see room_card.hbs for more details
.room-card__hidden-link {
  width: 100%;
  height: 1px;
  opacity: 0;
}

.room-card__hidden-link:focus + .room-card__footer {
  & .room-card__footer-content {
    transition: opacity 0.3s;
    opacity: 1;
  }
}
