.u-uppercase {
  text-transform: uppercase;
}

.search * { box-sizing: border-box; }

.search {
  font-size: 16px;
}

.search-input {
  box-sizing: border-box;
  @height: 71px;
  height: @height;
  line-height: @height;
  padding: 0 0.625em;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.search-input input {
  .trpBodyMedium;
  margin: 0;
  box-sizing: border-box;
  overflow: auto !important;
  top: auto !important;
  left: auto !important;
  width: 100% !important;
  height: 3 * 0.625em;
}

.search-header {
  margin-left: 0.625em;
}

.result {
  transition: all 0.2s;
  clear: both;
  cursor: pointer;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  padding: 0.3125em 0.625em;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.result:hover {
  background-color: rgb(220, 220, 220);
}

.result:last-child {
  border: none;
}

.result p {
  line-height: normal;
}

.result-avatar {
  @size: 30px;
  float: left;
  height: @size;
  width: @size;
}

.result-avatar img {
  border-radius: 4px;
}

.result-content {
  font-size: 0.8em; // I don't like changing the font-size base value but it seems we have no choice due to ellipsis
  float: left;
  margin-left: 0.625em;
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
