// NOTE: I do not endorse the use of !important, but...
.u-uppercase {
  text-transform: uppercase;
}

.search * { box-sizing: border-box; }

.search { font-size: 16px; }

.search.active .search-input i { display: none; }
.search.active .search-input input { display: inline-block; }

.search-input {
  z-index: 100;
  background-color: rgb(244, 245, 246);
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  @height: 71px;
  height: @height;
  line-height: @height;
  padding: 0 0.625em;
  border-bottom: 1px solid rgb(230, 230, 230);
  text-align: center;
}

.search-input input {
  .trpBodyMedium;
  margin: 0;
  box-sizing: border-box;
  overflow: auto !important;
  top: auto !important;
  left: auto !important;
  width: 100% !important;
  height: 3 * 0.625em;
  @media @mid {
    display: none;
  }
}

.search-input i {
  font-size: 18px;
  display: none;
  padding: 0 8px !important;
  opacity: 0.4;
  cursor: pointer;
  .prepend-octicon('\f02e');
  transition: opacity 0.2s ease-in-out;

  @media @mid {
    display: inline;
  }
}

.search-input i:hover {
  opacity: 1;
}

.search-results {
  top: 71px;
  position: relative;
  z-index: 0;
}

.search-header {
  margin-left: 0.625em;
}

.result {
  clear: both;
  cursor: pointer;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  padding: 0.3125em 0.625em;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.result.selected,
.result:hover {
  background-color: rgb(220, 220, 220);
}

.result:last-child {
  border: none;
}

.result p {
  line-height: normal;
}

.result-empty {
  padding: 0 0.625em;
}

.result-avatar {
  @size: 30px;
  float: left;
  height: @size;
  width: @size;
}

.result-avatar img {
  border-radius: 4px;
}

.result-content {
  font-size: 0.8em; // I don't like changing the font-size base value but it seems we have no choice due to ellipsis
  float: left;
  margin-left: 0.625em;
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
