@import "bootstrap/bootstrap.less";
@import "trp3Common.less";
@import "trpModals.less";

// This is legacy
@import "mobile-login.less";

body {
	overflow: auto;
}

.signupStep {
  text-align: left;
  width: 218px;
  margin: 30px auto;
}
