.issue {
  border-bottom: 1px dotted;
  cursor: pointer;
  padding: 0 2px;
  border-radius: 2px;
}

.commit {
  border-bottom: 1px dotted;
  cursor: pointer;
  padding: 0 2px;
  background-color: lighten(@purple, 50%);
  border-radius: 2px;
  color: @purple;
}

.commit-popover-title {
  height: 20px;
  position: relative;
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.commit-popover-body {
  float: left;
  width: 100%;

  ul.file-list {
    list-style: none;
    margin-left: 0;
  }
  .modified {
    font-size: small;
    &:before {
      color: @trpYellow;
    }
  }
  .added {
    font-size: small;
    &:before {
      color: @trpGreen;
    }
  }
  .removed {
    font-size: small;
    &:before {
      color: @trpRed;
    }
  }
}

.popover-footer a.open-in-github {
  float: right;
  line-height: 20px;
  &:hover{
    text-decoration: none;
  }
}

a.issue:hover {
  text-decoration: none;
}

.issue.open {
  color: @trpGreen;
  background-color: lighten(@trpGreen, 45%);
}

.issue.closed {
  color: @trpRed;
  background-color: lighten(@trpRed, 35%);
}

.issue-popover-body {
  float: left;
  width: 100%;
}

.trpChatContainer {
  /* Below commented out as it makes scrollbar vanish on Safari, which is not the best, really*/
  /*-webkit-transform: translate3d(0, 0, 0); // scrollbar to respect z-index*/
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

code {
  border: 1px solid fade(@trpGrey,40%);
  background-color: fade(@trpGrey,20%);
  border-radius: 2px;
  padding: 0 4px;
  overflow-x: auto;
  word-wrap: break-word;
}

pre code {
  border-radius: 6px;
  border: none;
}

blockquote {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 27.5px;
}

.popoverReadBy span {
  margin-right: 5px;
}

.missing {
  font-size: smaller;
  opacity: 0.5;
  font-style: italic;
}

.issue-popover-title {
  height: 20px;
  position: relative;
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  span {
    position: absolute;
    right: 0;
  }
}

.frame-chat {
  position: relative; // required for scroll calculations
}


