/* MEDIA QUERY DEFINITIONS*/

@mid: ~"(max-width: 880px)";
@mid-min: ~"(min-width: 681px)";

@small: ~"(max-width: 680px)";

@retina: ~"(min-device-pixel-ratio: 2)";

@mobile-header-height: 50px;
@desktop-header-height: 65px;
@menu-footer-height: @desktop-header-height;

@menu-panel-mobile-width:  100vw;
@menu-panel-desktop-width: 34rem;

/* ROOM MENU */
@menu-bg:          #262525;
@menu-item-color:  #efefef;
@profile-menu-bg:  #262525;
@menu-item-height: 3.8rem;

@ruby:                        #ed1965;
@jaffa:                       #F68D42;
@caribbean:                   #46BC99;
@people-bg:                   #964793;
@people-header-bg:            #d379cb;
@org-bg:                      rgba(255, 255, 255, .2);
@org-header-color:            white;
@header-bg:                   #ffffff;
@menu-panel-bg:               #333132;
@search-message-detail-color: @caribbean;
@search-message-decal-color: #917db7;

@mobile-menu-width: 15%;
@desktop-menu-width: 7.5rem;

@mobile-chat-app-width: 100% - @mobile-menu-width;

@mobile-menu-left-padding: .5rem;
@desktop-menu-left-padding: 2.6rem;

@menu-left-padding: 1.5rem;
@menu-unread-badge-size: 2rem;
@menu-search-headers-padding-bottom: 1.8rem;

// See `./archive-heatmap-utils.js->breakpointList` and `trp3Vars.less->@archive-mid`
@archive-mid: ~"(max-width: 960px)";
