// Our colour palette
@trpGreen: #1dce73; // lumo green alt: #01c48c
@trpDarkBlue: #162e34; // dark blue alt: #272d3b

@trpLightBlue: #2980b9;; // accent blue eg hyperlinks

@trpRed: #e74c3c; // bright red
@trpYellow: #f1c40f;
@trpOrange: #f39c12;
@trpAsbestos: #7f8c8d;

@trpBgColor: #f4f5f6; // just off white
@trpBgColor2: #f7faf5;
@trpBgAccent: #d3dfd3;

@trpPurple: #494259; // dark purple
@trpGrey: #c0c9c8; // mid grey
@trpLightGrey: #d6d6d6; // darker off-white for borders and ting
@trpDarkGrey: #333;
@trpDarkCream: #b5bfb5;
