/* MEDIA QUERY DEFINITIONS*/

@mid: ~"(max-width: 880px)";
@mid-min: ~"(min-width: 681px)";

@small: ~"(max-width: 680px)";

@retina: ~"(min-device-pixel-ratio: 2)";

/* ROOM MENU */
@menu-bg: #262525;

@mobile-menu-width: 15%;
@mobile-chat-app-width: 100% - @mobile-menu-width;
