@charset "UTF-8";
@import "bootstrap/bootstrap";

@import "trp3Colours";
@import "trpFonts";
@import "icon-mixins";

@import "trpModals";
@import "trp3Common";
@import "trpButtons";

@import "base-transition-mixins";

@keyframes pulsey {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}

.pulse {
  animation: pulsey 2s linear infinite;
}

.isLoading {
  .prepend-octicon('\f00a');
}

html {
	min-height: 100%;
}

body {
	min-height: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
  background-color: white;
  .user-select(none);
}

a {
	text-decoration: none;
	color: #333;
}

h2 {
  font-family: @fontSans;
  font-weight: 400;
}

p {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

dl, dd {
  margin: 0;
}

label {
  font-size: 15px;
}

.hidden-input input {
  .trpBodyMedium;
  outline: 0;
  box-shadow: none;
  width: 320px;
  padding: 9px;
  border: 1px solid @trpGrey;
  background-color: fade(@trpGrey, 50%);
  border-radius: 4px;
  color: black;
}

.gtrInput {
  box-sizing: border-box;
  .trpBodyMedium;

  width: 100%;
  height: 32px;
  padding: 0px 10px;
  outline: 0;
  margin-bottom: 15px;
  box-shadow: none;
  display: inline-block;
  padding: 0px 9px;
  border: 1px solid @trpGrey;
  background-color: fade(@trpGrey, 50%);
  border-radius: 4px;
  color: black;

  &.room {
    width: 250px;
  }

}


.modal textarea.hidden-input {
  .trpBodyMedium;
  outline: 0;
  box-shadow: none;
  width: 320px;
  padding: 9px;
  border: 1px solid @trpGrey;
  background-color: fade(@trpGrey, 50%);
  border-radius: 4px;
  color: black;
}

.hidden-input input:focus {
  outline: 0;
  box-shadow: none;
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

.scrollList {
  max-height: 279px;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100px;

  li {
    width: 250px;
    display: inline-block;
  }

  div {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .trpLoading {
    margin-top: 16px;
  }

}

ul.scrollList a {
    padding: 4px 4px;
    border-radius: 3px;
  }

.scroller::-webkit-scrollbar {
    width: 9px;
}

/* Track */
.scroller::-webkit-scrollbar-track {
  background-color: rgba(200,200,200,0.1);
}

/* Handle */
.scroller::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(100,100,100,0.2);
  margin-right: 1px;
  .transition300ms;
}
.scroller:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(100,100,100,0.4);
  margin-right: 1px;
  .transition300ms;
}
.scroller::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.1);
}
.scrollpush {
  padding-right: 8px;
}

.trpBlankPage {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

a:hover {
	text-decoration: underline;
}

.trpPortraitAlert {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #000;
  display: none;
}

.trpPortraitAlert {
  .message {
    margin: 0px auto;
    width: 400px;
    text-align: center;
    margin-top: 200px;

    .ipad-icon {
      width: 200px;
      margin-bottom: 20px;
    }
    .logo {
      margin-top: 300px;
    }

    p {
      width: 400px;
      font-family: @fontSans;
      font-size: 32px;
      color: white;
      line-height: 1.3em;
      text-shadow: 0 0 0 transparent,1px 1px 2px rgba(0,0,0,0.55);
    }
  }
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  .trpPortraitAlert {
    display: inline-block;
  }
}

body.logged-out {
  .menu {
    width: 350px;

    @media @small {
      left:-350px;
      transition-delay: 0s;

        &.visible {
          transition-delay: 0.3s;
          left: 0px;
        }
    }
  }

  .trpLeftMenuTab {
    width: 50px;
  }

  .trpFramePanel {
    margin-left: 100px;
    @media @small {
      margin-left: 0px;
    }
    &.leftCollapse {
      @media @small {
        left: 350px;
      }
    }
  }

  .trpContentPanel {
    bottom: 0;
  }
}

.trpButtonMedium, .trpButtonBig {
  .transition300ms;
}

.trpLeftMenuLogo {
  padding: 20px;

  .logo-container {
    float: left;
    background-image: url('../images/logo-text-white-48.png');
    width: 244px;
    height: 48px;
    margin-bottom: 20px;

    @media @retina {
      background-image: url('../images/logo-text-white-48@2x.png');
      background-size: contain;
    }
  }
}

.trpLeftMenuInfo {
  .trpBodyMedium;
  margin-bottom: 20px;
  clear: both;
  padding: 20px;
}

.trpLeftMenuSignup {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
}

#people-roster {
  margin-left: 6px;
}

.trpToolbarHeaderItem {
  display: inline-block;
  opacity: 0.5;
  .transition300ms;
}

.trpToolbarHeaderItem:hover {
  opacity: 1;
}

.trpToolbarHeaderItem:first-child {
  margin-right: 10px;
}

.trpToolbarHeaderItem.selected {
  opacity: 1;
}

.github-ORG {
  .prepend-org-icon;
  &:before {
    font-size: 16px;
  }
}

.github-ORG_CHANNEL {
  .prepend-channel-icon;
  &:before {
    font-size: 16px;
  }
}

.github-REPO {
  .prepend-repo-icon;
  &:before {
    font-size: 16px;
  }
}

.github-REPO_CHANNEL {
  .prepend-channel-icon;
  &:before {
    font-size: 16px;
  }
}

.github-USER_CHANNEL {
  .prepend-channel-icon;
  &:before {
    font-size: 16px;
  }
}

.github-LOCATION {
  .prepend-icon-location;
  &:before {
    font-size: 16px;
  }
}

.github-MAIL {
  .prepend-icon-mail;
  &:before {
    font-size: 16px;
  }
}

.github-LINK {
  .prepend-icon-link;
  &:before {
    font-size: 16px;
  }
}


.github-ONETOONE {
  .prepend-121-icon;
  &:before {
    font-size: 16px;
  }
}

.trpLeftMenuContainer {
  height: 100%;
  overflow: hidden;
}

.trpLeftMenuWrapper {
  display: inline-block;
	.trpBodyMedium;
	overflow-y: auto;
	overflow-x: hidden;
  font-weight: 300;
}

.trpLeftMenuToolbar {
	padding-left: 26px;
	padding-bottom: 12px;
	width: 280px;
}

.trpLeftMenuToolbarItems {
	margin: 0;
	padding: 0;
	list-style: none;
}

.trpLeftMenuToolbarItems li {
	display: inline-block;
	padding-right: 8px;
}

.trpLeftMenuIcon {
	opacity: 0.6;
	padding: 5px;
}

.selected {
	opacity: 1;
}


.unread-normal .trpLeftMenuIcon[data-list="list-troupes"], .unread-one2one .trpLeftMenuIcon[data-list="list-users"] {
	background-color: @trpPurple;
	border: 1px solid white;
	border-radius: 50em;
}

.trpLeftMenuSpacer {
	height: 100px;
}

.disabled {
  color: #CCC;
  cursor: not-allowed;
}

.gtrActivityItemText .mention {
  border: 1px solid transparent;
  background-color: fade(@trpGrey,20%);
  border-radius: 2px;
  padding: 0 4px;
  font-size: 11px;
  cursor: pointer;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
  list-style: none;
}

li:hover.dragged {
  background-color: transparent;
}

ul li.placeholder {
  position: relative;
  height: 25px;
  background-color: rgba(155,155,155,0.1);
  border-radius: 0 4px 4px 0;
  border-left: 0;
  color: white;
}

ul li.placeholder:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-top: -5px;
      left: -5px;
      top: -4px;
      border: 5px solid transparent;
      border-right: none;
}

.trpUserHome {
  margin-left: 88px;

  @media @mobile {
    margin-left: 0px;
  }
}

.trpProfileAvatarLink {
  margin-left: 22px;
  margin-bottom: -2px;
  display: inline-block;
}

.trpFramePanel {
  position: fixed;
  height: 100%;
  top: 0;
  left: @leftMarginFull;
  right: 0;
  .transition500ms;

  @media @mid {
    left: @leftMarginMid;
  }

  @media @small {
    left: @leftMarginSmall;
  }

&.leftCollapse {
  @media @small {
    left: @leftMarginFull;
    right: -250px;
    transition-delay: 0;
  }
}

}

.trpContentPanel {
  position: fixed;
	background-color: white;
	margin-left: 0px;
/*  height is now specified in the html for as it renders better before the css is loaded*/
	width: 100%;
	text-align: center;
	top: 0px;
  bottom: 70px;
  right: 0px;
  overflow: none;
  .transition500ms;
}



.trpContentSpacer {
	width: 100%;
	min-width: 700px;
  display: inline-block;
}

.trpTroupeMoreActions {
  display: none;
}

.trpTroupeMoreActions, .trpTroupeHelp {
  padding: 12px 0 12px 10px;
  @media @mid {
    display: inline-block;
    width: 100%;
    padding-left: 18px;
    opacity: 0.6;
  }
}

.trpActionsMenuLabel {
  display: none;
}

.trpActionsMenuLabel.unfavourited {
  display: inline-block;
  @media @mid {
    display: none;
  }
}

.trpActionsMenuLabel.unfavourited {
  display: none;
  @media @mid {
    display: none;
  }
}

.trpActionsMenuLabel.favourited {
  display: inline-block;
  @media @mid {
    display: none;
  }
}

.trpTroupeHelp img {
  margin-right: 10px;
}

.trpChatPanel {

  display: block;
	margin-right: @rightMarginFull;
	text-align: left;
	text-align: center;
  .transition500ms;
  height: 100%;

  @media @mid {
    margin-right: @rightMarginMid;
  }

  @media @small {
    margin-right: @rightMarginSmall
  }
}

.trpHomePanel {
    display: block;
    text-align: left;
    text-align: center;
    .transition500ms;
    height: 100%;
}


#people-list {

  .remaining {
    display: none;
    &.showFull {
      display: initial;
    }
  }

  @media @mid {
    // dont show more than 10 avatars
    .roster > li:nth-child(n+11) {
      display:none;
    }

    .remaining {
      &.showMid {
        display: initial;
      }
      small {
        display: none;
      }
    }
  }
}

ul.roster {
  list-style: none;
  margin-left: 0;

  li {
    display: inline-block;
  }
}

.trpMoreBadge {
  clear: both;
  color: #333;
  border: 1px solid rgba(100,100,100,0.5);
  display: inline-block;
  border-radius: 4px;
  border: 1px solid fade(@trpLightBlue, 20%);
  background-color: fade(@trpLightBlue, 20%);
  border-radius: 2px;
  padding: 0 4px;
  margin-right: 8px;
  font-size: 11px;
  .transition300ms;
  margin-bottom: 12px;

  @media @mid {
    margin-left: -4px;
    margin-right: -2px;
    padding: 0 2px;
  }

}

.trpMoreBadge:hover {
  background-color: fade(@trpLightBlue, 30%);
}

// .trpChatInputArea.rightCollapse,
.trpHeaderContainer.rightCollapse,
.trpChatPanel.rightCollapse {
  margin-right: 510px;

  @media @mid {
    margin-right: 120px;
  }
}

.trpToolbar.rightCollapse {
  right: 235px;
}

.trpToolbar.leftCollapse {
  right: -250px;
}

.build-started, .build-pending{
  .prepend-build-start-icon;
}

.build-failure {
  .prepend-build-failed-icon;
}

.build-fixed {
  .prepend-build-passed-icon;
}

.build-failing, .build-broken, .build-failed {
   .prepend-build-failed-icon;
}

.build-failure, .build-failing, .build-broken, .build-failed {
  color: @trpRed;

  a {
    color: red;
  }
}

.build-passed, .build-success{
  .prepend-build-passed-icon;
}

.trello-card-voted {
  .prepend-trello-card-vote;
}

.trello-card-created {
  .prepend-trello-card-create;
}

.trello-card-updated {
  .prepend-trello-card-update;
}

.trello-card-commented {
  .prepend-trello-card-update;
}

.github-push {
  .prepend-push-icon;
}

.sprintly {
  .prepend-icon-sprintly;
}

.huboard {
  .prepend-icon-huboard;
}

.bitbucket {
  .prepend-icon-bitbucket;
}

.prerendered {
  position: relative;
  .service-sprite {
    position: absolute;
    top: 3px;
    opacity: 0.8;
  }
  .gtrActivityItemText {
    padding-left: 1.5em;
  }
  a:hover {
    color: inherit;
  }

  &.error {
    color: #e74c3c;
    a {
      color: red;
    }
  }
}

.github-issue {
  position: relative;
}

.github-issue-opened {
  .prepend-issue-opened;
}

.github-issue-closed {
  .prepend-issue-closed;
}

.github-issue-reopened {
  .prepend-issue-reopened;
}

.github-member-add {
  .prepend-member-add;
}

.github-public {
  .prepend-public;
}

.github-watch {
  .prepend-watch;
}

.github-wiki {
  .prepend-wiki;
}

.github-fork {
  .prepend-fork;
}

.github-comment, .github-issue_comment, .github-commit_comment{
  .prepend-comment;
}

.github-sync {
  .prepend-sync;
}

.github-pull-request {
  .prepend-pull-request;
}

.trpContentPanel.leftCollapse {
  @media @small {
    left: @leftMarginFull;
    transition-delay: 0;
  }
}

.trpToolbar:hover {
  opacity: 1;
}

.trpRightPanel:hover + .trpToolbar {
  opacity: 1;
}

.trpToolbar .nano {
	height: 100%;
}

.trpToolbarSpacer {
  height: 40px;
}

#troupe-avatar-region {
  display: none;
  @media @mid {
    display: inline-block;
    padding-left: 19px;
    margin-bottom: 13px
  }
}

.webhook {
  cursor: pointer;
}

.divider {
  border-bottom: 1px solid @trpBgAccent;
}

.divider-top {
  border-top: 1px solid @trpBgAccent;
}

.trpToolbarHeader {
	font-family: @fontSans;
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 8px;
	cursor: pointer;
  padding-top: 16px;
}

.trpToolbarListContent {
  padding-left: 10px;
}

.trpItemDetails {
	padding: 8px 0 8px 0;
	font-family: @fontSans;
	font-size: 14px;
	color: #333;
	width: 224px;
}

.trpDetailViewClose {
  display: inline-block;
	background-color: @trpGreen;
	position: absolute;
	right: 28px;
	text-align: center;
	.trpBodySmall;
	padding: 4px 6px;
	letter-spacing: 1px;
}

.login-content {
	width: 100%;
}

.notification-center {
  width: 300px;
	position: fixed;
	top: 100px;
	z-index: 900;
  left: 0px;

  @media @small {
    display: none;
  }

}

.notification {
	padding: 8px;
	background: @trpGreen;
	color: white;
	.trpBodyMedium;
	text-align: left;
	margin: 1px;
  opacity: 0.95;
  width: 300px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}


.notification a {
	color: inherit;
}

.notification a:hover {
	text-decoration: none;
}

.notification-header {
	.trpBodyMedium;
}

.notification-text {
	.trpBodySmall;
}

.notification-error {
	background: #a44;
}

.qq-upload-list {
	bottom: 75px;
}

 .trpLoading {
	 display: inline-block;
	 background: url('../images/logo-mark-grey-64.png');
	 width: 64px;
	 height: 64px;
	 vertical-align: text-bottom;
   -webkit-animation: pulsey 2s linear infinite;
   animation: pulsey 2s linear infinite;
 }

.typeahead {
	margin-top: 0;
	border-radius: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.trpTroupeRelatedContent {
  @media @mid {
    display: none;
  }
  &.visible {
    @media @mid {

      width:240px;
      border-left: 4px solid rgba(211, 223, 211, 0.6);
      background-clip: padding-box;
    }
  }
}

.trpTroupeRelatedContentHolder {
  min-width: 230px;
}

.trpTroupeActions {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 4px;
  cursor: pointer;
  background-color: @trpBgColor;
  padding-bottom: 12px;
  z-index: 200;
}

.trpActionsMenuLabel {
  .trpBodyMedium;
  display: inline-block;
  vertical-align: middle;
  @media @mid {
    display: none;
  }
}

@media screen and (max-width:1024px) {

  .trpHeaderFavourite {
    margin-left: 0px;
  }

  .uv-tab {
    right: 100px;
    display: none;
  }

}

// TODO: as we progress with the css refactoring this will have to be changed. Walter.
.popover-content {
  .invited {
    box-sizing: border-box;
    background-color: hsl(0, 60%, 70%);
    padding: 10px;
    line-height: 10px;
    margin-bottom: 10px;
    border-radius: 4px;

    p {
      margin: 0;
      small {
        font-size: 0.8em;
        color: white;
      }
    }
  }
}

.popover-content .invited ~ .trpPopoverDetails,
.popover-content .invited ~ div img.avatar-l {
  opacity: 0.70;
  filter: alpha(opacity=70);
}

.trpPopoverDetails {
  box-sizing: border-box;
  float: right;
  max-width: 340px;
  margin-left: 12px;
  h1 {
    line-height: 28px;
  }
}

ul.trpUserDetails {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;

  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  & li {
    max-width: 100%;
    padding: 2px 0 2px 20px;
    overflow-x: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
  }
}

.trpUserDetailActions {
  margin-left: 138px;
  margin-top: 8px;
  clear: both;
}

.vcard-stats {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 4px 2px;
  margin-bottom: 4px;
}

.octicon-organisation {
  .prepend-icon-organisation();
}
.octicon-location {
  .prepend-icon-location();
}
.octicon-link {
  .prepend-icon-link();
}
.octicon-clock {
  .prepend-icon-clock();
}

.octicon-mail {
  .prepend-icon-mail();
}
