
/*@import "animate.less";*/
@import "trp3Vars.less";

@keyframes pulsate {
    0% { transform: scale(1, 1); }
    35% { transform: scale(1, 1); }
    50% { transform: scale(0.75, 0.75); }
    65% { transform: scale(1, 1);}
    100% { transform: scale(1, 1); }
}

@keyframes pulsate-retina {
    0% { transform: scale(1, 1); }
    35% { transform: scale(1, 1); }
    50% { transform: scale(0.75, 0.75); }
    65% { transform: scale(1, 1);}
    100% { transform: scale(1, 1);}
}

.trpStatus {
  position: absolute;
  top: 5px;
  left: -6px;
  border-radius: 5em;
  border: 2px solid white;
  width: 7px;
  height: 7px;
  display: block;
}

.trpDisplayPicture.admin {
  border-bottom: 2px solid #34495e;
}

.trpDisplayPicture.contributor {
  border-bottom: 2px solid #3498db;
}

.trpDisplayPicture.admin:before, .trpDisplayPicture.contributor:before {
    position: absolute; display: block; content: '';
    border-bottom: 1px solid white;
    height: 100%; width: 100%;
    box-sizing: border-box;
}

.trpDisplayPicture {
  border-bottom: 2px solid transparent;
}

.trpDisplayPicture.invited {

  @invitedGray: 0;
  @invitedOpacity: 0.3;
  @MSinvitedOpacity: @invitedOpacity * 100; /* DO NOT CHANGE */ /* OH YEAH? WHY NOT? */

  opacity: @invitedOpacity;
  filter: grayscale(@invitedGray);

  .trpStatus {
    display: none;
  }
}

.trpDisplayPicture.online .trpStatus{
  background-color: #06ff00;
}

.trpDisplayPicture.offline .trpStatus {
  background-color: #fcb316;
}

.trpDisplayPicture.busy .trpStatus {
  background-color: #ff2400;
}

.trpInput {
  border: 1px solid @trpGrey;
  padding: 8px;
  color: @trpDarkGrey;
  border-radius: 0px;
  margin-bottom: 4px;
}

.tooltip-inner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
