// Our colour palette
@trpGreen: #1dce73; // lumo green
@trpRed: #d54f68; // pinky red
@trpPurple: #494259; // dark purple
@trpGrey: #c0c9c8; // mid grey
@trpCyan: #1dd0cd; // turquoise
@trpYellow: #fcb316; // moutard
@trpOffWhite: #f6f6f6; // off-white
@trpLightGrey: #d6d6d6; // darker off-white for borders and ting
@trpDarkGrey: #333;
@trpDarkerGrey: #666666; // dark grey
@trpDarkCream: #b5bfb5;
@trpBgColor: #ecf1ec;
@trpBgColor2: #f7faf5;
@trpDarkBlue: #17202a;
@trpBgAccent: #d3dfd3;
