@import "typography.less";
@import "colors.less";
@import "trpButtons.less";
@import "trp3Vars.less";
@import "trpModals.less";

body {
  margin: 0;
}

a {
  color: #e74c3c;
}

p {
  font-size: 11px;
}

.trpHookItem {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
  border-bottom: 1px dashed #CCC;
  font-size: 11px;

  form {
    width: 100%;
  }

  .action {
    display: inline-block;
    float: right;
  }

  .details {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
    color: #999;

    p {
      margin: 0px 0px 2px 0px;
    }
  }

  .service {
    font-size: 13px;
    display: inline-block;
    color: #333;
  }

}

.trpHookItem:hover {
  background-color: rgba(200,200,200,0.5);
}

h3 {
  font-weight: normal;
}

form.add-integration {
  display: inline-block;
  button {
    width: 171px;
    text-align: center;
    margin-bottom: 4px;
    img {
      float: left;
    }
    div {
      float: left;
    }
  }
}

.fork-me {
  float: right;
}
