@import "trpButtons.less";

.separate-unit {
  margin-bottom: 15px;
}

.trpSearchInviteResult {
  margin-right: 12px;
  vertical-align: middle;
}

.trpSearchInvites {
  max-height: 185px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  .separate-unit
}

.trpInviteModal, .trpInviteModal .modal-body {
  overflow: visible;
}

.trpInviteModal input {
  box-sizing: border-box;
  padding: 8px 8px 8px 8px;
  height: 34px;
}

// nasty hack to get an expandable centre column
.trpInviteItem {
  display: table;
  table-layout: fixed;

  .avatarContainer {
    display: table-cell;
    vertical-align: middle;
    width: 42px;
    .trpInviteAvatar {
      display: block;
    }
  }

  .trpInviteName, input {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  .inviteButtonContainer {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
  }
}

.trpInviteItem {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 8px 8px 8px;
  margin-bottom: 4px;
  background-color: @trpBgColor;
  p {
    .trpBodyMedium;
    margin: 0;
  }
}

.trpEnterEmailRow {
  .trpInviteItem;
  .separate-unit;
}

.trpInviteButton {
  float: right;
  .trpButton;
}
.trpInviteButton.disabled {
  opacity: 0.5;
  cursor: default;
}

.trpInviteAvatar {
  .trpDisplayPicture;
  .avatar-xs;
}

.trpInviteName {
  .trpBodyMedium;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trpInviteEmails {
  .trpBodySmall;
  color: @trpDarkGreen;
}

#invite-success {
  width: 100%;
  bottom: 0;
  @media screen and (max-width: 720px) {
    position: fixed;
  }
  @media not screen and (max-width: 720px) {
    position: absolute;
    box-sizing: border-box;
  }
}

#invite-success.hidden {
  opacity: 0;
  transition: all 1s ease-in-out;
}

#share-info {
  font-size: 14px;
  line-height: 24px;
  user-select: text;
}

#sharelink {
  color: @trpGreen;
}
