@import "trpMobileApp.less";
@import "userhome.less";

#userhome {

  br, .trpBodyMedium, .trpBodySmall {
    display: none;
  }

  a {
    .trpHelpBox {
      box-sizing: border-box;
      width: 100%;
      margin-top: 5px;
    }
  }
}

#get-troupe {
  display: none;
}

#content {
  padding-bottom: 0;
}
