@import (less) "../fonts/fontello/css/fontello.css";
@import (less) "../fonts/octicons/octicons.css";

/* THIS HAS INTENTIONALLY BEEN COMMENTED OUT AND WILL BE USED FOR WHEN THE HOME PAGE USES THIS LESS FILE*/
/*@font-face {
  font-family: 'DP';

  src: url('../fonts/sourcesans/fonts/dp.eot');

  src: url('../fonts/sourcesans/fonts/dp.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesans/fonts/dp.woff') format('woff'),
       url('../fonts/sourcesans/fonts/dp.ttf') format('truetype'),
       url('../fonts/sourcesans/fonts/dp.svg#dp') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/


@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-Regular.otf.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-It.otf.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-Bold.otf.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-Semibold.otf.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-BoldIt.otf.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-Light.otf.woff") format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-ExtraLight.otf.woff") format('woff');
    font-weight: 200;
}



@font-base: "source-sans-pro", "pt sans", "calibri", sans-serif;

/* Values derived from Major Second in http://type-scale.com/?size=16&scale=1.200&text=The%20quick%20brown%20fox%20jumped%20over%20the%20lazy%20dog&webfont=Source%20Sans%20Pro&font-family=Source%20Sans%20Pro&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333*/


body {
  background-color: white;
  font-family: @font-base;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 1.802em;
  margin: 0.901em 0;
}

h2 {font-size: 1.424em;}

h2 + p {
  margin-top: 0;
}

h3 {font-size: 1.266em;}

h4 {font-size: 1.125em;}

h5 {font-size: 1em; text-transform: uppercase; margin-bottom: 0.2em; font-weight: 400;}

small, .u-font-smaller {font-size: 0.889em;}
ul, ol {
  margin-top: 0;
  margin-bottom: 0.6;
  ul, ol {
    margin-bottom: 0;
  }
}

.u-font-larger {
  font-size: 1.125em;
}

input {
  font-family: inherit;
}

// This hack appears in an old Chrome issue to fix font rendering similar to what we're experiencing
// https://bugs.chromium.org/p/chromium/issues/detail?id=336476#c40

body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}
