.tags-modal {
  padding: 0 9px;
  margin-bottom: 15px;

  border: 1px solid #C0C9C8;
  border-radius: 4px;

  background: rgba(192, 201, 200, 0.5);
  color: rgba(0, 0, 0, 1);
}

.tag-list-edit__input {
  width: 100%;
  margin-top: 9px;
  box-shadow: none;
  border: none;
  background: none;
  outline: none;

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

/*
.tag-list-edit {
  .clearfix();
}

.tag-list-edit__label {
  float: left;
  width: 82%;
}

.tag-list-edit__button {
  float: right;
}
*/
