@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-Regular.otf.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-It.otf.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-Bold.otf.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-Semibold.otf.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-BoldIt.otf.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-Light.otf.woff") format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("/_s/l/fonts/sourcesans/SourceSansPro-ExtraLight.otf.woff") format('woff');
    font-weight: 200;
}



@font-base: "source-sans-pro",
            /*
             * native ios and android cant read from "/_s/l", but they look better with
             * the same system fonts as the native elements anyway
             */
            -apple-system, "Roboto",
            /*
             * fonts for when our cdn explodes
             */
            "pt sans", "calibri", sans-serif;


.m-default-fonts() {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;

  & .fonts-loaded, &.fonts-loaded {
    font-family: @font-base;
  }
}
