@font-base: "source-sans-pro",
            /*
             * native ios and android cant read from "/_s/l", but they look better with
             * the same system fonts as the native elements anyway
             */
            -apple-system, "Roboto",
            /*
             * fonts for when our cdn explodes
             */
            "pt sans", "calibri", sans-serif;


.m-default-fonts() {
  //Try local sorce-sans-pro fallback to helvetica
  font-family: "Source Sans Pro" Helvetica, Arial, sans-serif;

  .fonts-loaded & {
    font-family: @font-base;
  }
}
