<div class="panel-footer__item--search" id="panel-footer--search">
  <h1 class="panel-footer__title">Discover Everything</h1>
  <h2 class="panel-footer__desc">Find more communities to join</h2>
  <a class="panel-footer__button button-caribbean--small" href="/home/explore">Explore</a>
  <img class="panel-footer__img" src="{{cdn "images/svg/menu/explore-background.svg"}}" />
</div>
<div class="panel-footer__item--all" id="panel-footer--all">
  <a href="#createroom" class="js-create-room-button panel-footer__create-room button-caribbean--small" title="Create room">Add a room</a>
</div>
