@import "trp3Vars";
@import "../../../../../less/components/menu/room/menu-text.less";

.panel-footer-container {
  margin-top: auto;
  overflow:   hidden;
}

.panel-footer {
  position:       relative;
  text-align:     center;
  padding:        @desktop-menu-left-padding;
  padding-bottom: 8.8rem;
  transition:     transform .2s ease-in-out;
  transform:      translateY(100%);

  &.active {
    transform: translateY(0);
  }
}

.panel-footer__title {
  color:     #bdbdbd;
  font-size: 2.5rem;
}

.panel-footer__desc {
  .room-menu-text();
  line-height: 1.5;
}

.panel-footer__link {
  border: 1px solid @ruby;
}

.panel-footer__img {
  position: absolute;
  bottom:   0;
  left:     0;
  width:    100%;
  height:   auto;
  pointer-events: none;
}
