@import "trp3Vars";
@import "../../../../../less/components/menu/room/menu-text.less";

.panel-footer__link {
  .room-menu-text();
  padding-right: @desktop-menu-left-padding;

  &:hover {
    cursor: pointer;
  }
}

.panel-footer {
  position:   absolute;
  bottom:     0;
  right:      0;

  display: flex;
  flex-direction: row-reverse;

  height:     @menu-footer-height;
  width:      100%;
  background: @menu-panel-bg;

  //hide on mobile
  .mobile & {
    display: none;
  }
}
