<td>{{email}}</td>
<td>{{status}}</td>
<td>
{{#if isUnconfirmed}}
    <a class="trpButtonMedium trpBtnGreen" id="resendConfirmBtn">Resend Confirmation</a>
{{/if}}
{{#if isSecondary}}
    <a class="trpButtonMedium trpBtnGreen" id="makePrimaryBtn">Make Primary</a>
{{/if}}
{{#unless isPrimary}}
    <a class="trpButtonMedium trpBtnGreen" id="deleteEmailBtn">Delete</a>
{{/unless}}
</td>