<div class="trpModalProfile">
  <div class="trpModalProfilePic">
    <div id="frame-profile">{{ widget "avatar" user=user size='s' }}</div>
    <div class="button-choose-avatar trpModalSubtext">Change picture</div>
  </div>
  <form action="/updateprofile" method="post" id="updateprofileform" style="display: inline-block; text-align: left">
    <div class="trpProfileForm">

        <div class="trpFormItem">
          <label for="displayName" class="trpFormLabel">Full Name</label>
          <input type="text" id="displayName" class="trpInput" name="displayName" value="{{displayName}}" placeholder="Enter your full name"/>
        </div>
        {{#existingUser}}
        <div class="trpFormItem">
          <label for="newEmail" class="trpFormLabel">Email Address</label>
          <input type="email" readonly id="email" placeholder="Change to a new email address" class="trpInput" name="newEmail" value="{{user.email}}"/>
          <a id="manageEmailsBtn" href="#|profile/emails" class="trpFormInputAction" style="text-decoration: none">
            <img src='{{ cdn "images/2/icon-edit.png"}}' width="16" height="16" title=""/ style="vertical-align: middle; padding-bottom: 1px">
            <span>CHANGE</span>
          </a>
        </div>
        {{/existingUser}}
        <div class="trpFormItem">
          <label for="password" class="trpFormLabel">Password</label>
          {{#hasPassword}}
          <input type="password" id="password" class="trpInput" name="password" value="" placeholder="It's a secret">
          {{/hasPassword}}
          {{^hasPassword}}
          <input type="password" id="password" class="trpInput" name="password" value="" placeholder="Choose a password">
          <br><br>
          {{/hasPassword}}
        </div>

        {{#hasPassword}}
        <div class="trpFormItem" id="old-password" style="display: none">
          <label class="trpFormLabel" for="oldPassword">Old password</label>
          <input type="password" id="oldPassword" placeholder="Enter your OLD password" class="trpInput" name="oldPassword"/>
        </div>
        {{/hasPassword}}
    </div>
    <div style="text-align: center">
    <button type="submit" class="trpButtonBig trpBtnGreen" name="submit">Save</button>
    <button class="trpButtonBig trpBtnGreen">Signout</button>
    </div>
  </form>
 </div>
 <div class="trpModalFailure form-failure" style="display:none">
  <span class="trpModalTitle"><span class="trpModalFailureText failure-text">There is an error with the form fields</span></span>
 </div>
</div>

