<div class="trpModalProfile">

  <div class="trpModalTitle">
    {{#if existingUser}}
       Edit your profile
    {{else}}
      A few details and you're done
    {{/if}}
  </div>


  <div class="trpModalProfilePic">
  {{ widget "avatar" user=user size='s' }}
  <div class="trpModalSubtext button-choose-avatar">Change picture</div>
  <form action="/updateprofile" method="post" id="updateprofileform">
    <div class="trpProfileForm">
      <input type="text" id="displayName" class="trpInput" name="displayName" value="{{displayName}}" placeholder="Click here and type your name"><br>
      {{#if existingUser}}
        <input type="password" id="password" class="trpInput" name="password" value="" placeholder="Optional: Change password"><br>
      {{else}}
        <input type="password" id="password" class="trpInput" name="password" value="" placeholder="Then choose a password"><br>
      {{/if}}

      {{#existingUser}}
      <input type="password" id="oldPassword" placeholder="Enter your OLD password" class="trpInput hide" name="oldPassword"><br>
      {{/existingUser}}
    </div>
    <input type="submit" class="trpButtonBig trpBtnGreen getstarted" name="submit" value="Save">
  </form>
 </div>
 <div class="trpModalFailure form-failure" style="display:none">
  <span class="trpModalTitle"><span class="trpModalFailureText failure-text">There is an error with the form fields</span></span>
</div>

