<div class="trpModal">
  <p class="trpBodySmall">
    If you have multiple email addresses, it's a good idea to add them here so when
    people invite you to Troupe using a different email address, we'll know who you are.
    <br/><br/>
    Notifications will always be sent to your primary email address.
  </p>
  <br/>

  <div style="max-height: 160px;overflow:scroll;">
  <table>
    <thead class="trpBodyMedium" style="text-align: left">
      <tr>
        <th>Email address</th><th>Status</th>
      </tr>
    </thead>
    <tbody id="emailCollectionView" class="trpBodySmall">
    </tbody>
  </table>
  </div>
  <br><br><br>

  <button id="addEmailBtn" class="trpButtonBig trpBtnGreen" href="#|profile/emails/add">Add</button>
  <button id="backBtn" class="trpButtonBig trpBtnGreen">Back</button>
  <br/><br/>

  <div class="trpModalSuccess" style="display: none">
  </div>
</div>

