
<form>
<p class="trpBodySmall">
    Enter the email address you want to add to your account.
</p>
<input type="email" name="email" class="trpInput"/>
</form>

<button class="trpButtonBig trpBtnGreen" type="submit" id="saveEmailBtn">Add</button>
<a href="#|profile/emails" class="trpButtonBig trpBtnGreen" id="saveEmailCancelBtn">Cancel</a>

<br><br>

<div class="trpModalFailure form-failure" style="display:none">
  <span class="trpModalTitle"><span class="trpModalFailureText failure-text">There is an error with the form fields</span></span>
</div>
