<div class="trpModal">
  <p class="trpBodySmall">
    If you have multiple email addresses, it's a good idea to add them here so when
    people invite you to Troupe using a different email address, we'll know who you are.
    <br/><br/>
    Notifications will only be sent to your primary email address.
  </p>
  <br/>

  <div style="max-height: 160px;overflow:auto;">
  <table id="secondaryEmailTable" width="100%">
    <thead class="trpBodyMedium" style="text-align: left;border-bottom: 1px solid black">
      <tr>
        <th>Email address</th><th>Status</th>
      </tr>
    </thead>
    <tbody id="emailCollectionView" class="trpBodySmall">
    </tbody>
  </table>
  </div>
  <br>

  <button id="addEmailBtn" class="trpButton" href="#|profile/emails/add">Add an email address</button><br><br>
  <button id="backBtn" class="trpButtonBig trpBtnGreen">Back</button>
  <br/><br/>

  <div class="trpModalSuccess" style="display: none">
  </div>
</div>

