<div class="modal-content" style="text-align: center">
    <a href="{{path}}/login" id="existing-user-login-button" class="trpButtonBig trpButtonGreen">Existing user<br><span class="trpBodyTiny">Login here</small></a>
    <a href="{{path}}/signup" id="new-user-signup-button" class="trpButtonBig trpButtonGreen">New user<br><span class="trpBodyTiny">Start chatting</small></a>
    <br><br>
</div>