<div class="modal-content" style="text-align: center">
    <a href="{{path}}/login" class="trpButtonBig trpButtonGreen">Existing user<br><span class="trpBodyTiny">Login here</small></a>
    <a href="{{path}}/signup" class="trpButtonBig trpButtonGreen">New user<br><span class="trpBodyTiny">Start chatting</small></a>
    <br><br>
</div>