<div class="modal-content" style="text-align: center">
    <p class="trpBodyMedium">Do you have an account on Troupe?</p>

    <a href="{{path}}/login" class="trpButtonBig trpButtonGreen">Yes<br>(login)</a>
    <a href="{{path}}/signup" class="trpButtonBig trpButtonGreen">No<br>(one-click signup)</a>
    <br><br>
</div>