.room-menu__panel {
  box-sizing:       border-box;
  position:         absolute;
  top:              0;
  left:             0;
  height:           100%;
  padding-left:     100%;
  background-image: linear-gradient(
    #251546 30%,
    #513173 60%,
    #842a36
  );

  //TODO Check how this works on other monitor sizes
  transform:    translateX(-78%);
  transition:   transform .2s linear .1s;

  //TODO not so sure about this JP 22/1/16
  & > *:not(.notification-center) { opacity: 0; }

  &.active {
    transform: translateX(0);
    &:after { background-color: rgba(255,255,255,.2); }
    //Ouch @MadLittleMods may pwn me for this ;) JP 25/1/16
    & > *:not(.notification-center) { opacity: 1; }
  }

  //Right hand border
  &:after {
    content:  ' ';
    display:  inline-block;
    position: absolute;
    top:      0;
    right:    0;
    width:    @left-menu-panel-border-width;
    height:   100%;
    background-color: transparent;
    transition: background-color .2s liner;
  }

  //image background
  &:before {
    content:             ' ';
    display:             inline-block;
    position:            absolute;
    top:                 0;
    left:                0;
    width:               100%;
    height:              100%;
    background-image:    url('../images/left-menu-background-darker.jpg');
    background-position: bottom right;
    background-repeat:   no-repeat;
    background-size:     cover;
    z-index:             -1;
  }

  .mobile & {
    width: @menu-panel-mobile-width;
    padding-bottom: @mobile-header-height;
  }

  .desktop & {
    width: @menu-panel-desktop-width;
    padding-bottom: @desktop-header-height;
  }
}

.room-menu__panel-inner {
  width: 100%;
  height: 100%;

  & > .nano-pane {
    left: auto;
    right: 0;

    display: flex;
    justify-content: center;
    width: @left-menu-panel-border-width;

    & > .nano-slider {
      width: 8px;
      margin: 0;
      border-radius: 8px;
    }
  }
}
