.room-menu__panel {

  @panel-border-width: (@desktop-menu-left-padding / 2);

  box-sizing:   border-box;
  position:     absolute;
  top:          0;
  left:         0;
  height:       100%;
  padding-left: 100%;

  background-image:    url('../images/left-menu-background.jpg');
  background-position: bottom right;
  background-repeat:   no-repeat;
  background-size:     cover;

  //TODO Check how this works on other monitor sizes
  transform:    translateX(-78%);
  transition:   all .2s linear .1s;

  //TODO not so sure about this JP 22/1/16
  & > * { opacity: 0; }

  &.active {
    transform: translateX(0);
    &:before { background-color: rgba(255,255,255,.1); }
    //Ouch @MadLittleMods may pwn me for this ;) JP 25/1/16
    & > * { opacity: 1; }
  }

  //Right hand border
  &:before {
    content:  ' ';
    display:  inline-block;
    position: absolute;
    top:      0;
    right:    0;
    width:    @panel-border-width;
    height:   100%;
    background-color: transparent;
    transition: background-color .2s liner;
  }

  &:after {
    content:         ' ';
    display:         flex;
    justify-content: center;
    align-items:     center;
    position:        absolute;
    top:             0;
    left:            0;
    width:           100%;
    height:          100%;
    color:           @menu-item-color;
    pointer-events:  none;
    transition:      opacity .2s ease-in-out;
    opacity:         0;
  }

  &.loading {
    &:after {
      opacity: 1;
    }
  }

  .mobile & {
    width: @menu-panel-mobile-width;
    padding-bottom: @mobile-header-height;
  }

  .desktop & {
    width: @menu-panel-desktop-width;
    padding-bottom: @desktop-header-height;
  }
}

