<div class="modal-header">
    {{^disableClose}}
    <a class="close">×</a>
    {{/disableClose}}
    <div class="trpModalHeader">
    	<div class="trpModalLogo"><img src="images/2/logo-green.png"></div>
    	<div class="trpModalMenu"><!--<a href="#">Sign in</a>--></div>
    </div>
</div>
<div class="modal-body">
   
</div>
