<div class="modal-header">
    <div class="trpModalHeader">
    	<div class="trpModalLogo"><img src="images/2/logo-green.png"></div>
    	<div class="trpModalMenu frame-menu-items">
    		<div class="trpModalClose">
     		   {{^disableClose}}
   		     <a class="close">×</a>
   		       {{/disableClose}}
      		</div>
    	</div>      
    </div>
</div>
<div class="modal-body">
   
</div>
