<div>
  <div class="trpSettingsButton">
    <img src='{{cdn "images/2/icon-settings-black.png" }}' style="opacity: 0.6" width="24" height="24">
  </div>
  <div class="trpProfileButton">
   {{ widget "avatar" user=user size='xs' }}
  </div>
  <div class="trpProfileMenu">
    <span class="trpProfileItem">
      <a href="#|profile">Profile</a>
    </span>
    <span class="trpProfileItem">
      <a href="/signout">Sign Out</a>
    </span>
  </div>
</div>