.app-layout {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}

// there is only ever going to be one menu region
// on the page. This is an id selector. Deal with it.
#menu-region {
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

// deal with it some more.
#iframe-region {
  height: 100%;
  position: relative;
  flex-grow: 1;
}
