@import (reference) "../../../less/base-zindex-levels";
@import (reference) "../../../less/colors.less";
@import (reference) "../../../less/trp3Vars.less";
@import (reference) "../../../less/trpButtons.less";

@import "../controls/dropdown";

.chat-header {

  box-sizing: border-box;

  z-index: @l1;
  position: absolute;
  display: flex;
  width: 100%;
  // header can expand to fit long topics when hovered over
  min-height: 75px;

  padding-left: @desktop-menu-left-padding;
  padding-right: @desktop-menu-left-padding;

  background-color: rgba(255, 255, 255, 0.97);
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.chat-header-inner {
  overflow: hidden;
  flex: 1;
  display: flex;
  align-items: center;
}


.chat-header__content {
  box-sizing:  border-box;
  overflow:    hidden;
  flex:        1;
  display:     flex;
  align-items: center;
  width:       auto;
  margin-left: 18px;
  margin-right: 2em;

  .topic-input {
    width: 95%;
    resize: none;
    height: 20px;
    margin-bottom: 0px;
    padding: 1px 2px;
  }
}

.chat-header__header {
  display: inline;
  padding-right: 10px;
  margin: 0;
  margin-right: 10px;
  color: #333;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }
}

.chat-header__topic {
  overflow: hidden;
  flex: 1;
  // min height so that an empty topic can be double clicked to edit
  min-height: 30px;
  // max height to allow height animations
  max-height: 30px;
  margin: 5px 0 0 0;

  color: #777;
  line-height: 25px;
  font-style: italic;
  text-overflow: ellipsis;
  white-space: nowrap;

  transition: max-height .5s ease-in-out;

  &:hover {
    // pleanty of room to auto expand into
    max-height: 800px;
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
  }
}

.chat-header__topic a {
  color: #666;

  &:hover {
    color: @trpLightBlue;
  }
}

.chat-header__content h1 .octicon-lock:before {
  font-size: 16px;
  position: relative;
  top: -3px;
  left: 5px;
  color: #666;
}

.chat-header__content .icon-lock {
  font-size: 16px;
}

.chat-header__permission-icon, .chat-header__title {
  vertical-align: middle;
}


.chat-header__buttons {
  float: right;
  user-select: none;
}






.chat-header__org-page,
.chat-header__favourite,
.chat-header__settings {
  body.embedded & { visibility: hidden; }
  display: inline-block;
  margin-left: 2px;

  font-size: 26px;
  line-height: 1;
  color: rgba(51, 51, 51, 0.4);
  text-align: center;
  cursor: pointer;

  transition: color .2s ease-in-out;

  &:hover {
    color: rgba(51, 51, 51, 1);
  }


  & > .chat-header__action-icon {
    color: inherit;
  }
}

.chat-header__org-page {
  .chat-header__action-icon {
    /* To make the octicon equal with the font-icon */
    margin-left: 0.15em;
    margin-right: 0.15em;
    font-size: 1.1em;
  }
}

.chat-header__favourite {
  &.favourite {
    color: #f1c40f;
  }
}



.chat-header__avatar {
  @side: 48px;
  height: @side;
  float: left;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  user-select: none;

  img {
    width: @side;
    height: @side;

    border-radius: 4px;
  }
}

.chat-header__avatar--pro {
  &:after {
    position: absolute;
    display: inline-block;
    content: '';
    background: @pro;
    height: 4px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    bottom: 0px;
    width: 100%;
    left: 0;
    border-radius: 0 0 4px 4px;
  }
}

// stop the header from covering the first chat message
.collaborators-container {
  margin-top: 72px;
}
