@import (reference) "../../../less/base-zindex-levels";
@import (reference) "../../../less/colors.less";
@import (reference) "../../../less/trp3Vars.less";
@import (reference) "../../../less/trpButtons.less";

@import "../controls/dropdown";

.chat-header {

  box-sizing: border-box;

  z-index: @l1;
  position: absolute;
  width: 100%;

  padding: 10px 26px;

  background-color: rgba(255, 255, 255, 0.97);
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

@banner-height: 26px;

body.banner-top {
  .chat-container > div:first-child {
    padding-top: 100px;
  }
}

.banner-wrapper {
  text-align: left;
  position: absolute;
  top: 90px;
  right: 15px;
  overflow: hidden;
  height: @banner-height;
  z-index: 1;
  width: 100px;

  //margin-left: 44px;
  //margin-right: 40px;
  @media @mid {
    //margin-left: 32px;
    //margin-right: 32px;
  }
  @media @small {
    //margin-left: @leftMarginSmall + 42px;
    //margin-right: 42px;
  }

  .banner {
    transition: top .2s ease-in-out;

    &.slide-away {
      top: -100%;
    }

    .mention {
      color: @orange;
      background-color: rgba(250,229,210,0.8);
      border: 1px solid @orange;
    }

    .unread {
      color: @green;
      background-color: rgba(213,245,226,0.8);
      border: 1px solid @green;
    }

    button {
      .trpButton;
      cursor: pointer;
      font-size: 12px;

      color: #666;
      background-color: #CCC;
      border: 1px solid #666;

      padding: 2px 4px;
      border-radius: 2px;

      &:hover {
        outline: none;
      }

      &.main {
        width: 100%;
        text-align: left;
      }

      &.side {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
      }

      #banner-message {
        margin-left: 4px;
      }
    }
  }
}

.banner-wrapper.bottom {
  top: auto;
  bottom: 10px;
  left: auto;
  right: 15px;

  .banner {
    top: auto;
    bottom: 0;

    transition: bottom .2s ease-in-out;

    &.slide-away {
      top: auto;
      bottom: -100%;
    }
    button.side {
      display: none;
    }
  }
}

.chat-header__favourite {
  display: inline-block;
  // padding: 0px 25px 0px 0px;
  text-align: center;
  line-height: 49px;
  margin: 0px 0px 0px 10px;

  i {
    cursor: pointer;
    opacity: 0.4;
    transition: opacity .2s ease-in-out;
    font-size: 20px;
    font-style: normal;
  }

  i:hover {
    opacity: 1;
  }

  .favourite {
    opacity: 1;
    color: #f1c40f;
  }
}


.chat-header__content {
  box-sizing: border-box;
  overflow: hidden;
  width: auto;
  margin: 0 38px 0 68px;

  .topic-input {
    width: 95%;
    margin-bottom: 10px;
    resize: none;
  }

  h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    display: inline;
    margin-right: 10px;
    padding-right: 10px;

    a:hover {
      text-decoration: none;
    }
  }

  p {
    white-space: normal;
    word-wrap: break-word;
    color: #777;
    margin: 0 0 0 1px;
    user-select: text;
    min-height: 27px;
    line-height: 1.3;

    a {
      color: #666;
    }

    a:hover {
      color: @trpLightBlue;
    }
  }
}

.chat-header__content h1 .octicon-lock:before {
  font-size: 16px;
  position: relative;
  top: -3px;
  left: 5px;
  color: #666;
}

.chat-header__content .icon-lock {
  font-size: 16px;
}

.chat-header__permission-icon, .chat-header__title {
  vertical-align: middle;
}


.chat-header__buttons {
  float: right;
}

.chat-header__settings {
  body.embedded & { visibility: hidden; }
  display: inline-block;
  text-align: center;
  line-height: 49px;
  margin: 0px 0px 0px 10px;

  i {
    cursor: pointer;
    opacity: 0.4;
    transition: opacity .2s ease-in-out;
  }

  i:hover {
    opacity: 1;
  }
}

.chat-header__avatar {
  @side: 48px;
  height: @side;
  float: left;
  box-sizing: border-box;
  background-color: white;
  position: relative;

  img {
    width: @side;
    height: @side;

    border-radius: 4px;
  }
}

.chat-header__avatar--pro {
  &:after {
    position: absolute;
    display: inline-block;
    content: '';
    background: @pro;
    height: 4px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    bottom: 0px;
    width: 100%;
    left: 0;
    border-radius: 0 0 4px 4px;
  }
}

// stop the header from covering the first chat message
.chat-container > div:first-child {
  padding-top: 72px;
}
