@import (reference) "../../../less/base-zindex-levels";
@import (reference) "../../../less/colors.less";
@import (reference) "../../../less/trp3Vars.less";
@import (reference) "../../../less/trpButtons.less";

@import "../controls/dropdown";

@chat-header-height: 75px;
@chat-header-heading-font-size: 24px;
@chat-header-heading-line-height: 40px;
@chat-header-topic-font-size: 1em;
@chat-header-topic-line-height: 25px;

.chat-header {

  box-sizing: border-box;

  z-index: @l1;
  position: absolute;
  display: flex;
  width: 100%;

  padding-left: @desktop-menu-left-padding;
  padding-right: @desktop-menu-left-padding;

  background-color: rgba(255, 255, 255, 0.97);
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.chat-header-inner {
  overflow: hidden;
  flex: 1;
  display: flex;
  align-items: flex-start;
}

.chat-header__main-grouping {
  display: flex;
  align-items: center;
  // header can expand to fit long topics when hovered over
  min-height: @chat-header-height;
}


.chat-header_header-grouping {
  overflow: hidden;
}

.chat-header__heading {
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 18px;
  padding-right: 20px;

  white-space: nowrap;
}

.chat-header__title {
  overflow: hidden;
  display: inline-block;
  max-width: 100%;

  color: #333;
  font-size: @chat-header-heading-font-size;
  line-height: @chat-header-heading-line-height;
  font-weight: 600;
  text-overflow: ellipsis;

  &:hover {
    text-decoration: none;
  }
}

.chat-header__topic-grouping {
  overflow: hidden;
  position: relative;
  flex: 1;

  & .topic-input {
    width: 95%;
    resize: none;
    height: 20px;
    margin-bottom: 0px;
    padding: 1px 2px;
  }

}

.chat-header__topic-wrapper {
  align-self: flex-start;
  width: 100%;
  white-space: nowrap;

  @space-to-chat-header: (@chat-header-height - @chat-header-heading-line-height) / 2;
  @chat-header-font-vertical-padding: (@chat-header-heading-line-height - @chat-header-heading-font-size) / 2;
  @vert-diff-baseline-offset-between-header-and-topic: @chat-header-font-vertical-padding ~"+" @chat-header-heading-font-size ~"-" @chat-header-topic-line-height;
  // The extra `.125` is for account for desenders to match baseline
  margin-top: calc(@space-to-chat-header ~"+" @vert-diff-baseline-offset-between-header-and-topic ~"+" .125em);
}

.chat-header__topic {
  box-sizing: border-box;
  overflow: hidden;
  display: inline-block;
  vertical-align: baseline;
  width: 100%;
  // min height so that an empty topic can be double clicked to edit
  min-height: @chat-header-topic-line-height;
  // max height to allow height animations
  max-height: @chat-header-topic-line-height;
  margin: 0;
  padding-right: 2em;

  color: #777;
  font-size: @chat-header-topic-font-size;
  line-height: @chat-header-topic-line-height;
  font-style: italic;
  text-overflow: ellipsis;
  white-space: nowrap;

  transition: max-height .5s ease-in-out;

  .chat-header__topic-wrapper:hover & {
    // pleanty of room to auto expand into
    max-height: 800px;

    white-space: normal;
    word-wrap: break-word;
  }
}

.chat-header__topic a {
  color: #666;

  &:hover {
    color: @trpLightBlue;
  }
}

.chat-header__content h1 .octicon-lock:before {
  font-size: 16px;
  position: relative;
  top: -3px;
  left: 5px;
  color: #666;
}

.chat-header__content .icon-lock {
  font-size: 16px;
}

.chat-header__permission-icon, .chat-header__title {
  vertical-align: middle;
}







.chat-header__org-page,
.chat-header__favourite,
.chat-header__settings {
  body.embedded & { visibility: hidden; }
  display: inline-block;
  margin-left: 2px;

  font-size: 26px;
  line-height: 1;
  color: rgba(51, 51, 51, 0.4);
  text-align: center;
  cursor: pointer;

  transition: color .2s ease-in-out;

  &:hover {
    color: rgba(51, 51, 51, 1);
  }


  & > .chat-header__action-icon {
    color: inherit;
  }
}

.chat-header__org-page {
  .chat-header__action-icon {
    /* To make the icon equal with the other font-icons */
    margin-left: 0.18em;
    margin-right: 0.18em;
  }
}

.chat-header__favourite {
  &.favourite {
    color: #f1c40f;
  }
}

.chat-header__avatar-grouping {
  flex-shrink: 0;
}

.chat-header__avatar {
  @side: 48px;
  height: @side;
  float: left;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  user-select: none;

  img {
    width: @side;
    height: @side;

    border-radius: 4px;
  }
}

.chat-header__avatar--pro {
  &:after {
    position: absolute;
    display: inline-block;
    content: '';
    background: @pro;
    height: 4px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    bottom: 0px;
    width: 100%;
    left: 0;
    border-radius: 0 0 4px 4px;
  }
}

// stop the header from covering the first chat message
.collaborators-container {
  margin-top: 72px;
}
