.upgrade {

  p {
    font-family: @fontSans;
    font-size: 14px;
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
  }

  small {
    font-family: @fontSans;
    font-size: 11px;
  }
} 
