<header id="collection-header" class="collection-header {{#if isSuggestion}}suggestion{{/if}}">
  <h2 id="collection-header-text" class="collection__title">{{ header }}</h2>
  {{#if isSuggestion}}
    <i id="dismiss-suggestion" class="icon-cancel-circle collection-header__dismiss-suggestion"></i>
  {{else}}
    <i id="dismiss-suggestion" class="icon-cancel-circle collection-header__dismiss-suggestion hidden"></i>
  {{/if}}
</header>
<div id="collection-list" class="collection-list"></div>
