{{#if header}}
  <header id="collection-header" class="collection-header {{#if isSuggestion}}suggestion{{/if}}">
  <h2 class="collection__title">{{ header }}</h2>
  {{#if isSuggestion}}
    <i class="icon-cancel-circle collection-header__dismiss-suggestion"></i>
  {{/if}}
</header>
{{/if}}

<div id="collection-list" class="collection-list"></div>
