@import "trp3Vars";
@import "../../../../../less/components/menu/room/menu-text";
@import "../../../../../less/components/menu/room/collection";
@import "../../../../../less/components/menu/room/menu-text";

.collection {
  .m-collection();
}

.collection__title {
  .room-menu-text();
  box-sizing:     border-box;
  padding-left:   @desktop-menu-left-padding;
  color:          @menu-collection-title;
  text-transform: uppercase;
  margin-top:     1.6rem;

  &.search {
    color: @jaffa;
  }
}

.collection-list {
  margin-left: 0;
}

.collection-header {
  position: relative;

  &.suggestion {
    &:hover {
      cursor: pointer;
    }
  }
}

.collection-header__dismiss-suggestion {
  position:   absolute;
  top:        50%;
  right:      @desktop-menu-left-padding;
  transform:  translateY(-50%);
  color:      @menu-collection-title;
}
