{{#if header}}
<header>
  <h2 class="secondary-collection__title {{#if isSearch}}search{{/if}}">
    {{ header }}
  </h2>
</header>
{{/if}}

<div class="js-collection-list secondary-collection-list"></div>
