{{#if header}}
  <header id="collection-header" class="collection-header {{#if isSuggestion}}suggestion{{/if}}">
  <h2 class="collection__title">{{ header }}</h2>
  {{#if isSuggestion}}
    <i class="icon-cancel-circle collection-header__dismiss-suggestion"></i>
  {{/if}}
</header>
{{/if}}

<div id="collection-list" class="collection-list"></div>

{{#if shouldShowMore}}
<a class="room-item__container" href="{{orgRoomUrl}}" title="More {{selectedOrgName}} rooms">
  <img class="room-item__avatar--show-more" src="{{cdn "images/svg/menu/show-more-rooms.svg"}}" />
  <h2 class="room-item__title--show-more">Show All</h2>
</a>
{{/if}}
