<button title="Close" id="menu-toggle-button" class="room-menu-options__item-button menu-toggle-button">
  <svg
       class="menu-toggle-icon js-menu-toggle-icon"
       width="30px"
       height="34px"
       viewBox="0 0 30 34"
   >
    <path d="M0,6 l15,0 l15,0" />
    <path d="M0,17 l15,0 l15,0" />
    <path d="M0,28 l15,0 l15,0" />
  </svg>
</button>
