<a title="Close" id="menu-close-button" class="menu-close-button">
  <div class="close-icon">
    <div class="close-icon-stay"></div>
    <div class="close-icon-stay"></div>
    <div class="close-icon-stay"></div>
  </div>
</a>
