@import (reference) "base-zindex-levels";
@import 'components/menu/menu.less';

@minibar-top-offset: (3 * @desktop-header-height);
@minibar-bottom-offset: @desktop-header-height;
@minibar-bottom-offset-with-community-create: (2 * @desktop-header-height);


.room-menu-container {
  position:   relative;
  height:     100%;
  background: @menu-bg;
  z-index:    @zIndexLeftMenu;

  .mobile & {
    width: @mobile-menu-width;
    min-width: @mobile-header-height;
  }

  .desktop & {
    width: @desktop-menu-width;
  }

}

.room-menu {
  height:   100%;
  position: relative;
  z-index:  2;
}

.minibar {
  position:   relative;
  width:      100%;
  height:     100%;
  z-index:    1;

  &:before {
    content:    ' ';
    display:    inline-block;
    position:   absolute;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
    background: @menu-panel-bg;
    opacity:    .3;
    transform:  translate3d(0, 0, 0);
  }
}

.minibar-inner {
  position: absolute;
  top: @minibar-top-offset;
  bottom: @minibar-bottom-offset;
  height: auto;

  &.has-community-create {
    bottom: @minibar-bottom-offset-with-community-create;
  }

  & > .nano-pane {
    left: auto;
    right: 0;

    & > .nano-slider {
      background-color: #9996b0;
    }
  }
}


.room-menu-options {
  // `-webkit-overflow-scrolling: touch;` makes mobile-Safari not respect
  // the "containing block" with `position: fixed` for some reason, gitterHQ/change#36#issuecomment-214075326
  //
  // iOS seems to want to put `-webkit-overflow-scrolling: touch;` on the element itself
  // so `!important` is used here to override that. JP 26/4/16
  -webkit-overflow-scrolling: auto !important;
  display:                    flex;
  flex-direction:             column;
  margin-left:                0;
  margin-bottom:              0;
  list-style:                 none;
}

.sudo-panel() {
  content:    ' ';
  display:    inline-block;
  position:   absolute;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  transform:  translateX(-100%);
  transition: transform .2s linear;

}

.room-menu-options__item() {
  position:   relative;
  color:      white;
  text-align: center;

  width:      @desktop-menu-width;
  min-width:  @desktop-menu-width;
  height:     @desktop-header-height;
  min-height: @desktop-header-height;

  &:hover {
    cursor: pointer;
  }


  .mobile & {
    line-height: @mobile-header-height;
    height:      @mobile-header-height;
  }

  .desktop & {
    line-height: @desktop-header-height;
    height:      @desktop-header-height;
  }


}

.room-menu-options__item--all {
  .room-menu-options__item();
  background: rgba(0, 0, 0, .4);
  position:   fixed;
  top:        0;
  left:       0;
  color:      @ruby;

  &:before {
    background: @ruby;
  }

}

.room-menu-options__item--search {
  .room-menu-options__item();
  background: rgba(0, 0, 0, .3);
  position:   fixed;
  top:        @desktop-header-height;
  left:       0;
  color:      @jaffa;

  &:before {
    background: @jaffa;
  }
}

.room-menu-options__item--people {
  .room-menu-options__item();
  background: rgba(0, 0, 0, .1);
  position:   fixed;
  top:        @desktop-header-height * 2;
  left:       0;
  color:      @people-bg;

  &:before {
    background: @people-bg;
  }
}

.room-menu-options__item--favourite {
  .room-menu-options__item();
  background: rgba(0, 0, 0, .2);

  position:   fixed;
  top:        @desktop-header-height * 2;
  left:       0;

  //Replace with class
  & img {
    transition: transform .2s linear;
  }

  &.dropped {
    background: @caribbean;
    & img {
      transform: rotate(90deg) scale(1.5);
    }
  }

  //This is here because of a dragula bug JP 25/1/16
  & .room-item, & .room-item--one2one, & .room-item--favourite {
    display:  none;
  }

  color: @caribbean;
}

.room-menu-options__item--org {
  .room-menu-options__item();

  color: @org-bg;

  .room-menu-options__item-button {
    opacity:         .8;
  }

  .room-menu-options__item__avatar  {
    background-color: #ffffff;
  }
}

.room-menu-options__item--community-create {
  .room-menu-options__item();
  position:   fixed;
  bottom:     @desktop-header-height;
  left:       0;
}

.room-menu-options__item--close {
  .room-menu-options__item();
  color: @org-bg;
  margin-top: auto;
  position:   fixed;
  bottom:     0;
  left:       0;
}


.room-menu-options__item-button {
  display:          flex;
  justify-content:  center;
  align-items:      center;
  width:            100%;
  height:           100%;
  padding:          0;

  opacity:          .45;
  background-color: transparent;
  border:           0;
  transition:       opacity .1s ease-in;

  color:            inherit;
  text-decoration:  none;
  font-size:        0;
  line-height:      0;

  &:hover {
    opacity:         1;
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: none;
  }

  &.active,
  &.focus,
  &.dragging,
  .active > &,
  .focus > &,
  .dragging > & {
    opacity: 1;

    &:before {
      transform: translateX(0);
    }
  }

  &:before {
     .sudo-panel();
     background-color: currentColor;
  }
}


.room-menu-options__item__avatar  {
  z-index:       2;
  position:      relative;
  width:         2.34rem;
  height:        2.34rem;
  margin:        auto;

  border-radius: .2rem;

  .mobile & {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.room-menu-options__item__community-create-icon {
  font-size: 2.4rem;
}


.base-minibar-unread-indicator(@size) {
  box-sizing: border-box;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-50%) translateY(-50%);

  display: block;
  width: @size;
  height: @size;

  border: 2px solid @caribbean;
  border-radius: 100%;
  color: transparent;
}

.room-menu-options__item__unread-indicator-visibility-reset() {
  visibility: visible;
  transition-delay: 0s;
  transform: translateX(-50%) translateY(-50%);
}

@icon-size: 1.4rem;
.room-menu-options__item__unread-indicator {
  .base-minibar-unread-indicator(@icon-size);
  z-index: 2;
  visibility: hidden;
  transform: translateX(-100%) translateY(-50%);
  /* We do this over `opacity` because of slight perf */
  background-color: transparent;
  border-color: transparent;

  transition:
    visibility 0s ease .2s,
    transform 0.2s cubic-bezier(1, 2.5, 0.5, 0.76),
    background-color .2s ease,
    border-color .2s ease;


  &.has-activity {
    .room-menu-options__item__unread-indicator-visibility-reset();

    background-color: transparent;
    border-color: @caribbean;

    &.pulse-animation {
      animation-name: unread-indicator-subtle-pulse-animation;
      animation-duration: 2s;
      animation-timing-function: ease;
    }
  }
  &.has-unreads {
    .room-menu-options__item__unread-indicator-visibility-reset();

    background-color: @caribbean;

    &.pulse-animation {
      animation-name: unread-indicator-subtle-pulse-animation;
      animation-duration: 2s;
      animation-timing-function: ease;
    }

  }
  &.has-mentions {
    .room-menu-options__item__unread-indicator-visibility-reset();

    background-color: @jaffa;
    border-color: @jaffa;

    &.pulse-animation {
      animation-name: unread-indicator-subtle-pulse-animation;
      animation-duration: 2s;
      animation-timing-function: ease;
    }
  }
}


.room-menu-options__item__unread-items {
  .base-minibar-unread-indicator(@icon-size);
  background: @caribbean;
  z-index: 1;

  animation-name: unread-indicator-subtle-pulse-animation;
  animation-duration: 2s;
  animation-timing-function: ease;
}

.room-menu-options__item__mentions {
  .base-minibar-unread-indicator(@icon-size);
  background:   @jaffa;
  border-color: @jaffa;
  z-index:      2;

  animation-name: mention-indicator-subtle-pulse-animation;
  animation-duration: 2s;
  animation-timing-function: ease;
}



.room-menu-options__item__activity {
  .base-minibar-unread-indicator(@icon-size);
  background:   transparent;
  border-color: @caribbean;
  z-index:      2;

  animation-name: unread-indicator-subtle-pulse-animation;
  animation-duration: 2s;
  animation-timing-function: ease;
}




.menu-toggle-button {
  &:focus {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.menu-toggle-icon {
  margin: 0 auto;

  fill: none;
  stroke: #ffffff;
  stroke-width: 2;

  cursor: pointer;

  transition: transform 0.2s ease;

  &:hover,
  .menu-toggle-button:hover > & {
    transform: translateZ(0) rotateZ(90deg);
  }
}
