<button id="menu-close-button" class="room-menu-options__item-button menu-close-button" title="Expand/Collapse">
  <div class="close-icon">
    <div class="close-icon-stay"></div>
    <div class="close-icon-stay"></div>
    <div class="close-icon-stay"></div>
  </div>
</button>
