@import (less, reference) "~gitter-styleguide/css/components/headings.css";
@import (less, reference) "~gitter-styleguide/css/components/buttons.css";
@import "../../colors";
@import "../../break-points";

.create-topic__heading {
  margin-bottom: 6rem;
  color:         @create-modal-heading-color;
  font-weight:   100;

  @media @only-small {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.create-topic__input--name {
  &:extend(.h2);
  width:         100%;
  margin-bottom: 4rem;
  color:         @create-topic-name-color;
  font-weight:   300;

  @media @only-small { margin-bottom: 3rem; }
}

.create-topic__editor--body {
  width:      100%;
  min-height: 25rem;
}

.create-topic__control-row {
  width:          100%;
  display:        flex;
  flex-direction: row-reverse;
  margin-top:     6rem;
}

.create-topic__submit {
  &:extend(.button-caribbean--small all);
  flex-grow: 0;
  cursor: pointer;

  @media @only-small {
    margin-bottom: 2rem;
  }
}

.select--create-topic-category--decal{
  &:after {
    color: @input-border-color;
  }
}
.select--create-topic-category{
  border-color: @input-border-color;
  color: @create-topic-name-color;

  @media @only-small {
    width: 100%;
  }
}

.create-topic__details-row {
  margin-bottom: 3rem;
  display: flex;

  @media @only-small {
    flex-direction: column;
  }
}

.create-topic__input--tags {
  width: 100%;
  margin-left: 2rem;

  @media @only-small {
    margin-left: 0;
    margin-top: 2rem;
    line-height: 2;
  }
}

.create-topic__tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.create-topic__tags__child {
  &:extend(.button-pampas--xsmall all);
  margin-right: 1rem;
  cursor: pointer;
}
