@import "../../colors.less";
@import "../../text.less";
@import (less, reference) "~gitter-styleguide/css/components/buttons.css";
@import "../../../../../../public/less/markdown.less";

.feed-item {
  display: flex;
  flex-direction: column;
}

.feed-item__user-details {
  width: 5rem;
  padding-top: .5rem;
}

.feed-item__content {
  display: flex;
  margin-bottom: 1.5rem;
}

.feed-item__body {
  position: relative;
  width: 100%;
  padding: 2rem;
  background-color: @topic-reply-body-color;
  font-family: @font-family;
  overflow: hidden;
  word-wrap: break-word;

  .markdown-styles();
}

.feed-item__footer {
  display: flex;
  align-items: center;
  padding-top: 1rem;

  //Skeychy but will be refactored when we refactor
  //the feed-item/reply-list-item/comment-item components
  button {
    margin-right: .5rem;
  }
}

.m-details-text() {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: @font-family;
  color: @topic-reply-action-text-color;
}

// TODO: remove
.feed-item__likes {
  .m-details-text();
  margin-right: 1rem;
}


.feed-item__comments {
  .m-details-text();
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

@content-control-top-margin: .5rem;

.feed-item__sent {
  .m-details-text();
  font-size: 1.1rem;
  float: right;
  margin-top: @content-control-top-margin;
}

.feed-item__edit-control {
  .m-details-text();
  margin-top: @content-control-top-margin;
  border: none;
  background: none;
  outline: none;
  color: @dark;
  cursor: pointer;
  float: right;
}
