@import "../../colors.less";
@import "../../text.less";
@import (less, reference) "~gitter-styleguide/css/components/buttons.css";

.feed-item {
  display: flex;
  flex-direction: column;
}

.feed-item__user-details {
  width: 5rem;
  padding-top: .5rem;
}

.feed-item__content {
  display: flex;
  margin-bottom: 1.5rem;
}

.feed-item__body {
  position: relative;
  width: 100%;
  padding: 2rem;
  background-color: @topic-reply-body-color;
  font-family: @font-family;

  img {
    max-width: 100%;
  }
}

.feed-item__header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.feed-item__footer {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.m-details-text() {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: @font-family;
  color: @topic-reply-action-text-color;
}

// TODO: remove
.feed-item__likes {
  .m-details-text();
  margin-right: 1rem;
}


.feed-item__comments {
  .m-details-text();
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.feed-item__sent {
  .m-details-text();
  font-size: 1.1rem;
  float: right;
}

.feed-item__edit-control {
  .m-details-text();
  border: none;
  background: none;
  outline: none;
  color: @dark;
  cursor: pointer;
  float: right;
}

