@import "../../colors.less";
@import "../../text.less";

.reply-comment-list {
  box-sizing: border-box;
  width: 100%;
  padding-left: 5rem;
}

.reply-comment-list__comments {
  margin: 0;
  padding: 0;
}
