@import "../../colors";
@import (less, reference) "~gitter-styleguide/css/components/headings.css";
@import (less, reference) "~gitter-styleguide/css/components/buttons.css";

.topic-header {
  display: flex;
}

.topic-header__avatar {
  margin-right: 2rem;
}

.topic-header__title {
  margin-top:  1rem;
  color:       @light;
  line-height: 1.1;
  font-weight: 100;
}

.topic-header__username {
  &:extend(.h5 all);
  display:       block;
  margin-bottom: -1.5rem;
  color:         @topic-username-color;
}

.topic-header__control-row {
  display:         flex;
  align-items:     center;
  justify-content: flex-start;
  margin-top:      2rem;
}

.topic-header__category-link {
  &:extend(.button-clouds--xsmall);
  text-decoration: none;
}

.topic-header__tag-list {
  list-style: none;
  margin:     0;
  padding:    0;
  display:    flex;
  flex-wrap:  wrap;
}

.topic-header__tag-link {
  &:extend(.subdued-button-clouds--xsmall);
  text-decoration: none;
  margin-left: 1rem;
}
