@import "../../colors.less";

.editor--reply {
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  padding-left: 5rem;
  background: @light;
}

.avatar--reply-editor {
  position: absolute;
  top: 50%;
  margin-left: 1rem;
  transform: translateY(-50%);
}
