@import "../../colors.less";

.topic-reply-list {
  list-style: none;
  margin: 0;
  padding: 0;
  //Placeholder
  margin-bottom: 12rem;
  transition: transform .2s;
}

.topic-reply-list--editor-active {
  transform: translateY(-10rem);
}
