@import "../../colors.less";
@import "../../break-points";

.topic-reply-list {
  list-style: none;
  margin: 0;
  padding: 0;
  //Placeholder
  margin-bottom: 12rem;
  transition: transform .2s;

  @media @only-small {
    margin-bottom: 22rem;
  }
}

.topic-reply-list--editor-active {
  transform: translateY(-10rem);
  @media @only-small { transform: none; }
}
