@import (less, reference) "~gitter-styleguide/css/components/buttons.css";
@import "../../text.less";
@import (reference) "../../colors.less";
@import "../../../../../../public/less/markdown.less";

.topic-body__content {
  padding-bottom: 3rem;
  font-size: @topic-content-font-size;
  font-family: @font-family;
  line-height: 1.4;

  .markdown-styles();
}


.topic-body__content--editor {
  width: 100%;
  height: 40rem;
  margin-left: 0;
}

.topic-body__footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.topic-body__footer__action {
  &:extend(.secondary-button-jaffa--small all);
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
}

@content-control-top-margin: .5rem;
.topic-body__footer__action--edit {
  margin-top: @content-control-top-margin;
  float: right;
}

.topic-body__footer__reaction-action {
  .topic-body__footer__action();

  &.has-reaction {
    background-color: fade(@caribbean, 20%);
  }
}

.topic-body__footer__subscribe-action {
  .topic-body__footer__action();

  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1em;
  padding: .8em 1em;

  cursor: pointer;
}

.topic-body__footer__subscribe-action-text-item {
  width: 100%;
  height: 0;
  line-height: 0;

  &.hidden {
    opacity: 0;
  }
}

.topic-body__sent {
  text-transform: uppercase;
  font-family: @font-family;
  color: @topic-reply-action-text-color;
  font-size: 1.1rem;
  float: right;
  margin-top: @content-control-top-margin;
}
