@import (less, reference) "~gitter-styleguide/css/components/buttons.css";
@import "../../text.less";

.topic-body__content {
  padding: 3rem 0;
  font-size: 1.6rem;
  font-family: @font-family;
}

.topic-body__footer {
  display: flex;
  flex-direction: row-reverse;
}

.topic-body__footer__action {
  &:extend(.secondary-button-jaffa--small);
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.topic-body__footer__subscribe-action {
  .topic-body__footer__action();
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.topic-body__footer__subscribe-action-text-item {
  width: 100%;
  height: 0;
  line-height: 0;

  &.hidden {
    opacity: 0;
  }
}
