@import "../../colors.less";

.topic-reply-list-item {
  display: flex;
  flex-direction: column;
}

.topic-reply-list-item__user-details {
  width: 5rem;
  padding-top: .5rem;
}

.topic-reply-list-item__content {
  display: flex;
}

.topic-reply-list-item__body {
  width: 100%;
  padding: 2rem;
  border: 1px solid @topic-body-border-color;
  background-color: @light;
}

.topic-reply-list-item__footer {
  padding: 2rem;
  padding-left: 5rem;
}

.m-details-text() {
  font-size: 1.1rem;
  color: @dark;
  text-transform: uppercase;
}

.topic-reply-list-item__likes {
  .m-details-text();
  margin-right: 1rem;
}

.topic-reply-list-item__comments {
  .m-details-text();
}

.topic-reply-list-item__sent {
  .m-details-text();
  font-size: 1.5rem;
}
