@import "../../colors.less";

.topic-reply-list-item__header {
  margin-top: 1.5rem;
}

.topic-reply-list-item__body {
  margin-top:     .2rem;
  padding-bottom: 2rem;
  border-bottom:  1px solid @topic-reply-border-color;
  color:          @topic-reply-body-color;
  //Placeholder
  font-size: 1.4rem;
}
